{% load i18n %}
{% if errors %}

        <h3>{{errors}}</h3>


{% else %}
    <div class="row">
        <div class="col-md-12">
            <h3>{% blocktrans %}Select package{% endblocktrans %}</h3>
            {% for package in packages %}
                <div class="col-md-4">
                        <div class="well well-lg text-center">
                        <!--p>{{package.get_service_display}}</p!-->
                        <p>{{package.title}}</p>
                        <p>{% trans 'Participants' %}: {{package.participants}}</p>
                        <p>{% trans 'Original price' %}: {{package.original_price}}</p>
                        <p>{% trans 'Price' %}: {{package.price}}</p>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{fid}}" name="fid">
                            <input type="hidden" value="{{package.id}}" name="pid">
                            <button type="submit" class="btn btn-general">{% trans 'Purchase' %}</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <h5>
        <em>{% blocktrans %}* Packages filtered depend on period of your festival{% endblocktrans %}</em>
        <br>
        <em>{% blocktrans %}* You can extend your participants later by purchasing additional packages{% endblocktrans %}</em>
    </h5>
{% endif %}
