{% load i18n %}  
                    <div class="panel panel-default"> 
                        <div class="panel-heading text-center">
                            {% blocktrans %}Likes and comments chart for all of your posts{% endblocktrans %}
                        </div>
                        <div class="panel-body">
                        	<div class="row">
                            	<div id="dashboard-line-chart"></div>
                        	</div><br>
                        	<hr class="panel-hr">
                        		<!-- MOST COMMENTED POST -->
                        		<div class="col-md-6 col-sm-12 col-xs-12">
                        			<div class="panel panel-default">
                        				<div class="panel-heading text-center">
                        					{% trans "Most commented post" %}
                        				</div>
                        				<div class="panel-body">
                        					<img class="img-responsive center-block" src="{{context.most.commented.images.low_resolution}}" alt="Most commented image" style="width:300px;height:300px">
                        					<h4 class='text-center'><i class="fa fa-comments-o"></i> {% trans "Comments" %}:{{context.most.commented.comment_count}}, <i class="fa fa-clock-o"> </i> {% trans "Date" %}:{{context.most.commented.created_time}}</h4>
                                                      {% if context.most.commented.caption.text %}
                        					<hr class="panel-hr">
                        					<p>{{context.most.commented.caption.text|truncatewords:"20"}}</p>
                                                      {% endif %}
                        				</div>
                        			</div>
                        		</div>
                        		<!-- MOST LIKED POSTS -->
                        		<div class="col-md-6 col-sm-12 col-xs-12">
                        			<div class="panel panel-default">
                        				<div class="panel-heading text-center">
                        					{% trans "Most liked post" %}
                        				</div>
                        				<div class="panel-body">
                        						<img class="img-responsive center-block" src="{{context.most.liked.images.low_resolution}}" alt="Most commented image" style="width:300px;height:300px">
                        						<h4 class='text-center'><i class="fa fa-heart"></i> {% trans "Likes"%}:{{context.most.liked.like_count}}, <i class="fa fa-clock-o"> </i> {% trans "Date" %}:{{context.most.liked.created_time}}</h3></h4>
                                                            {% if context.most.liked.caption.text %}
                        						<hr class="panel-hr">
                        						<p>{{context.most.liked.caption.text|truncatewords:"20"}}</p>
                                                            {% endif %}
                        				</div>
                        			</div>
                        		</div>
                        	</div>
                        </div>
                    