{% load i18n %}            
                   <div class="panel panel-default">
                        <div class="panel-heading">
                            {% blocktrans %}Likes and Comments Chart {% endblocktrans %}
                        </div>
                        <div class="panel-body">
                            <div id="dashboard-bar-chart"></div>
                        </div>
                    </div>            