{% load i18n %}			                
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% blocktrans %}Video/Image Ratio{% endblocktrans %}
                        </div>
                        <div class="panel-body">
                            <div id="dashboard-donut-chart"></div>
                        </div>
                    </div>            
               