{% extends 'index/dashboard/admin_base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block css %}
<link href="{% static 'account/loader_spinner.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
	<div id="page-inner">
		<div class='text-center'>
			{% for message in messages %}
			<h4 id="msg" style="margin-bottom:40px;">{{ message }}</h4>
			{% endfor %}

			{%if not profile.has_facebook and not profile.has_instagram_account %}
			<div id="registration_box">
				<script src="{% static 'account/fb.js'%}"></script>
				<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
			</div>
			{% elif not profile.confirm %}
			<form action='{% url "complete_registration"%}' method='POST'>
				{% csrf_token %}
				<h5>{% blocktrans %}If you don't received email, click link below please{% endblocktrans %}</h5>
				<button type='submit' class="btn btn-lg btn-success btn-main" role="button"><i class="fa fa-envelope" style="margin-left: 8px;"></i>{% blocktrans %} Send Conformation Email Again{% endblocktrans %}</button>
			</form>
			{% elif not profile.parsed %}
			<!--TODO:Show crawling status here-->
			<p>your profile is being update, this may take time to be completed</p>
			{% else %}
			<a href="{% url 'dashboard' %}" class="btn btn-lg btn-success btn-main">Click here to view your Dashboard</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
