{% extends 'dashboard/admin_base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block css %}
<link href="{% static 'account/loader_spinner.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="page-inner">
	<div class='text-center'>
		{%if not profile.has_facebook or not profile.has_instagram_account %}
		<div id="registration_box">
			<p id="status"></p>
			<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" data-onlogin="checkLoginState();"></div>
		</div>
		{% elif not profile.confirm %}
		<form action='{% url "complete_registration"%}' method='POST'>
			{% csrf_token %}
			<h5>{% blocktrans %}If you don't received email, click link below please{% endblocktrans %}</h5>
			<button type='submit' class="btn btn-lg btn-success btn-main" role="button">
				<i class="fa fa-envelope" style="margin-left: 8px;"></i>
				{% blocktrans %} Send Conformation Email Again{% endblocktrans %}
			</button>
		</form>
		{% elif not profile.parsed %}
		<div>
			<p>{% blocktrans %}your profile is being update, this may take time to be completed, this is automatic process and you can close this page and open it later.{% endblocktrans %}</p>
			<div class="col-md-2">{% trans "Posts count: " %}<span id="progressData"></span></div>
			<div class="col-md-10">
				<div class="progress" id="progressouter">
					<div id="accountProgress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
				</div>
			</div>
			<a  id="dashboardRoute" href="{% url 'complete_registration' %}?parsed=True" class="btn btn-lg btn-success btn-main invisible">{% blocktrans %}Fetching data completed, click here to view your Dashboard{% endblocktrans %}</a>
		</div>
		{% else %}
		<a href="{% url 'dashboard' %}" class="btn btn-lg btn-success btn-main">{% blocktrans %}Click here to view your Dashboard{% endblocktrans %}</a>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block script %}
{%if not profile.has_facebook or not profile.has_instagram_account %}
<script src="{% static 'account/fb.js'%}"></script>
{% elif not profile.parsed %}
<script src="{% static 'account/progress.js'%}"></script>
{% endif %}
{% endblock %}