{% extends 'slider_base.html' %}
{% load i18n %}

{% block message %}
    {% for message in messages %}
        <h3>{{ message }}</h3>
    {% endfor %}
{% endblock %}

{% block form %}
    <!--<form id='updateForm' method="GET" action="{% url 'add_instagram_account' %}">-->
    <form id='updateForm' method="POST" action="{% url 'complete_registration' %}">
        {% csrf_token %}
    </form>
{% endblock %}