{% extends 'index/base.html' %}

{% load staticfiles %}
{% load i18n %}
    <!--<section>-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                	<!--{% if context.errors %}-->
                	<!--<h2 class="section-heading" >{% for error in context.errors %}{{error}}{%endfor%}</h2>-->
                	<!--{% else %}-->
                	<!--<h2 class="section-heading">{% for message in context.messages %}{{message}}{%endfor%}</h2>-->
                	<!--<br>-->
                	<!--<form class="form-horizontal" role="form" action='{{request.path}}' method='POST' id='login_form'>-->
                		<!--{% csrf_token %}-->
                		<!--<div class="form-group">-->
                			<!--<label class='control-label col-sm-3' for = 'password1'>{% trans 'Password' %}:</label>-->
                			<!--<div class="input-group margin-bottom-sm col-sm-7">-->
                                <!--<span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>-->
                				<!--<input type = 'password' name = 'password1' value = '' size = '50' class='form-control'/>-->
                			<!--</div>-->
                		<!--</div>-->
                		<!--<div class="form-group">-->
                			<!--<label class='control-label col-sm-3' for = 'password2'>{% trans 'Confirm Password' %}:</label>-->
                			<!--<div class="input-group margin-bottom-sm col-sm-7">-->
                                <!--<span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>-->
                				<!--<input type = 'password' name = 'password2' value = '' size = '50' class='form-control'/>-->
                			<!--</div>-->
                		<!--</div>-->
                		<!--<br>-->
                		<!--<button type="submit" class="btn btn-info btn-block btn-login">{% trans 'Change'%}</button>-->
                	<!--</form>-->
                    <!--<h4>{% blocktrans %}Don't have an account yet?{% endblocktrans %} <a href='{% url "register" %}'><b>{% blocktrans %}Register here{% endblocktrans %}</b></a></h4>-->
                    <!--{% endif %}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->



{% block content %}
<div class="main-container">
    <div class="main wrapper clearfix">
      <div class="main-page">
        <center>
          <div class="inprobes-typo-small">
            <img src='{% static "index/image/inprobes-2color.png" %}' alt="inprobes">
          </div>
		  {% if context.errors %}
			  <h4 class="section-heading" >{% for error in context.errors %}{{error}}{%endfor%}</h4>
		  {% else %}
			  <h4>{% for message in context.messages %}{% trans message %}{%endfor%}</h4>
			  <form role="form" action='{{request.path}}' method='POST' id='login_form'>
				  {% csrf_token %}
				  <div class="restore-pass">
					<input class="username input-field" type = 'password' name = 'password1'>
				  </div>
				  <div>
				  <div class="restore-pass">
					<input class="username input-field" type = 'password' name = 'password2'>
				  </div>
				  <div>
					<button class="btn-login" type="submit">بازیابی رمز عبور</button>
					<div class="create-account">
					  <h4>اکانت اینپروبز ندارید؟    <a href='{% url "register" %}'>از اینجا بسازید.</a></h4>
					</div>
				  </div>
			  </form>
		  {% endif %}
        </center>
      </div>
    </div>
</div>
{% endblock %}