{% extends 'index/base.html' %}
{% load staticfiles %}
{% block content %}
{% load i18n %}
<section>
	<div class="col-md-12 col-xs-12 col-sm-12">
		<div class="container">
			<div class="row text-center">
				<br>
				<div class="col-md-3 col-sm-2 col-xs-2"></div>
				<div class="col-md-6 col-xs-8 col-sm-8 login-feat">
					<img src='{% static "index/image/inprobes-2color.png" %}' class="img-fluid responsive " alt="inprobes">
					<h4 class="dir-right">لطفاً نام کاربری یا ایمیل خود را وارد کنید.</h4>
					<form class="form-login dir-right" role="form" action='{{request.path}}' method='POST' id='login_form'>
						<div class="form-group">
							<input type="username" class="form-control input-pad" id="username" placeholder="نام کاربری یا ایمیل" name="email">
						</div>
						<button type="submit" class="btn btn-default btn-submit">بازیابی رمز عبور</button>
						<div class="mt-3 f-16">
							<p style="color:#000;">اکانت اینپروبز ندارید؟ <a class="login-a" href={% url 'register' %}>از اینجا بسازید</a></p>
						</div>
					</form>
					<div class="col-md-3 col-sm-2 col-xs-2"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
{% endblock %}