{% load i18n %}  
<div class="panel panel-default">
	<div class="panel-heading text-center">
		{% blocktrans %}Likes and comments chart for all of your posts{% endblocktrans %}
	</div>
	<div class="panel-body">
		<div class="row">
			<div id="dashboard-line-chart"></div>
		</div><br>
		<hr class="panel-hr">
			<!-- MOST COMMENTED POST -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
						{% trans "Most commented post" %}
					</div>
					<div class="panel-body">
						<center>
							<img src="{{context.most.commented.images.low_resolution}}" class="img-rounded img-responsive">
							<div class="clear-top middle-size">
								<i class="fa fa-heart"></i> {{context.most.commented.like_count}} |
								<i class="fa fa-comments"></i> {{context.most.commented.comment_count}} |
								<i class="fa fa-clock-o"> </i> {{context.most.commented.created_time|date:"d M, Y"}}
							</div>
							<hr class="panel-hr">
							<p>{{context.most.commented.caption.text|truncatewords:"20"}}</p>
						</center>
					</div>
				</div>
			</div>
			<!-- MOST LIKED POSTS -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
						{% trans "Most liked post" %}
					</div>
					<div class="panel-body">
						<center>
							<img src="{{context.most.liked.images.low_resolution}}" class="img-rounded img-responsive">
							<div class="clear-top middle-size">
								<i class="fa fa-heart"></i> {{context.most.liked.like_count}} |
								<i class="fa fa-comments"></i> {{context.most.liked.comment_count}} |
								<i class="fa fa-clock-o"> </i> {{context.most.commented.created_time|date:"d M, Y"}}
							</div>
								<hr class="panel-hr">
							<p>{{context.most.liked.caption.text|truncatewords:"20"}}</p>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
                    