{% load i18n %}
<div class="panel panel-default">
	<div class="panel-heading text-center">
		{% blocktrans %}Likes and Comments Chart in last 20 posts{% endblocktrans %}
	</div>
	<div class="panel-body">
		<div id="dashboard-line-chart"></div>
	</div>
</div>