{% load staticfiles %}
{% load i18n %}
<div class="panel panel-default">
	<div class="panel-heading text-center">
		{% blocktrans %}The Most Popular Posts(by likes){% endblocktrans %}
	</div>
	<div class="panel-body">
		{% for media in table %}
		<div class="col-md-3 col-sm-4 col-xs-6 post-tile">
			<center>
				<img src="{{media.media_url}}" class="img-rounded img-responsive" style="height:160px; width:160px">
				<i class="fa fa-heart"></i> {{media.like_count}} |
				<i class="fa fa-comments"></i> {{media.comments_count}}
			</center>
		</div>
		{% endfor %}
	</div>
</div>