{% load i18n %}
<div class="panel panel-default">
    <div class="panel-heading">
        فراوانی هشتگ‌های استفاده شده
    </div>
    <div class="panel-body">
        <div id="tags-bar-chart"></div>
    </div>
</div>