body{
  width: 100%;
  margin: 0px;
}
.form-place{
  display: block;
  margin:10% 75% 10% 30%;
  float: center;
}
input[type=text]{
  width: 500px;
  height: 50px;
  border: 2px solid #268363;
}

.area-place{
  color: balck;
  width: 500px;
  height: 300px;
  border: 2px solid #268363;
}
.btn-style{
  display: inline;
  width: 150px;
  margin: 10px;
  padding: 10px;
}
