{% extends 'index/dashboard/admin_base.html' %}

{% load i18n %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/css/bootstrap-dialog.min.css">
{% endblock %}
{% block content %}
    <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h2>{% blocktrans %}Festival{% endblocktrans %}</h2>   
                            <h5>{% blocktrans %}Create your festival right now{% endblocktrans %}</h5>
                        </center>
                    </div>
                </div>
               
               <!-- /. ROW  -->   
               <hr />
               <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center>{% blocktrans %}Complete this form{% endblocktrans %}</center>
                        </div>
                        <div class='panel-body'>
                                <form role="form" action='' method='POST' id='festival-form'>
                                    {% csrf_token %}
                                    <div class='row clear-bottom'>
                                        <div class='col-md-12 col-xs-12 col-sm-12'>
                                            <label for = 'subject'>{% trans context.form.title.label %}</label>
                                            {{ context.form.title }}
                                        </div>
                                    </div>
                                    <div class = 'row clear-bottom'>
                                        <div class='col-md-12 col-xs-12 col-sm-12'>
                                            <label for='message'>{% trans context.form.description.label %}</label>
                                            {{context.form.description}}
                                        </div>
                                    </div>
                                    <div class='row clear-bottom'>
                                        <div class='col-md-6 col-xs-12 col-sm-6'>
                                            <label>{% trans context.form.hashtag.label %}</label>
                                            {{context.form.hashtag}}
                                        </div>
                                        <div class='col-md-6 col-xs-12 col-sm-6'>
                                            <label>{% trans context.form.scoring.label %}</label>
                                        {{context.form.scoring}}
                                        </div>
                                    </div>
                                    <div class='row clear-bottom'>
                                        <div class='col-md-6 col-xs-12 col-sm-6'>
                                            <label>{% trans context.form.start_date.label %}</label>
                                            <div class='input-group date' id='datetimepicker2'>
                                                {{context.form.start_date}}
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class='col-md-6 col-xs-12 col-sm-6'>
                                            <label>{% trans context.form.end_date.label %}</label>
                                            <div class='input-group date' id='datetimepicker2'>
                                                {{context.form.end_date}}
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center collapse-title">
                                        <a href="#more-info" data-toggle="collapse"><span class="text-center">More information</span></a>
                                    </div>
                                    <div class='row collapse clear-bottom' id='more-info'>
                                        <div class='col-md-6 col-xs-12 col-sm-6'>
                                            <label>{% trans context.form.tagged_users.label %}</label>
                                            {{context.form.tagged_users}}
                                        </div>
                                        <div class='col-md-6 col-xs-12 col-sm-6'>
                                            <label>{% trans context.form.alternatives.label %}</label>
                                            {{context.form.alternatives}}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-general">{% blocktrans %}Submit Data{% endblocktrans %}</button>                                  
                                </form>
                        </div>
                    </div><!-- End Form Elements -->
                </div>
            </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/js/bootstrap-dialog.min.js"></script>
    <script src='{% static "widget/js/festival_form.js" %}' ></script>
{% endblock %}