{% load analytical %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% analytical_head_top %}
    {% load staticfiles %}
    {% load i18n %}
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content="{% trans 'Professional Instagram Analyzer • InProbes' %}" />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
    <title>InProbes • {{request.user|title}}</title>

    <!-- favicon.ico setting -->
    <link rel="shortcut icon" href="{% static 'index/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'index/favicon.ico' %}" type="image/x-icon">
	<!-- BOOTSTRAP STYLES-->
    <link href='{% static "index/assets/css/bootstrap.css" %}' rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href='{% static "index/assets/css/font-awesome.css" %}' rel="stylesheet"  />
     <!-- MORRIS CHART STYLES-->
    <link href='{% static "index/assets/js/morris/morris-0.4.3.min.css" %}' rel="stylesheet" />
      <!-- CUSTOM STYLES-->
    <link href='{% static "index/assets/css/custom.css" %}' rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
      <!-- GOOGLE FONTS-->
    {% block css %}{% endblock %}
      <!-- RTL STYLE -->
    {% get_current_language_bidi as bidi %}
    {% if bidi %}
    <link href='{% static "index/assets/css/RTL.css" %}' rel="stylesheet" />
    {% endif %}
    {% analytical_head_bottom %}
</head>
<body>
    {% analytical_body_top %}
    <div id="wrapper">
        {% include 'index/dashboard/widgets/nav_top.html' %}
        {% include 'index/dashboard/widgets/nav_side.html' %}

        {% block content %}{% endblock %}

    </div>
    <!-- /. WRAPPER  -->

    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src='{% static "index/assets/js/jquery-1.10.2.js" %}'></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src='{% static  "index/assets/js/bootstrap.min.js" %}'></script>
    <!-- METISMENU SCRIPTS -->
    <script src='{% static  "index/assets/js/jquery.metisMenu.js" %}'></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src='{% static "index/assets/js/morris/raphael-2.1.0.min.js" %}'></script>
    <script src='{% static "index/assets/js/morris/morris.js" %}' ></script>
      <!-- TWITTER EMOJI-->
      <script src='{% static "index/assets/js/emoji.js" %}' ></script>
      <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>


    <!-- CUSTOM SCRIPTS -->
    <script src='{% static "index/assets/js/custom.js" %}'></script>

      <!-- CUSTOM SCRIPTS -->
    {% block charts %}{% endblock %}
    {% block script %}{% endblock %}
    {% analytical_body_bottom %}
</body>
</html>
