{% extends 'index/dashboard/admin_base.html' %} 
{% load i18n %}


{% block content %}
        
<div id="page-wrapper" >
            <div id="page-inner"> 
                <div class='row'>
                    <div class="col-md-12 col-sm-12- col-xs-12">
                        <div class="col-md-3 col-sm-12- col-xs-12"></div>
                        <div class="col-md-6 col-sm-12- col-xs-12">
                            <div class="well well-lg text-center">
                                <p>{% blocktrans %}All services that you are using right now will be <b>free</b> for ever, but maybe some facilities added to service in future and you should pay to use them if you prefer.{% endblocktrans %}</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12- col-xs-12"></div>
                    </div>
                </div>
                <!--div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="well well-lg">
                            <h4 class='text-center'>Large Well</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            <center><button class='btn btn-primary'>PURCHASE</button></center>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="well well-lg">
                            <h4 class='text-center'>Large Well</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            <center><button class='btn btn-primary'>PURCHASE</button></center>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="well well-lg">
                            <h4 class='text-center'>Large Well</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            <center><button class='btn btn-primary'>PURCHASE</button></center>
                        </div>
                    </div>
                </div -->
                 <!-- /. ROW  -->
                 <hr />
               
                </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
{% endblock %}





