﻿{% extends 'index/dashboard/admin_base.html' %}

{% block content %}
{% load i18n %}
         <div id="page-wrapper" >
            <div id="page-inner">
                {% include 'index/dashboard/widgets/sticky_note.html' %}
                <!-- /. ROW  -->
                <div class="row clear-banner">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="bg-color-alternate promote-banner">
                            <center><h3><a style="color: white;text-decoration: none;" href="{% url 'festival_form' %}">Some text here for some reasons...</a></h3></center>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">

                        <div class="panel panel-primary text-center boder-primary bg-color-note-primary">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6"> <i class="fa fa-slack fa-3x" aria-hidden="true"></i></div>
                                    <div class="col-md-6"> <h3 class ='notice-h3'>{{context.tags}}</h3> </div>
                                </div>
                                <div class='row'>
                                    <h3> {% blocktrans %}Hashtags used {% endblocktrans %}</h3>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary text-center boder-primary bg-color-note-primary">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6"> <i class="fa fa-users fa-3x"></i></div>
                                    <div class="col-md-6"> <h3 class ='notice-h3'>{{context.tagged_users}}</h3> </div>
                                </div>
                                <div class='row'>
                                    <h3>{% blocktrans %} Users tagged {% endblocktrans %}</h3>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary text-center boder-primary bg-color-note-primary">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6"> <i class="fa fa-flag fa-3x"></i></div>
                                    <div class="col-md-6"> <h3 class ='notice-h3'>{{context.day_streak}}</h3> </div>
                                </div>
                                <div class='row'>
                                    <h3>{% blocktrans %} Active days {% endblocktrans %}</h3>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-9 col-sm-12 col-xs-12">
                    {% include 'index/dashboard/widgets/charts/line_chart.html' %}
                    </div>
                </div>
                <hr>
                 <!-- /. ROW  -->
                <!--<div class="row" >-->
                    <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                        <!--{% for media in context.table %}-->
                            <!--<img src="{{media.images.thumbnail}}" class="img-rounded" width="80" height="80">-->
                            <!--{{media.like_count}} | {{media.comment_count}}-->
                        <!--{% endfor %}-->
                    <!--</div>-->
                <!--</div>-->

                <hr>
                <div class="row" >
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        {% include 'index/dashboard/widgets/popular_table.html' %}
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="panel panel-primary text-center no-boder bg-color-note1">
                        <div class='panel-body back-footer-new'>
                            <br>
                            <i class="fa fa-credit-card fa-5x"></i>
                            <h4>{% blocktrans %} Payment info {% endblocktrans %}</h4>
                            <h6>{% blocktrans %}(All services are free right now){% endblocktrans %}</h6>
                        </div>
                        <div class="panel-body baner-light">
                            <i class="fa fa-file-pdf-o fa-5x"></i>
                            <h4>{% blocktrans %}Generate{% endblocktrans %} PDF</h4>
                            <h6>{% blocktrans %}(Will be available soon){% endblocktrans %}</h6>
                        </div>
                        <div class="panel-footer back-footer-new">
                             <i class="fa fa-futbol-o fa-5x"></i>
                            <h4>{% blocktrans %}Create Your Custom # FESTIVAL{% endblocktrans %}</h4>
                            <h6>{% blocktrans %}(Will be available soon){% endblocktrans %}</h6>
                        </div>
                      </div>
                    </div>
                </div>
                <hr>
             <!-- /. ROW  -->
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
{% endblock %}

{% block charts %}
    {% load staticfiles %}
    <script type="text/javascript">
        var linedata = [{% for media in context.chart %}
                           {m: '{{media.created_time|date:"M-d"|safe}}', l: {{media.like_count|safe}}, c: {{media.comment_count|safe}}}{% if not forloop.last %},{% endif %}
                        {% endfor %}];
        var donutdata = [{
                    label: "Images",
                    value: {{context.ratio.image|safe}}
                }, {
                    label: "Videos",
                    value: {{context.ratio.video|safe}}
                }]
    </script>
    <script src='{% static "index/assets/js/dashboard-charts.js" %}'></script>
 
{% endblock %}
