﻿{% extends 'index/dashboard/admin_base.html' %}

{% block content %}
{% load i18n %}
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h2>{% blocktrans %}All your posts in a overview{% endblocktrans %}</h2>   
                           <!--<h5>{% blocktrans %}Last update{% endblocktrans %} : {{request.user.userprofile.instagram_id.last_update}} <a formmethod="post" type='submit' class="btn btn-default" role="button" href='{% url "get_media" %}?next={{request.path}}'><i class="fa fa-instagram"></i>-->

 <!--{% blocktrans %}UPDATE NOW{% endblocktrans %}</a>-->
                               <h5>{% blocktrans %}Last update{% endblocktrans %} : {{profile.instagram_id.last_update}} <i class="fa fa-instagram"></i>
                            </h5>
                        </center>
                    </div>
                </div>
                 <!-- /. ROW  -->
                    <hr>
                    {% for m in context.media %}
                            <div class="col-md-3 col-xs-4">
                                <a class="thumbnail" data-toggle="modal" data-target="#{{m.images.id}}">
                                    <img src="{{m.images.thumbnail}}" alt="#image#" class="img-responsive">
                                </a>
                                <div class="modal fade" id="{{m.images.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class='col-md-7'>
                                                        <img src="{{m.images.low_resolution}}" class="img-responsive">
                                                    </div>
                                                    <div class='col-md-5'>
                                                        <table class='table'>
                                                            <tbody>
                                                                <tr><td><i class="fa fa-heart" aria-hidden="true"></i>{% trans 'Likes' %}</td><td><span class="badge">{{m.like_count}}</td></tr>
                                                                <tr><td><i class="fa fa-comments" aria-hidden="true"></i>{% trans 'Comments' %}</td><td><span class="badge">{{m.comment_count}}</td></tr>
                                                                <tr><td><i class="fa fa-tags" aria-hidden="true"></i>{% trans 'Tags' %}</td><td><span class="badge">12</td></tr>
                                                                {% if m.location %}
                                                                <tr><td><i class="fa fa-location-arrow" aria-hidden="true"></i>{% trans 'Location' %}</td><td><span class="badge">{{m.location}}</td></tr>
                                                                {% endif %}
                                                                <tr><td><i class="fa fa-users" aria-hidden="true"></i>{% trans 'Users in' %}</td><td><span class="badge">**</td></tr>
                                                                <tr><td><i class="fa fa-clock-o" aria-hidden="true"></i>{% trans 'Time' %}</td><td><span class="badge">{{m.created_time|date:'Y M d D'}}</td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <hr>
                                                <p>{{m.caption.text}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

                    {% endfor %}
                <!-- /. ROW  -->
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
{% endblock %}