<!doctype html>
{% load analytical %}
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
	{% analytical_head_top %}
	{% load staticfiles %}
	{% load i18n %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block meta%}{% endblock %}
	{% block title %}{% endblock %}
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% block css %}{% endblock %}
	<!-- RTL setting -->
	{% get_current_language_bidi as bidi %}
	{% if bidi %}
	<!-- link href='{% static "index/css/RTL.css" %}' rel="stylesheet" /-->
	{% endif %}
	{% analytical_head_bottom %}
</head>
<body>
{% analytical_body_top %}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% include 'index/nav_bar_header.html' %}

{% block content %}{% endblock %}

{% include 'index/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
  function validateSubscribeEmail() {
  var email= document.getElementById("subscribe-email").value;
  var csrftoken = Cookies.get('csrftoken');
  $.ajax({
          type:"GET",
          url:'/account/newsletter/subscribe/',
          data:{email:email},
          success:function(responsedata){
            document.getElementById("subscribe-message").innerHTML = responsedata.message;
          }
       })
  }

</script>
{% block js %}{% endblock %}
{% analytical_body_bottom %}
</body>
</html>
