{% extends 'index/base.html' %}
{% load i18n %}
{% block title %}
    <title>{% trans 'Professional Instagram Analyzer • InProbes' %}</title>
{% endblock %}
{% load staticfiles %}
{% block meta%}
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content='{% trans "InProbes • Login" %}' />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block content %}
{% load i18n %}
<div class="main-container">
    <div class="main wrapper clearfix">
      <div class="main-page">
        <center>
          <div class="inprobes-typo-small">
            <img src='{% static "index/image/inprobes-2color.png" %}' alt="inprobes">
          </div>
            <p style="margin-top:30px; padding: 0px 200px;">
                اینپروبز سرویس‌های متنوعی رو ارایه میده که برای دیدن لیست کامل و توضیحات بیشتر میتونید <a href="#">این صفحه</a> رو ببینید. لیست پکیج‌های متنوع ارتقا حساب کاربری هم در دسترس قرار داره که از <a href="#">این لینک</a> میتونید مشاهده کنید و اکانت خودتون رو ارتقا بدید.
اگر حس میکنید باید قبل از اقدام به خرید، سرویس رو تست کنید یا برای استفاده از سرویس‌های ما توی شرکت/سازمان/استارتاپ خودتون نیاز به مشاوره دارید کافیه که با demo@inprobes.com مکاتبه کنید تا ما یک اکانت تست براتون بسازیم یا توی پیدا کردن سرویس و پیکیج مناسب کمکتون کنیم.
            </p>
        </center>
      </div>
    </div>
</div>
{% endblock %}