{% extends 'index/base.html' %}
{% load i18n %}
{% block title %}
<title>Privacy policy • Inprobes</title>
{% endblock %}
{% block meta%}
<meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
<meta property="og:title" content='{% trans "InProbes • context.title" %}'/>
<meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}"/>
<meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png"/>
<meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block content %}
<section>
	<br>
	<div class="container">
		<div class="row">
			<br><br>
			<div class="col-md-2 col-xs-1 col-sm-1"></div>
			<div class="col-md-8 col-xs-10 col-sm-10">
				<h3>Privacy Policy</h3>
				<br><br>
				An important basis for the design InProbes , Care of the user's personal informationand this can be seen in all the services offered site.it should be noted all of privacy policy of
				InProbes are subset of Instagram privacy policy and this site will be according to the Islamic Republic Iran. All Privacy Policy to use of InProbes , is as follow :

				1. Information collection and use

				1.1 information such as name ,family , email ,…that you enter when register on site ,just to provide unique services to you

				1.2 From time to time, we may ask for and gather additional information from you.

				1.3 All process of add Instagram account will be done by API and InProbes have no information of your password.

				1.4 InProbes have no access to your Direct Message and all of this messages will be safe for you .

				2. Information Security

				2.1 InProbes to care of your personal information tries that dear users have a good experience

				2.2 We use commercially reasonable methods to keep personally identifiable information securely in Our files and systems. We do not handle your Instagram passwords directly.

				2.3 Our databases are secured with passwords to guard against unauthorized access of Our systems.

				3. Information Sharing and Disclosure

				3.1 InProbes never provide your personal information to other organizations and individuals and also not rent unless whit warrant forced provide to Judicial authority.

				3.2 InProbes keeps for self the right to publish general and statistics information of a group of users for commercial and research purposes .It is obvious that this paragraph does not
				include your personal information .

				3.3 you can after the register in site shared your personal information through API whit Third party services.

				4. Our policy towards children Our Site is not directed to children under 13. If you become aware that your child has provided Us with personal information without your consent, please
				contact Us at info@inprobes.me. We do not knowingly collect personal information from children under 13 and if faced whit this terms we can immediately delete saved information in
				InProbes servers .

				5. Third Party Links and Advertising you may see advertising links to third party websites in your panel that InProbes have no responsibility to keep your information in this sites
				.also responsibility of content provided in this links is whit responsible of site.

				6. Questions and Suggestions If you have any questions or concerns about this Privacy Policy or its implementation you may contact Us at info@inprobes.me.

				7. Modifications to This Privacy Policy This Privacy Policy is subject to change at any time without notice. To make sure more, review it periodically.

				8. Miscellaneous

				8.1 user content will be stored in a database and after statistical calculations will be made available to them.

				8.2 Any change in the main account users in less than 24 hours the content stored in the database will be applied.

				8.3 you can access to information with last of update .

				8.4 user information updated regularly ,but any time you can update your account .

				8.5 For the purposes of service ,you cant post or remove comment directly from Instagram .

				8.6 users can unsubscribe at any time and exit system .

				8.7 information of users that unsubscribe stay on site until 90 days ,because if return again given to them and after this time clear information.</p>
				<br><br><br><br>
				<p style="font-weight:bold;"> Dec. 12, 2016, 9:11 a.m.</p>
			</div>
			<div class="col-md-2 col-xs-1 col-sm-1"></div>
		</div>
	</div>
</section>
{% endblock %}
