{% extends 'index/base.html' %}
{% load i18n %}
{% block title %}
<title>Terms of service • Inprobes</title>
{% endblock %}
{% block meta%}
<meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
<meta property="og:title" content='{% trans "InProbes • context.title" %}'/>
<meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}"/>
<meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png"/>
<meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block content %}
<section>
	<br>
	<div class="container">
		<div class="row">
			<br><br>
			<div class="col-md-2 col-xs-1 col-sm-1"></div>
			<div class="col-md-8 col-xs-10 col-sm-10">
				<h3>Terms of Service</h3>
				<br><br>Dear Members who wish to register InProbes and use their services, Please optimal use of the Site ,read all rules and then register. All of this SiteIn accordance with the laws
				of the Islamic Republic of Iran.

				1. Our Services

				1.1 InProbes is a web viewer for Instagram, the free photo-sharing program and social network. In this services, you can analyze and manage your Instagram account. InProbes also give
				you number of likes ,comments ,tags ,hashtags ,… .We will develop our service in the future.

				1.2 Unless stated otherwise, all services are provided free of charge.

				2. Register

				2.1 register in site done for free.

				2.2 when users subscribe ,must enter your name and family ,username ,password ,… .

				2.3 Each user after subscribe ,can use the site’s services.

				3. Third-party sites

				3.1 We use certain third-party websites, services and API to provide Our services through the Site. Therefore, We require that your use of the Site be in compliance with all applicable
				terms of usage, including: Instagram’s Terms of Use .

				3.2 The Site contains links to third-party sites. When you click on any link that takes you outside of the Site, your use of the Internet will be governed by the terms of usage and
				privacy policies of the same site and InProbes no responsibility for this sites.

				4. Acceptable Use

				4.1 Whit register in InProbes ,you agree to not use the Site and Our services to:

				(i) post unauthorized and unsolicited commercial communications;

				(ii) introduce e-viruses or other malicious code;

				(iii) solicit login information or access an account belonging to someone else;

				(iv) bully, intimidate, or harass any user

				(v) post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence;

				(vi) do anything unlawful, misleading, malicious, or discriminatory;

				(vii) violate the privacy rights, publicity rights, copyrights, contract rights, intellectual property rights or any other rights of any person;

				4.2 You are solely responsible for complying with all applicable laws in all of your actions related to your use of the Site. You may not use the Site for activities that violate any
				law, statute, ordinance or regulation. You are required to comply with all applicable laws regarding online conduct.

				4.3 Whit register in InProbes you agree do not help or encourage others to misuse and violation of site rules.

				5. Warranties

				5.1 Although the Site and the services are usually available, there will be occasions when the Site or the services will be interrupted for scheduled maintenance or upgrades, for
				emergency repairs, or due to failure of telecommunications links and equipment that are beyond Our control.

				6. Miscellaneous

				6.1 For information about Our data protection and collection practices, please read Our Privacy Policy at websta.me/tos, which is incorporated in this Terms of Service by this
				reference. You agree to Our use of your data in accordance with the Privacy Policy.

				6.2 We may provide you with notices, including those regarding changes to this Terms of Service, by email, regular mail, or postings on the Site. You may provide Us with notices by
				email to info@websta.me.

				6.3 This Terms of Service supersedes any prior agreements between you and Usfor the use of Our services.

				6.4 You agree that, except as otherwise expressly provided in this Terms of Service, there shall be no third party beneficiaries to this Terms of Service.

				6.5 This Terms of Service is subject to change at any time without notice. To make sure you are aware of any changes, please review it periodically.</p>
				<br><br><br><br>
				<p style="font-weight:bold;">{% trans 'Last update' %}: Dec. 11, 2016, 10:49 p.m.</p>
			</div>
			<div class="col-md-2 col-xs-1 col-sm-1"></div>
		</div>
	</div>
</section>
{% endblock %}
