{% load i18n %}
<section>
    <div class="col-md-12 bord-green">
        <div class="container">
            <div class="row">
                <div class="footer">
                <br><br>
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <div class="flo-right" style="margin-right:4%;">
                            <span id="subscribe-message" class="title"></span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary btn-color" type="button" onclick="validateSubscribeEmail()">عضویت</button>
                                </div>
                                <input type="text" class="form-control dir-right" placeholder="لطفا ایمیل خود را وارد کنید" name="subscribe-email" id="subscribe-email" placeholder="آدرس ایمیل خود را وارد کنید" aria-label="" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <br><br>
                        <div class="social-div">
                            <ul class="point-ul social">
                                <li><a href="https://www.telegram.me/inprobes"><i class="fab fa-telegram fa-2x"></i></a></li>
                                <li><a href="https://www.instagram.com/inprobes"><i class="fab fa-instagram fa-2x"></i></a></li>
                                <li><a href="https://www.twitter.com/inprobes"><i class="fab fa-twitter fa-2x"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/inprobes"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
                                <li><a href="https://www.facebook.com/inprobes"><i class="fab fa-facebook fa-2x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12 col-sm-12">
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="footer-feature">
                            <ul class="col-sm-6 point-ul">
                                <li><a href={% url 'page' slug="services" %}>سرویس ها</a></li>
                                <li><a href={% url 'page' slug="prices" %}>تعرفه ها</a></li>
                                <li><a href={% url 'page' slug="demo" %}>دریافت دمو</a></li>
                                <li><a href={% url 'page' slug="blog" %}>بلاگ</a></li>
                            </ul>
                            <ul class="col-sm-6 point-ul">
                                <li><a href={% url 'page' slug="faq" %}>سوالات متداول</a></li>
                                <li><a href={% url 'page' slug="contact-us" %}>تماس با ما</a></li>
                                <li><a href={% url 'page' slug="terms-of-service" %}>شرایط استفاده</a></li>
                                <li><a href={% url 'page' slug="privacy-policy" %}>حریم شخصی</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <br>
            <h4 class="mid-text">ساخته شده با <i class="fas fa-heart fa-x fa-feature"></i> در تهران</h4>
        </div>
    </div>
</section>