{% extends 'index/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
<title>آنالیز حرفه‌ای اینستاگرام.اینپروبز</title>
{% endblock %}

{% block meta%}
<meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
<meta property="og:title" content='{% trans "InProbes • Login" %}'/>
<meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}"/>
<meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png"/>
<meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}

{% block content %}
<section class="back-img">
	<section class="fold-first">
		<div class="col-md-12">
			<div class="container">
				<div class="row text-center">
					<div class="align-fold">
						<div class=""><img src='{% static "index/image/inprobes-color.png"%}' class="img-fluid responsive " alt="inprobes"></div>
						<div class=""><img src='{% static "index/image/PERSION-COLOR.png" %}' class="img-fluid responsive " alt="inprobes"></div>
						<br>
						<a href="{% url 'register' %}" class="btn btn-feature responsive mt-3"> همین الان رایگان ثبت نام کن</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<section>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12 mb-3">
				<div class="">
					<!-- <hr class="hr-feat1">
					<hr class="hr-feat2"> -->
				</div>
				<div class="about-us">
					<h3>درباره اینپروبز</h3>
					<p>{{context.about_inprobes}}</p>
				</div>
				<div class="container">
					<hr class="hr-feat3">
					<hr class="hr-feat4">
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="col-md-12">
		<div class="container">
			<div class="service">
				<h3 class="dir-right mid-text" style="margin-bottom: 40px;"> اینپروبز چه می کند...</h3>
				<div class="col-md-3 col-sm-6 col-xs-12 service">
					<div class="">
						<img src='{% static "index/image/api.png" %}' alt="" class="img-fluid responsive img-pad">
						<h4 class="mid-text">api</h4>
						<p class="mid-text t-weight">آیا برای سیاست گذاری در شبکه های اجتماعی نیاز به پورت دارید؟از اینپروبز بخواهید.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 service">
					<div class="">
						<img src='{% static "index/image/5.png" %}' alt="" class="img-fluid responsive img-pad">
						<h4 class="mid-text">آنالیز اکانت</h4>
						<p class="mid-text t-weight">آنالیز جامع اکانت اینستاگرام شما در اینپروبز بر اساس رفتار مخاطبانتان انجام می‌شود.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 service">
					<div class="">
						<img src='{% static "index/image/4.png" %}' alt="" class="img-fluid responsive img-pad">
						<h4 class="mid-text">برگزاری کمپین</h4>
						<p class="mid-text t-weight">با اینپروبز کمپین‌های مطمین برگزار کنید و جشنواره‌های خود را به راحتی مدیریت کنید.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 service">
					<div class="">
						<img src='{% static "index/image/1.png" %}' alt="" class="img-fluid responsive img-pad">
						<h4 class="mid-text">آنالیز هشتگ</h4>
						<p class="mid-text t-weight">هشتگ مورد نظر خودتان را تعریف کنید و با اینپروبز رفتار مخاطبان نسبت به آن را تحلیل و بررسی کنید.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}