{% extends 'index/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
<title>{% trans "InProbes • Login" %}</title>
{% endblock %}

{% block meta%}
<meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
<meta property="og:title" content='{% trans "InProbes • Login" %}'/>
<meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}"/>
<meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png"/>
<meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}


{% block content %}
<section>
	<div class="col-md-12 col-xs-12 col-sm-12">
		<div class="container">
			<div class="row text-center">
				<br>
				<div class="col-md-3 col-sm-2 col-xs-2"></div>
				<div class="col-md-6 col-xs-8 col-sm-8 login-feat">
					<img src='{% static "index/image/inprobes-2color.png" %}' class="img-fluid responsive " alt="inprobes">
					<h4>لطفا اطلاعات زیر را وارد کنید</h4>
					<form class=" form-login dir-right" role="form" action='' method='POST' id='login_form'>
						{% csrf_token %}
						<div class="form-group">
							<input type="username" class="form-control input-pad" id="id_username" placeholder="نام کاربری" name="username">
						</div>
						<div class="form-group">
							<input type="password" class="form-control input-pad" id="id_password" placeholder="رمز ورود" name="password">
						</div>
						<div class="f-16"><a href="{% url 'password_reset' %}" class="login-a">بازیابی رمز عبور</a></div>
						<button type="submit" class="btn btn-default btn-submit">ورود</button>
						<div class="mt-3 f-16">
							<p style="color:#000;">اکانت اینپروبز ندارید؟ <a class="login-a" href='{% url "register" %}'>از اینجا بسازید</a></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}