{% load staticfiles %}
<nav class="nav navbar-default nav-feature">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href='{% url "home" %}' class="navbar-brand"><img src='{% static "index/image/logo1.png"%}'></a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li {% ifequal context.nav_key 'home' %}class="active"{% endifequal %}><a href='{% url "home" %}'>خانه</a></li>
            <li {% ifequal nav_key 'services' %}class="active"{% endifequal %}><a href='{% url "page" slug="services" %}'>سرویس ها</a></li>
            <li {% ifequal context.nav_key 'demo' %}class="active"{% endifequal %}><a href='{% url "page" slug="demo" %}'>دمو</a></li>
            <li {% ifequal nav_key 'blog_post_list' %}class="active"{% endifequal %}><a href='{% url "blog_post_list" %}'>بلاگ</a></li>
            <li {% ifequal context.nav_key 'login' %}class="active"{% endifequal %}><a href='{% url "user_login" %}'>ورود</a></li>
        </ul>
    </div>
</nav>