{% extends 'index/base.html' %}
{% load i18n %}
{% block title %}
<title>اینپروبز • {{page.header}}</title>
{% endblock %}

{% block meta%}
<meta name="description" content="{{page.meta_desc}}">
<meta property="og:title" content='{% trans "InProbes • context.title" %}'/>
<meta property="og:description" content="{{page.meta_desc}}"/>
<meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png"/>
<meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}

{% block content %}
<section>
	<br>
	<div class="container">
		<div class="row">
			<br><br>
			<div class="col-md-2 col-xs-1 col-sm-1"></div>
			<div class="col-md-8 col-xs-10 col-sm-10 dir-right">
				<h3>{{page.header}}</h3>
				<br><br>
				{{page.body|safe}}
				<br><br><br><br>
				<p style="font-weight:bold;">{% trans 'Last update' %}: {{page.updated}}</p>
			</div>
			<div class="col-md-2 col-xs-1 col-sm-1"></div>
		</div>
	</div>
</section>
{% endblock %}