{% extends 'index/base.html' %}
{% load i18n %}
{% block title %}
<title>{% trans "InProbes • Prices" %}</title>
{% endblock %}
{% load staticfiles %}
{% block meta%}
<meta name="description"
      content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
<meta property="og:title" content='{% trans "InProbes • Login" %}'/>
<meta property="og:description"
      content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}"/>
<meta property="og:image"
      content="https://inprobes.com/static/index/img/logo/social.png"/>
<meta name="keywords"
      content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block content %}
{% load i18n %}
<section>
    <br>
    <div class="col-md-12 container">
        <div class="row">
            <br>
            {% for package in packages %}
            <div class="col-md-4 col-xs-12 col-sm-12 flo-right">
                <div class="price-feat">
                    <div>
                        <h3>{{package.title}}</h3>
                        <hr>
                        {% if package.price %}
                            <h3 class="price-fee">{{package.price}}تومان</h3>
                        {% else %}
                            <h3 class="price-fee">رایگان</h3>
                        {% endif %}
                        <hr>
                        <br>
                        <p>ویژگی‌ها</p>
                        {{package.description|safe}}
                    </div>
                    <center>
                        <a href="{% url 'user_login' %}" class="btn btn-default buy-btn">همین حالا شروع کن</a>
                    </center>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}