{% extends 'index/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
<title>{% trans "InProbes • Register" %}</title>
{% endblock %}
{% block meta%}
<meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
<meta property="og:title" content='{% trans "InProbes • Register" %}'/>
<meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}"/>
<meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png"/>
<meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block content %}
<section>
	<div class="col-md-12 col-xs-12 col-sm-12">
		<div class="container">
			<div class="row text-center">
				<br>
				<div class="col-md-3 col-sm-2 col-xs-2"></div>
				<div class="col-md-6 col-xs-8 col-sm-8 login-feat">
					<img src='{% static "index/image/inprobes-2color.png" %}' class="img-fluid responsive " alt="inprobes">
					<h4 class="section-heading dir-right">{{context.banner|safe}}</h4>
					{% if context.show_register_form %}
					<form role='form' class="form-login dir-right" action='' method='POST' id='register_form' enctype='multipart/form-data'>
						{% csrf_token %}
						<div class="form-group">
							<input id="id_fullname" name="fullname" class="form-control input-pad" type="text" placeholder="نام کامل">
							{% if user_form.fullname.errors %}
							{% for error in user_form.fullname.errors %}
							<h5 style='color:#940037;'>
								{% trans error %}
							</h5>
							{% endfor %}
							{% endif %}
						</div>
						<div class="form-group">
							<input id="id_username" name="username" class="form-control input-pad" type="text" placeholder="نام کاربری">
							{% if user_form.username.errors %}
							{% for error in user_form.username.errors %}
							<h5 style='color:#940037;'>
								{% trans error %}
							</h5>
							{% endfor %}
							{% endif %}
						</div>
						<div class="form-group">
							<input id="id_email" name="email" class="form-control input-pad" type="text" placeholder="ایمیل">
							{% if user_form.email.errors %}
							{% for error in user_form.email.errors %}
							<h5 style='color:#940037;'>
								{% trans error %}
							</h5>
							{% endfor %}
							{% endif %}
						</div>
						<div class="form-group">
							<input id="id_password" name="password" class="form-control input-pad" type="password" placeholder="رمز عبور">
							{% if user_form.password.errors %}
							{% for error in user_form.password.errors %}
							<h5 style='color:#940037;'>
								{% trans error %}
							</h5>
							{% endfor %}
							{% endif %}
						</div>
						<button class="btn btn-default btn-submit" type="submit">ثبت نام</button>
					</form>

					<div class="mt-3 f-16">
						<p style="color:#000;">اکانت اینپروبز دارید؟ <a class="login-a" href='{% url "user_login" %}'>از اینجا وارد شوید</a></p>
					</div>
					{% endif %}
				</div>
				<div class="col-md-3 col-sm-2 col-xs-2"></div>
			</div>
		</div>
	</div>
</section>
{% endblock %}