{% extends 'index/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block meta%}
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content='{% trans "InProbes • Services" %}' />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}

{% block title %}
    <title>{% trans 'Services • InProbes' %}</title>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 col-xs-12 col-sm-12 flo-right dir-right">
                    <div class="[ container text-center ]">
                        <div class="[ row ]">
                            <div class="[ col-xs-11 col-sm-12 col-xs-offset-1 col-md-9 col-md-offset-2 ]" role="tabpanel">
                                <div class="[ col-xs-12 col-sm-12 ]">
                                    <!-- Nav tabs -->
                                    <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#dustin" aria-controls="dustin" role="tab" data-toggle="tab">
                                                <img class="" src='{% static "index/image/5.png" %}' />
                                                <span class="quote">آنالیز اکانت</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">
                                                <img class="img-circle" src='{% static "index/image/api.png" %}' />
                                                <span class="quote">Api</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#anna" aria-controls="anna" role="tab" data-toggle="tab">
                                                <img class="img-circle" src='{% static "index/image/4.png" %}' />
                                                <span class="quote">فستیوال</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">
                                                <img class="img-circle" src='{% static "index/image/1.png" %}' />
                                                <span class="quote">آنالیز هشتگ	</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="[ col-xs-12 col-sm-12 ]">
                                    <!-- Tab panes -->
                                    <div class="tab-content" id="tabs-collapse">
                                        <div role="tabpanel" class="tab-pane fade in active" id="dustin">
                                            <div class="tab-inner">
                                                <img src='{% static "index/image/33.jpg" %}' alt="InProbes" class="img-fluid responsive service-img">
                                                <p class="lead">در اولین مرحله از فرآیند تحلیلی پنل اینپروبز، شما می‌توانید آنالیز اکانت خود را مشاهده کنید. در بخش اول اطلاعات تفکیک شده از اکانت شما مشخص شده است که شامل تعداد پست‌ها براساس نوع آن، مجموع لایک و کامنت و میانگین آن‌ها به ازای هر پست و همچنین تعداد فالوور و فالویینگ می‌باشد.</p>
                                            </div>
                                            <div class="tab-inner">
                                                <img src='{% static "index/image/15.jpg" %}' alt="InProbes" class="img-fluid responsive service-img">
                                                <p class="lead">این نمودار تعداد لایک و کامنت در همه‌ی پست‌های شما را نشان می‌دهد. با توجه به این نمودار شما می توانید فراز و فرودهای فعالیت مخاطبانتان را ببینید.</p>
                                            </div>
                                            <div class="tab-inner">
                                                <img src='{% static "index/image/22.jpg" %}' alt="InProbes" class="img-fluid responsive service-img">
                                                <p class="lead">در بخش تجزیه و تحلیل اینپروبز به آنالیز روزانه و هفتگی پست‌های اکانت شما پرداخته شده است. با توجه به این نمودارها تراکم ارسال پست در هر روز از هفته و همچنین در بازه‌های زمانی روزانه قابل مشاهده است</p>
                                            </div>
                                            <div class="tab-inner">
                                                <img src='{% static "index/image/21.jpg" %}' alt="InProbes" class="img-fluid responsive service-img">
                                                <p class="lead">نکات طلایی استخراج شده از آمارهای اکانت توسط اینپروبز به شما کمک می‌کند تا پست خود را در بهترین زمان ارسال و بهترین بازخورد را دریافت کنید.</p>
                                            </div>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" id="daksh">
                                            <div class="tab-inner">
                                                <p class="lead">آیا برای سیاست‌گذاری در شبکه‌های اجتماعی بهAPI نیاز دارید؟ با ما تماس بگیرید info@inprobes.com</p>
                                            </div>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" id="anna">
                                            <div class="tab-inner">
                                                <p class="lead">یکی از کارهایی که صاحبان کسب‌و‌کار برای جذب مخاطب در اینستاگرام انجام می‌دهند،‌ برگزاری مسابقات اینستاگرامی است. ولی مهمتر از برگزاری مسابقه جذب شرکت‌کنندگان است. آنچه موجب جلب اعتماد مخاطب می‌شود مدیریت دقیق و مطمئن است. پنل اینپروبز به شما این امکان را می‌دهد که به ساده‌ترین شکل ممکن و در سریع‌ترین زمان اطلاعات شرکت‌کنندگان را استخراج کنید. همچنین آمار لحظه‌ای شرکت‌کنندگان در مسابقه را با جزییات به شما ارائه می‌کند.</p>
                                            </div>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" id="wafer">
                                            <div class="row tab-inner">
                                                <div class="col-md-6 col-xs-12 col-sm-12">
                                                    <img class="img-fluid responsive service-img" src='{% static "index/image/31.jpg" %}' alt="inprobes">
                                                </div>
                                                <div class="text-half">
                                                    <p class="lead">دومین مرحله از فرآیند تحلیلی پنل اینپروبز، آنالیز هشتگ مورد نظر شما است. بعد از آن&zwnj;که هشتگ خاص خود را در پنل اینپروبز تعریف کردید، می&zwnj;توانید تحلیل دقیق آن هشتگ و همچنین پست&zwnj;های مرتبط را با جزییات مشاهده کنید.</p>
                                                </div>
                                            </div>
                                            <div class="row tab-inner">
                                                <div class="col-md-6 col-xs-12 col-sm-12">
                                                    <img class="service-img" src='{% static "index/image/42.jpg" %}' alt="inprobes">
                                                </div>
                                                <div class="col-md-6 col-xs-12 col-sm-12">
                                                    <img class="service-img" src='{% static "index/image/43.jpg" %}' alt="inprobes">
                                                </div>
                                                <div class="text-half">
                                                    <p class="lead">در بخش آنالیز هشتگ، منحصرا به هشتگ مورد نظر شما پرداخته نمی‌شود که قطعاً تحلیل آماری جالبی برای شما به همراه دارد. اینپروبز به آنالیز هشتگ‌های استفاده شده به همراه هشتگ مورد نظر شما، کاربران مرتبط با هشتگ‌ها، روزهای ارسال پست، جزییات اولین پست با این هشتگ و افراد تگ شده در آن پست‌ها پرداخته است.</p>
                                                </div>
                                            </div>
                                            <div class="row tab-inner">
                                                <div class="col-md-6 col-xs-12 col-sm-12">
                                                    <img class="img-fluid responsive service-img" src='{% static "index/image/46.jpg" %}' alt="inprobes">
                                                </div>
                                                <div class="text-half">
                                                    <p class="lead">نکته‌ی قابل توجه در اینپروبز استخراج کاربرانی که است بیشترین استفاده را با آن هشتگ داشته‌اند.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-xs-12 col-sm-12">
                                                <img class="img-fluid responsive service-img" src='{% static "index/image/41.jpg" %}' alt="inprobes">
                                            </div>
                                            <div class="text-half">
                                                <p class="lead">در این نمودار می‌توانید دسته‌بندی ارسال پست‌ با هشتگ مورد نظر را بر اساس روز ارسال مشاهده کنید.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
