{% load staticfiles %}
{% load i18n %}
                    <div class="chat-panel panel panel-default chat-boder chat-panel-head" >
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            {% blocktrans %}Latest Comments{% endblocktrans %}
                        </div>

                        <div class="panel-body">
                            <ul class="chat-box">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                            <strong >Username</strong>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                            <span class="pull-right">
                                            <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-rounded" />
                                        </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                            <strong >Username</strong>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                            <span class="pull-right">
                                            <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-rounded" />
                                        </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                            <strong >Username</strong>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                            <span class="pull-right">
                                            <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-rounded" />
                                        </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                            <strong >Username</strong>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                            <span class="pull-right">
                                            <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-rounded" />
                                        </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                            <strong >Username</strong>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                            <span class="pull-right">
                                            <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-rounded" />
                                        </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                            <strong >Username</strong>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                            <span class="pull-right">
                                            <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-rounded" />
                                        </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                            <strong >Username</strong>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                            <span class="pull-right">
                                            <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-rounded" />
                                        </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                            <strong >Username</strong>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                            <span class="pull-right">
                                            <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-rounded" />
                                        </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                            <strong >Username</strong>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                            <span class="pull-right">
                                            <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-rounded" />
                                        </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>

                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                            <strong >Username</strong>
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                            </small>
                                            <span class="pull-right">
                                            <img src='{% static "index/assets/img/1.png" %}' alt="User" class="img-rounded" />
                                        </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    
