{% load i18n %}
{% load staticfiles %}
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				    <li class="text-center">
                        {% if request.user.userprofile.profile_pic %}
                            <img src='{{request.user.userprofile.profile_pic.url}}' class="user-image img-responsive"/>
                        {% elif request.user.userprofile.instagram_id %}
                            <img src="{{request.user.userprofile.instagram_id.profile_picture}}" class="user-image img-responsive">
                        {% else %}
                            <img src='{% static "index/assets/img/find_user.png" %}' class="user-image img-responsive" />
                        {% endif %}
					</li>
				    <li class='text-center'>
                        <!--<h4 style="color: white;">{{request.user.get_full_name|title}}</h4>-->
                        {% if request.user.userprofile.instagram_id %}
                            <h5 style="color: white;"><i class="fa fa-instagram" aria-hidden="true"></i> {{request.user.userprofile.instagram_id.username}}</h5>
                        {% else %}
                            <h5 style="color: white;">@{{request.user.username}}</h5>
                        {% endif %}
                    </li>
                    <li>
                        <a class="{% ifequal context.nav_bar_side 'dashboard' %}active-menu{% endifequal %}" href="{% url 'dashboard' %}">
                            <i class="fa fa-dashboard fa-3x"></i>{% trans 'Dashboard' %}
                        </a>
                    </li>
                    {% if profile.confirm and profile.has_instagram and profile.parsed %}
                    <li>
                        <a class="{% ifequal context.nav_bar_side 'analytic'%}active-menu{% endifequal %}" href="{% url 'analytic'%}">
                            <i class="fa fa-bar-chart-o fa-3x"></i> {% trans "Analytics" %}
                        </a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> {% trans "Events"%}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="{% ifequal context.nav_bar_side 'events' %}active-menu{%endifequal%}" href='{% url "events" %}'>{% trans "New Event"%}</a>
                            </li>
                            <li>
                                <a class="{% ifequal context.nav_bar_side 'festival' %}active-menu{%endifequal%}" href='{% url "festival" %}'>Festivals</a>
                            </li>
                            <li>
                                <a href="#">Campaigns</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="{% ifequal context.nav_bar_side 'post_list' %}active-menu{% endifequal %}" href="{% url 'post_list'%}">
                            <i class="fa fa-th-large fa-3x" aria-hidden="true"></i>{% trans 'Posts List'%}
                        </a>
                    </li>

                    <li>
                        <a class="{% ifequal context.nav_bar_side 'financial' %}active-menu{%endifequal%}" href='{% url "financial" %}'>
                            <i class="fa fa-credit-card fa-3x"></i> {% trans "Financial"%}
                        </a>
                    </li>	
                    {# if profile.find_step #}
                    <li>
                        <a class="{% ifequal context.nav_bar_side 'festival' %}active-menu{%endifequal%}" href='#'>
                            <i class="fa fa-slack fa-3x"></i> {% trans "Festivals"%}
                        </a>
                    </li>
                    {# endif #}
                    <!--<li>-->
                        <!--<a class="{% ifequal context.nav_bar_side 'shop' %}active-menu{%endifequal%}" href='{% url "events" %}'>-->
                            <!--<i class="fa fa-shopping-cart fa-3x"></i> {% trans "Events"%}-->
                        <!--</a>-->
                    <!--</li>-->

                    {% endif %}
                    <li>
                        <a class="{% ifequal context.nav_bar_side 'support'%}active-menu{%endifequal%}" href='{% url "support" %}'>
                            <i class="fa fa-envelope fa-3x"></i> {% trans "Support" %}
                        </a>
                    </li>
                    <li>
                        <a class="{% ifequal context.nav_bar_side 'settings' %}active-menu{%endifequal%}" href='{% url "settings" %}'>
                            <i class="fa fa-laptop fa-3x"></i> {% trans "Settings"%}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>