{% load i18n %}
{% load l10n %}
<div class="panel panel-default">
    <div class="panel-heading">
       <center>{% blocktrans %}The Most Popular Posts{% endblocktrans %}</center>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    {% for media in context.table %}
                        <tr>
                            <tr>
                                <td rowspan='2'>{{forloop.counter}}</td>
                                <td rowspan='2'><center><img src="{{media.images.thumbnail}}" class="img-rounded" width="80" height="80"></center></td>
                                <td>{% trans "Likes" %}: {{media.like_count}}</td>
                                <td>{% trans "Comments" %}: {{media.comment_count}}</td>
                                <td rowspan='2'><p>{{media.caption.text}}</p></td>
                            </tr>
                            <tr>
                                <td colspan='2'>{% trans "Date" %}: {{media.created_time}}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% block paginate %}
            {% endblock %}
        </div>
    </div>
</div>