{% load i18n %}
{% load custom_tags %}
		<div class="row">
			<div class='col-md-12 col-sm-12 col-xs-12'>
				<hr class="panel-hr">
				<div class='col-md-4 col-xs-12 col-sm-6'>
					<div class="panel panel-primary text-center no-boder bg-color-note4">
						<div class="panel-body">
							{% blocktrans with avg=context.pt_notes.max_post.avg ranges=context.pt_notes.max_post.ranges|elements %}
							<p>In {{ranges}} time period had the most post sent with {{avg}} average </p>
							{% endblocktrans %}
						</div>
					</div>
					<div class="panel panel-primary text-center no-boder bg-color-note3">
						<div class="panel-body">
							{% blocktrans with avg=context.pt_notes.min_post.avg ranges=context.pt_notes.min_post.ranges|elements %}
							<p>Only {{avg}} post had been sent between {{ranges}} </p>
							{% endblocktrans %}
						</div>
					</div>
				</div>
				<div class='col-md-4 col-xs-12 col-sm-6'>
					<div class="panel panel-primary text-center no-boder bg-color-note4">
						<div class="panel-body">
							{% blocktrans with avg=context.pt_notes.max_like.avg ranges=context.pt_notes.max_like.ranges|elements %}
							<p>In {{ranges}} time period had the most welcome, with {{avg}} like average</p>
							{% endblocktrans %}
						</div>
					</div>
					<div class="panel panel-primary text-center no-boder bg-color-note3">
						<div class="panel-body">
							{% blocktrans with avg=context.pt_notes.min_like.avg ranges=context.pt_notes.min_like.ranges|elements %}
							<p>In {{ranges}} time period had the least welcome, with {{avg}} like average</p>
							{% endblocktrans %}
						</div>
					</div>
				</div>
				<div class='col-md-4 col-xs-12 col-sm-6'>
					<div class="panel panel-primary text-center no-boder bg-color-note4">
						<div class="panel-body">
							{% blocktrans with avg=context.pt_notes.max_comment.avg ranges=context.pt_notes.max_comment.ranges|elements %}
							<p>In {{ranges}} time period had recieved the most feedback with average of {{avg}} comments in each post </p>
							{% endblocktrans %}
						</div>
					</div>
					<div class="panel panel-primary text-center no-boder bg-color-note3">
						<div class="panel-body">
							{% blocktrans with avg=context.pt_notes.min_comment.avg ranges=context.pt_notes.min_comment.ranges|elements %}
							<p>In {{ranges}} time period with average of {{avg}} comments in each post, had recieved the least feedback</p>
							{% endblocktrans %}
						</div>
					</div>
				</div>
			</div>
		</div>