{% load i18n %}
{% load custom_tags %}
		<div class="row">
			<div class='col-md-12 col-sm-12 col-xs-12'>
				<hr class="panel-hr">
				<div class='col-md-4 col-xs-12 col-sm-6'>
					<div class="panel panel-primary text-center no-boder bg-color-note4">
						<div class="panel-body">
							<p>{% for day in context.wk_notes.max_post.days %}{% trans day %}{% if not forloop.last%}, {% endif %}{% endfor %}{% blocktrans with avg=context.wk_notes.max_post.avg %} with {{avg}} posts, had the most post sending activity.{% endblocktrans %} </p>
						</div>
					</div>
					<div class="panel panel-primary text-center no-boder bg-color-note3">
						<div class="panel-body">
							<p>{% for day in context.wk_notes.min_post.days %}{% trans day %}{% if not forloop.last%}, {% endif %}{% endfor %} {% blocktrans with avg=context.wk_notes.min_post.avg  %}Only {{avg}} post had been sent on{% endblocktrans %}  </p>
						</div>
					</div>
				</div>
				<div class='col-md-4 col-xs-12 col-sm-6'>
					<div class="panel panel-primary text-center no-boder bg-color-note4">
						<div class="panel-body">
							
							<p>{% for day in context.wk_notes.max_like.days %}{% trans day %}{% if not forloop.last%}, {% endif %}{% endfor %}{% blocktrans with avg=context.wk_notes.max_like.avg %} posts with {{avg}} like average, had the most welcome {% endblocktrans %}</p>
							
						</div>
					</div>
					<div class="panel panel-primary text-center no-boder bg-color-note3">
						<div class="panel-body">
							<p>{% for day in context.wk_notes.min_like.days %}{% trans day %}{% if not forloop.last%}, {% endif %}{% endfor %}{% blocktrans with avg=context.wk_notes.min_like.avg  %} posts with {{avg}} like average, had the least welcome {% endblocktrans %}</p>
						</div>
					</div>
				</div>
				<div class='col-md-4 col-xs-12 col-sm-6'>
					<div class="panel panel-primary text-center no-boder bg-color-note4">
						<div class="panel-body">
							<p>{% for day in context.wk_notes.max_comment.days %}{% trans day %}{%if not forloop.last%}, {%endif%}{% endfor %}{% blocktrans with avg=context.wk_notes.max_comment.avg %} with average of {{avg}} comments in each post, had recieved the most feedback {% endblocktrans %}</p>							
						</div>
					</div>
					<div class="panel panel-primary text-center no-boder bg-color-note3">
						<div class="panel-body">
							<p>{% for day in context.wk_notes.min_comment.days %}{% trans day %}{%if not forloop.last%}, {%endif%}{% endfor %}{% blocktrans with avg=context.wk_notes.min_comment.avg %} with average of {{avg}} comments in each post, had recieved the least feedback {% endblocktrans %}</p>
						</div>
					</div>
				</div>
			</div>
		</div>