﻿{% extends 'index/dashboard/admin_base.html' %}

{% block content %}
{% load i18n %}
    <div id="page-wrapper" >
       {% include 'index/dashboard/widgets/inactive_alert.html' %}
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <h2>{% blocktrans %}Information Analytics{% endblocktrans %}</h2>
                        <h5>{% blocktrans %}Last update{% endblocktrans %} : {{profile.instagram_id.last_update}} <i class="fa fa-instagram"></i>
                        </h5>
                    </center>
                </div>
            </div>
             <!-- /. ROW  -->
             <hr />
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% include 'index/dashboard/widgets/charts/analytic_line_chart.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% include "index/dashboard/widgets/post_table.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% include "index/dashboard/widgets/tagged_users.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                {% include 'index/dashboard/widgets/charts/tags_bar_chart.html' %}
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                {% include 'index/dashboard/widgets/tags_scroll_bar.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% include 'index/dashboard/widgets/popular_table.html' %}
                {% block paginate %}
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul class="pagination pagination-box">
                        {% for p in context.table.paginator.page_range %}
                            <li {% if context.table.number == p %}class="active"{% endif %}><a href="?page={{p}}">{{p}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block charts %}
    {% load staticfiles %}
    <script type="text/javascript">
        var weekDays_posts = [
            {% for day in context.wk_posts|dictsort:'number' %}
                {
                    label: '{% trans day.name %}',
                    value: {{day.media|length}},
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        var weekDays_likes = [
            {% for day in context.wk_posts|dictsort:'number' %}
                {
                    label: '{% trans day.name %}',
                    value: {{day.like_avg|floatformat}},
                }{% if not forloop.last %},{% endif %}
                
            {% endfor %}
        ];
        var weekDays_comments = [
            {% for day in context.wk_posts|dictsort:'number' %}
                {
                    label: '{% trans day.name %}',
                    value: {{day.comment_avg|floatformat}},
                }{% if not forloop.last %},{% endif %}
                
            {% endfor %}
        ];
    </script>
    <script type="text/javascript">
        var ptime_posts = [
            {% for t in context.ptime %}
                {
                    label: "{% trans t.range %}",
                    value: {{t.media|length}}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
                ];
        var ptime_likes = [
            {% for t in context.ptime %}
                {
                    label: "{% trans t.range %}",
                    value: {{t.like_avg|floatformat}}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}];
        var ptime_comments = [
            {% for t in context.ptime %}
                {
                    label: "{% trans t.range %}",
                    value: {{t.comment_avg|floatformat}}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}];
    </script>
    <script src='{% static "index/assets/js/stat.js" %}'></script>
    <script type="text/javascript">
        var linedata = [{% for media in context.chart %}
                           {m: '{{media.created_time|date:"M-d"|safe}}', l: {{media.like_count|safe}}, c: {{media.comment_count|safe}}}{% if not forloop.last %},{% endif %}
                        {% endfor %}];
        var bardata = [{% for tag in context.tags_bar %}
                            {x: '{{tag.name}}', y1: '{{tag.internal_media_count}}'}{% if not forloop.last %},{% endif %}
                        {% endfor %}];
    </script>
    <script src='{% static "index/assets/js/dashboard-charts.js" %}'></script>
{% endblock %}