{% extends 'index/dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
<div id="page-wrapper" >
    {% include 'index/dashboard/widgets/inactive_alert.html' %}
    <div id="page-inner">
        {% ifequal profile.level 'L' %}
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
              <div class="base-box">
                <div class="desc-campaign">
                  <p class="base-account"> <h3>کاربر گرامی</h3>در این سطح از دسترسی امکان ایجاد کمپین وجود نداره. برای این‌که بتونید کمپین دلخواهتونو بسازید و مدیریت کنید لطفا اکانت خود را به پنل حرفه‌ای ارتقا دهید.</p>
                  <a href="{% url 'financial' %}" class="btn btn-campaign">ارتقا به پنل حرفه‌ای</a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <!--<div class="row">-->
            <!--<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">-->
                <!--<form>-->
                  <!--<div class="form-group mb-2">-->
                    <!--<label for="monitorHashtag">هشتگ</label>-->
                    <!--<input type="text" class="form-control" id="monitorHashtag" placeholder="هشتگ مورد نظر خود را بدون # اولیه وارد نمایید">-->
                      <!--&lt;!&ndash;<button id="checkHashtag" onclick="checkHashtagCount(); return false;">بررسی</button>&ndash;&gt;-->
                      <!--<button id="checkHashtag">بررسی</button>-->
                  <!--</div>-->
                <!--</form>-->
                <!--<div id="createReport"></div>-->
              <!--</div>-->
          <!--</div>-->

        <div class="col-md-3"></div>
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 create-hashtag-box">
            <div class="input-group hashtag-content">
              <input type="text" name="hashtag" size="30" id="monitorHashtag" class="form-control input-p" placeholder="هشتگ مورد نظر خود را بدون # اولیه وارد نمایید" required>
              <span class="input-group-btn">
                <button id="checkHashtag" class="btn btn-secondary btn-analyze-hashtag" data-loading-text="<i class='fa fa-spinner fa-spin '></i> در حال دریافت اطلاعات" type="button">بررسی هشتگ</button>
              </span>
            </div>
            <!-----resulte-search----->
            <div class="result-search" id="checkResult"></div>
            {% csrf_token %}
        </div>
        <div class="col-md-3"></div>
        {% endifequal %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('#checkHashtag').click(function(event) {
        event.preventDefault();
        var $this = $(this);
        $this.button('loading');
        $.ajax({
           url: '/hashtags/new/',
           data: {
              hashtag: $('#monitorHashtag').val()
           },
           success: function(data) {
           $this.button('reset');
              if (data.count < 1000) {
                  $('#checkResult').html('<p class="camp-result"></p><center><form action="" method="POST"></form></center>');
                  $('#checkResult p').append('<i class="fas fa-check-circle"></i>');
                  $('#checkResult p').append('در حال حاضر ', data.count ,' پست با این هشتگ در اینستاگرام موجود است.');
                  $('#checkResult center form').append('<p>آیا از ثبت درخواست خود مطمین هستید؟ کلیک کنید</p>');
                  $('#checkResult center form ').append($("input[name=csrfmiddlewaretoken]"));
                  $('#checkResult center form ').append($('<input>').attr({type: 'hidden', id: 'hashtag', name: 'hashtag', value: data.id}));
                  $('#checkResult center form').append('<button type="submit" class="btn-campaign btn-gradient-campaign"> ثبت کمپین </button>');
              } else if (data.count >= 1000 && data.count <= 5000) {
                  $('#checkResult').html('<p class="camp-result"></p><center></center>');
                  $('#checkResult p').append('<i class="fas fa-check-circle"></i>');
                  $('#checkResult p').append('در حال حاضر ', data.count ,' پست با این هشتگ در اینستاگرام موجود است.');
                  $('#checkResult center').append('<p>اگر قصد برگزاری کمپین را دارید، این هشتگ برای شما مناسب نیست و پیشنهاد می‌کنیم هشتگ دیگری را انتخاب کنید. با این حال اگر بخواهید می‌توانید با همین هشتگ ادامه دهید.</p>');
                  $('#checkResult center form ').append($("input[name=csrfmiddlewaretoken]"));
                  $('#checkResult center form ').append($('<input>').attr({type: 'hidden', id: 'hashtag', name: 'hashtag', value: data.id}));
                  $('#checkResult center form').append('<button type="submit" class="btn-campaign btn-gradient-campaign"> ثبت کمپین </button>');
              } else {
                  $('#checkResult').html('<p class="camp-result"></p><center></center>');
                  $('#checkResult p').append('<i class="fas fa-check-circle"></i>');
                  $('#checkResult p').append('در حال حاضر ', data.count ,' پست با این هشتگ در اینستاگرام موجود است.');
                  $('#checkResult center').append('<p>تحلیل هشتگ‌هایی که در ابتدا بیش از ۵۰۰۰ پست داشته باشند در حال حاضر بصورت عمومی در دسترس نیست. اما اگر شما قصد تحلیل چنین هشتگی را داشته باشید می‌توانید به info@inprobes.com ایمیل بزنید تا ما دسترسی رو براتون باز کنیم.</p>');
              }
           },
           error: function(data) {
           $this.button('reset');
              console.log(data.responseText)
              $('#checkResult').html('<p class="camp-result"></p>');
              $('#checkResult p').append(data.responseText);
           },
           type: 'GET'
        });

    });
</script>
{% endblock %}