{% extends 'index/dashboard/admin_base.html' %} 
{% load i18n %}

{% block content %}
        
<div id="page-wrapper" >
    {% include 'index/dashboard/widgets/inactive_alert.html' %}
    <div id="page-inner">
        <div class='row'>
        {% if messages %}
            <div class="col-md-8 col-sm-12 col-xs-12" style="margin-top: 5%">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        </div>
        <div class='row'>
        {% for package in context.account_packages %}
          <div class="col-md-4 col-sm-12 col-xs-12" style="margin-top: 5%">
            <div class="panel noti-box packages">
              <div class="text-box">
                <center>
                  <p class="main-text">{{package.title}}</p>
                  <hr class="hr-custom">
                  {% if package.price %}
                      <p class="main-text">{{package.price}}تومان</p>
                  {% else %}
                      <p class="main-text">رایگان</p>
                  {% endif %}
                  <hr class="hr-custom">
                </center>
                <p class="text-muted"><br>ویژگی‌ها : </p>
                {{package.description|safe}}
              </div>
              {% if package.price %}
              <center>
                  <a href="{% url 'upgrade_account' package.id %}" class="btn btn-default buy-btn">خرید</a>
              </center>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        </div>
     <!-- /. PAGE INNER  -->
    </div>
 <!-- /. PAGE WRAPPER  -->
</div>
{% endblock %}





