{% extends 'index/dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
        <div id="page-wrapper" >
            {% include 'index/dashboard/widgets/inactive_alert.html' %}
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h2>تمام پست‌ها با هشتگ {{context.hashtag.hashtag}} در اینستاگرام</h2>
                        </center>
                    </div>
                </div>
                 <!-- /. ROW  -->
                <form class="filter-top" method="POST" action="">
                    {% csrf_token %}
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-custom {% ifequal context.filter_key 'like_count' %}active{% endifequal %}">
                        <input type="radio" name="filter_key" value="like_count" id="like_count" autocomplete="off" {% ifequal context.filter_key 'like_count' %}checked{% endifequal %}> لایک
                      </label>
                      <label class="btn btn-custom {% ifequal context.filter_key 'comment_count' %}active{% endifequal %}">
                        <input type="radio" name="filter_key" value="comment_count" id="comment_count" autocomplete="off" {% ifequal context.filter_key 'comment_count' %}checked{% endifequal %}> کامنت
                      </label>
                      <label class="btn btn-custom {% ifequal context.filter_key 'created_time' %}active{% endifequal %}">
                        <input type="radio" name="filter_key" value="created_time" id="created_time" autocomplete="off" {% ifequal context.filter_key 'created_time' %}checked{% endifequal %}> تاریخ
                      </label>
                    </div>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-custom {% ifequal context.filter_type 'asc' %}active{% endifequal %}">
                        <input type="radio" name="filter_type" value="asc" id="asc" autocomplete="off" {% ifequal context.filter_type 'asc' %}checked{% endifequal %}> صعودی
                      </label>
                      <label class="btn btn-custom {% ifequal context.filter_type 'dsc' %}active{% endifequal %}">
                        <input type="radio" name="filter_type" value="dsc" id="dsc" autocomplete="off" {% ifequal context.filter_type 'dsc' %}checked{% endifequal %}> نزولی
                      </label>
                    </div>
                    <button type="submit" class="btn btn-filter">فیلتر</button>
                    <a type="button" href="{% url 'hashtags_hashtag_analytics' context.hashtag.id %}" class="btn-campaign btn-gradient-campaign analyze-hashtag">تحلیل کمپین شما</a>
                </form>
                <hr>
                {% for media in context.media %}
                <div class="col-md-3 col-sm-4 col-xs-6 post-tile">
                    <center>
                        <a data-toggle="modal" data-target="#{{media.images.id}}">
                            <img src="{{media.images.thumbnail}}" class="img-rounded img-responsive">
                        </a>
                        <i class="fa fa-heart"></i> {{media.like_count}} |
                        <i class="fa fa-comments"></i> {{media.comment_count}}
                    </center>
                </div>
                <div class="modal fade" id="{{media.images.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class='col-md-7'>
                                        <img src="{{media.images.low_resolution}}" class="img-responsive">
                                    </div>
                                    <div class='col-md-5'>
                                        <table class='table'>
                                            <tbody>
                                            <tr><td><i class="fa fa-heart" aria-hidden="true"></i>{% trans 'Likes' %}</td><td><span class="badge">{{media.like_count}}</span></td></tr>
                                            <tr><td><i class="fa fa-comments" aria-hidden="true"></i>{% trans 'Comments' %}</td><td><span class="badge">{{media.comment_count}}</span></td></tr>
                                                <tr><td><i class="fa fa-tags" aria-hidden="true"></i>{% trans 'Tags' %}</td><td><span class="badge">12</span></td></tr>
                                                {% if media.location %}
                                            <tr><td><i class="fa fa-location-arrow" aria-hidden="true"></i>{% trans 'Location' %}</td><td><span class="badge">{{media.location}}</span></td></tr>
                                                {% endif %}
                                            <tr><td><i class="fa fa-users" aria-hidden="true"></i>{% trans 'Users in' %}</td><td><span class="badge">**</span></td></tr>
                                            <tr><td><i class="fa fa-clock-o" aria-hidden="true"></i>{% trans 'Time' %}</td><td><span class="badge">{{media.created_time|date:'Y M d D'}}</span></td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr>
                                <p>{{media.caption.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <ul class="pagination pagination-box">
                    {% for p in context.media.paginator.page_range %}
                        <li {% if context.media.number == p %}class="active"{% endif %}><a href="?page={{p}}">{{p}}</a></li>
                    {% endfor %}
                </ul>
                <!-- /. ROW  -->
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
{% endblock %}