{% extends 'index/dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
<div id="page-wrapper" >
    {% include 'index/dashboard/widgets/inactive_alert.html' %}
    <div id="page-inner">
            {% ifequal profile.level 'L' %}
              <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                  <div class="base-box">
                    <div class="desc-campaign">
                      <div class="base-account">
                        <h3>کاربر گرامی</h3>
                          <p>                        در این سطح از دسترسی امکان ایجاد کمپین وجود ندارد. لطفا برای اینکه بتوانید کمپین دلخواه خود را بسازید و مدیریت کنید پنل خود را ارتقا دهید.</p>
                        </div>
                      <a href="{% url 'financial' %}" class="btn btn-campaign">ارتقا به پنل حرفه‌ای</a>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
                {% if context.reports %}
                    {% include 'index/dashboard/widgets/hashtag_cards.html' %}
                {% else %}
                      <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                            <div class="create-new-campaign">
                              <p class="plus-detail"><a href="{% url 'create_hashtag' %}" class="a-detail"><i class="fas fa-plus fa-7x"></i></a></p>
                              <div class="desc-campaign">
                                <p>همین الان هشتگ مورد نظر خود را از این قسمت تعریف کنید. اینجا می‌توانید کمپین خود را مدیریت کنید و گزارش لحظه‌ای بگیرید.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                {% endif %}
            {% endifequal %}
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
 <!-- /. PAGE WRAPPER  -->
{% endblock %}