{% extends 'index/dashboard/admin_base.html' %}

{% block content %}
{% load i18n %}
<div id="page-wrapper" >
    {% include 'index/dashboard/widgets/inactive_alert.html' %}
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <h2>تجزیه و تحلیل اطلاعات هشتگ {{context.report.hashtag}}</h2>
                </center>
            </div>
        </div>
         <!-- /. ROW  -->
         <hr />
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        دسته بندی پست‌ها براساس روز ارسال
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="hashtag-days-bar-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="sections post-section">
                    <center>
                        <p class="title-text">{{context.day_streak.avg|floatformat}} پست در روز</p>
                        <p>در مجموع {{context.day_streak.count}} پست طی {{context.day_streak.days}} روز با هشتگ {{context.report.hashtag}} ارسال شده است. اولین پست حاوی این هشتگ در {{context.day_streak.first.created_time}} ارسال شده است. برای مشاهده آن <a class="reverse" href="{{context.day_streak.first.link}}">کلیک کنید</a>.</p>
                    </center>
                </div>
                <div class="sections post-section">
                    <center>
                        <p class="title-text">{{context.report.relevant_tags.count}} هشتگ همراه</p>
                        <p>از {{context.report.relevant_tags.count}} هشتگ دیگر به همراه {{context.report.hashtag}} در این {{context.day_streak.count}}  پست توسط {{context.participants.count}} کاربر یکتا استفاده شده است. همچنین کاربران مکان {{context.media_locations.count}} پست را مشخص کرده‌اند و {{context.tagged_users.count}} کاربر دیگر را نیز تگ کرده اند.</p>
                    </center>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        فراوانی نوع پست‌ها
                    </div>
                    <div class="panel-body">
                        <div id="hashtag-donut-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       کاربرانی که بیشترین استفاده را از این هشتگ کرده‌اند
                    </div>
                    <div class="panel-body">
                        {% for participant in context.participants %}
                            <div class="col-md-3 col-sm-3 col-xs-6 clear-bottom">
                                <div class="col-md-6">
                                    <img src="{{participant.profile_picture}}" class="img-circle img-responsive">
                                </div>
                                <div class="col-md-6">
                                    <p class="tiny-p">{{participant.username}}@</p>
                                    <p class="tiny-p">{{participant.posts_count}} پست</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                {% include 'index/dashboard/widgets/charts/tags_bar_chart.html' %}
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                {% include 'index/dashboard/widgets/tags_scroll_bar.html' %}
            </div>
        </div>

       <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
              نموار فراوانی تعداد لایک و کامنت پست‌ها در هر روز
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="dashboard-line-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block charts %}
{% load staticfiles %}
<script type="text/javascript">
    var hashtagDaysBarData = [{% for post in context.post_by_day %}
                            {x: '{{post.day|date:"M-d"|lower}}', y: '{{post.posts}}'}{% if not forloop.last %},{% endif %}
                        {% endfor %}];
    var donutData = [{
                    label: "Images",
                    value: {{context.ratio.image|safe}}
                }, {
                    label: "Videos",
                    value: {{context.ratio.video|safe}}
                }, {
                    label: "Carousel",
                    value: {{context.ratio.carousel|safe}}
                }];
    var barData = [{% for tag in context.tags_bar %}
                            {x: '{{tag.name}}', y1: '{{tag.internal_media_count}}'}{% if not forloop.last %},{% endif %}
                        {% endfor %}];
    var lineData = [{% for post in context.post_by_day %}
                           {m: '{{post.day|date:"M-d"|safe}}', l: {{post.likes_count|safe}}, c: {{post.comments_count|safe}}}{% if not forloop.last %},{% endif %}
                        {% endfor %}];
</script>
<script src='{% static "index/assets/js/hashtag_stat.js" %}'></script>
{% endblock %}