﻿{% extends 'index/dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
         <div id="page-wrapper" >
           {% include 'index/dashboard/widgets/inactive_alert.html' %}
            <div id="page-inner">
                {% include 'index/dashboard/widgets/account_stat.html' %}

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">

                        <div class="panel panel-primary text-center no-boder bg-color-note1">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6"><i class="fas fa-hashtag fa-3x" aria-hidden="true"></i></div>
                                    <div class="col-md-6"><h3 class ='notice-h3'>{{context.tags}}</h3></div>
                                </div>
                                <div class='row'>
                                    <h3> هشتگ‌ استفاده شده</h3>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary text-center no-boder bg-color-note2">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6"><i class="fas fa-user fa-3x"></i></div>
                                    <div class="col-md-6"><h3 class ='notice-h3'>{{context.tagged_users}}</h3></div>
                                </div>
                                <div class='row'>
                                    <h3>کاربر تگ شده</h3>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary text-center no-boder bg-color-note3">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6"><i class="fa fa-flag fa-3x"></i></div>
                                    <div class="col-md-6"><h3 class ='notice-h3'>{{context.day_streak}}</h3></div>
                                </div>
                                <div class='row'>
                                    <h3>روزهای فعال</h3>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-9 col-sm-12 col-xs-12">
                    {% include 'index/dashboard/widgets/charts/line_chart.html' %}
                    </div>
                </div>
                <hr>
                 <!-- /. ROW  -->
                <div class="row" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                {% blocktrans %}The Most Popular Posts(by likes){% endblocktrans %}
                            </div>
                            <div class="panel-body">
                                {% for media in context.table %}
                                <div class="col-md-3 col-sm-4 col-xs-6 post-tile">
                                    <center>
                                        <img src="{{media.images.thumbnail}}" class="img-rounded img-responsive">
                                        <i class="fa fa-heart"></i> {{media.like_count}} |
                                        <i class="fa fa-comments"></i> {{media.comment_count}}
                                    </center>
                                </div>
                                {% endfor %}

                                <div class="col-md-3 col-sm-4 col-xs-6 post-tile">
                                    <center style="margin-top: 35%">
                                        {% if context.analytic_permission %}
                                            <a href="{% url 'analytic'%}">
                                                <i class="fa fa-4x fa-ellipsis-h" style="color:#6d6d6d"></i>
                                            </a>
                                        {% else %}
                                            <button class="hide-btn" data-toggle="modal" data-target="#posts-modal">
                                                <i class="fa fa-4x fa-ellipsis-h" style="color:#6d6d6d"></i>
                                            </button>
                                            <div class="modal fade" id="posts-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                           <div class="row">
                                                               <p>کاربر گرامی برای دیدن تحلیل کامل اینستاگرام خود باید اکانت خود را ارتقا دهید.</p>
                                                           </div>
                                                           <div class="row">
                                                           {% for package in packages %}
                                                               <div class="col-md-4 col-sm-12 col-xs-12" style="margin-top: 5%">
                                                                <div class="panel noti-box packages">
                                                                  <div class="text-box">
                                                                    <center>
                                                                      <p>{{package.title}}</p>
                                                                      <hr class="hr-custom">
                                                                      <p> {{package.price}}تومان </p>
                                                                    </center>
                                                                  </div>
                                                                  <div>
                                                                      <button class="btn btn-default buy-btn-tiny">خرید</button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






                <hr>
                <div class="row" >
                    <!--<div class='col-md-4 col-xs-12 col-sm-6'>-->
                        <!--<div class="panel panel-primary text-center no-boder bg-color-note4">-->
                            <!--<div class="panel-body">-->
                                <!--<p>{% for day in context.wk_notes.max_post.days %}{% trans day %}{% if not forloop.last%}, {% endif %}{% endfor %}{% blocktrans with avg=context.wk_notes.max_post.avg %} with {{avg}} posts, had the most post sending activity.{% endblocktrans %} </p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class='col-md-4 col-xs-12 col-sm-6'>-->
                        <!--<div class="panel panel-primary text-center no-boder bg-color-note3">-->
                            <!--<div class="panel-body">-->
                                <!--<p>{% for day in context.wk_notes.min_like.days %}{% trans day %}{% if not forloop.last%}, {% endif %}{% endfor %}{% blocktrans with avg=context.wk_notes.min_like.avg  %} posts with {{avg}} like average, had the least welcome {% endblocktrans %}</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class='col-md-4 col-xs-12 col-sm-6'>-->
                        <!--<div class="panel panel-primary text-center no-boder bg-color-note4">-->
                            <!--<div class="panel-body">-->
                                <!--<p>{% for day in context.wk_notes.max_post.days %}{% trans day %}{% if not forloop.last%}, {% endif %}{% endfor %}{% blocktrans with avg=context.wk_notes.max_post.avg %} with {{avg}} posts, had the most post sending activity.{% endblocktrans %} </p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class='col-md-6 col-xs-12 col-sm-6'>
                        <a href="{% if context.analytic_permission %}{% url 'analytic'%}{% else %}{% url 'financial'%}{% endif %}">
                            <div class="panel panel-primary text-center no-boder bg-color-note4 gradient-top-left">
                                <div class="panel-body">
                                    <i class="fa fa-list-alt fa-2x"></i><p>{% if context.analytic_permission %}برای دیدن گزارش‌های کامل‌تر، کلیک کنید{% else %}برای دیدن گزارش‌های کامل‌تر، حساب کاربری خود را ارتقا دهید.{% endif %}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col-md-6 col-xs-12 col-sm-6'>
                        <a href="{% url 'hashtags'%}">
                            <div class="panel panel-primary text-center no-boder bg-color-note3 gradient-bottom-left wd-mdl-btn" data-toggle="modal" data-target="#festival-modal">
                                <div class="panel-body">
                                    <i class="fas fa-hashtag fa-2x"></i><p>کمپین‌ها و جشنواره‌های خود در اینستاگرام را مدیریت کنید.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                فراوانی هشتگ‌های استفاده شده(۲۰ هشتگ پر استفاده)
                            </div>
                            <div class="panel-body">
                                <div id="tags-bar-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                         {% include 'index/dashboard/widgets/charts/donut_chart.html' %}
                    </div>
                </div>
             <!-- /. ROW  -->
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
{% endblock %}

{% block charts %}
    {% load staticfiles %}
    <script type="text/javascript">
        var linedata = [{% for media in context.chart %}
                           {m: '{{media.created_time|date:"M-d"|safe}}', l: {{media.like_count|safe}}, c: {{media.comment_count|safe}}}{% if not forloop.last %},{% endif %}
                        {% endfor %}];
        var bardata = [{% for tag in context.tags_bar %}
                            {x: '{{tag.name}}', y1: '{{tag.internal_media_count}}'}{% if not forloop.last %},{% endif %}
                        {% endfor %}];

        var donutdata = [{
                    label: "Images",
                    value: {{context.ratio.image|safe}}
                }, {
                    label: "Videos",
                    value: {{context.ratio.video|safe}}
                }, {
                    label: "Carousel",
                    value: {{context.ratio.carousel|safe}}
                }]
    </script>
    <script src='{% static "index/assets/js/dashboard-charts.js" %}'></script>
 
{% endblock %}
