<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    {% load i18n %}
    <meta charset="utf-8" />
    <!-- BOOTSTRAP STYLES-->
    <link href='{% static "index/assets/css/bootstrap.css" %}' rel=stylesheet />
     <!-- FONTAWESOME STYLES-->
    <link href='{% static "index/assets/css/font-awesome.css" %}' rel=stylesheet  />
     <!-- MORRIS CHART STYLES-->
    <link href='{% static "index/assets/js/morris/morris-0.4.3.min.css" %}' rel=stylesheet />
      <!-- CUSTOM STYLES-->
    <link href='{% static "index/assets/css/custom.css" %}' rel=stylesheet />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel=stylesheet type='text/css' />
      <!-- GOOGLE FONTS-->
    {% get_current_language_bidi as bidi %}
    {% if bidi %}
    <link href='{% static "index/assets/css/RTL.css" %}' rel=stylesheet />
    {% endif %}
</head>
<body>
    <div id="wrapper">
    {% load i18n %}
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h2>{% blocktrans %}Information Analytics{% endblocktrans %}</h2>   
                            <h5>{% blocktrans %}Last update{% endblocktrans %} : {{profile.instagram_id.last_update}} <i class="fa fa-instagram"></i>
                            </h5>
                        </center>
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
                <div class="row">
                    <!-- START -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p>Pygal text</p>
                        <embed type="image/svg+xml" src= {{ bar|safe }} />
                        
                        <!-- <embed src="file:///tmp/tmp_bar_chart.svg" /> -->
                    </div>
                    <!-- END -->
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {% include "index/dashboard/widgets/post_table.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Advanced Tables -->
                            {#% include 'index/dashboard/widgets/popular_table.html' %#}
                        <!--End Advanced Tables -->
                    </div>
                </div>
            </div>
             <!-- /. PAGE INNER  -->
        </div> 
         <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src='{% static "index/assets/js/jquery-1.10.2.js" %}'></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src='{% static  "index/assets/js/bootstrap.min.js" %}'></script>
    <!-- METISMENU SCRIPTS -->
    <script src='{% static  "index/assets/js/jquery.metisMenu.js" %}'></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src='{% static "index/assets/js/morris/raphael-2.1.0.min.js" %}'></script>
    <script src='{% static "index/assets/js/morris/morris.js" %}' ></script>
      <!-- TWITTER EMOJI-->
    <script src='{% static "index/assets/js/emoji.js" %}' ></script>
    <script src="//twemoji.maxcdn.com/twemoji.min.js"></script> 

    {% load staticfiles %}
    <script type="text/javascript">
        var testdata = [{
                    label: "Download Sales",
                    value: 12
                }, {
                    label: "In-Store Sales",
                    value: 30
                }, {
                    label: "Mail-Order Sales",
                    value: 20
                }]
    </script>
    <script type="text/javascript">
        var weekDays_posts = [
            {% for day in context.wk_posts|dictsort:'number' %}
                {
                    label: '{% trans day.name %}',
                    value: {{day.media|length}},
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        var weekDays_likes = [
            {% for day in context.wk_posts|dictsort:'number' %}
                {
                    label: '{% trans day.name %}',
                    value: {{day.like_avg|floatformat}},
                }{% if not forloop.last %},{% endif %}
                
            {% endfor %}
        ];
        var weekDays_comments = [
            {% for day in context.wk_posts|dictsort:'number' %}
                {
                    label: '{% trans day.name %}',
                    value: {{day.comment_avg|floatformat}},
                }{% if not forloop.last %},{% endif %}
                
            {% endfor %}
        ];
    </script>
    <script type="text/javascript">
        var ptime_posts = [
            {% for t in context.ptime %}
                {
                    label: "{% trans t.range %}",
                    value: {{t.media|length}}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
                ];
        var ptime_likes = [
            {% for t in context.ptime %}
                {
                    label: "{% trans t.range %}",
                    value: {{t.like_avg|floatformat}}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}];
        var ptime_comments = [
            {% for t in context.ptime %}
                {
                    label: "{% trans t.range %}",
                    value: {{t.comment_avg|floatformat}}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}];
    </script>
    <script src='{% static "index/assets/js/stat.js" %}'></script>
    <script type="text/javascript">
        var linedata = [{% for media in context.chart %}
                           {m: '{{media.created_time|date:"M-d"|safe}}', l: {{media.like_count|safe}}, c: {{media.comment_count|safe}}}{% if not forloop.last %},{% endif %}
                        {% endfor %}];
    </script>
    <script src='{% static "index/assets/js/dashboard-charts.js" %}'></script>


</body>
</html>