{% extends 'index/dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
<div id="page-wrapper" >
    {% include 'index/dashboard/widgets/inactive_alert.html' %}
    <div id="page-inner">
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<center>-->
                    <!--<h2>{% blocktrans %}All your posts in a overview{% endblocktrans %}</h2>   -->
                   <!--&lt;!&ndash;<h5>{% blocktrans %}Last update{% endblocktrans %} : {{request.user.userprofile.instagram_id.last_update}} <a formmethod="post" type='submit' class="btn btn-default" role="button" href='{% url "get_media" %}?next={{request.path}}'><i class="fa fa-instagram"></i>&ndash;&gt;-->
                   <!--&lt;!&ndash;{% blocktrans %}UPDATE NOW{% endblocktrans %}</a>&ndash;&gt;-->
                       <!--<h5>{% blocktrans %}Last update{% endblocktrans %} : {{profile.instagram_id.last_update}} <i class="fa fa-instagram"></i>-->
                    <!--</h5>-->
                <!--</center>-->
            <!--</div>-->
        <!--</div>-->
         <!-- /. ROW  -->
            <!--<hr>-->
        <div class="row">
            <div class='col-md-6 col-xs-12 col-sm-12'>
                <center><img src="{{context.post.images.standard_resolution}}" class="img-responsive"></center>
                <p>{{context.post.caption.text}}</p>
            </div>
            <div class='col-md-6 col-xs-12 col-sm-12'>
                <!--<table class='table'>-->
                    <!--<tbody>-->
                        <!--<tr><td><i class="fa fa-heart" aria-hidden="true"></i> {% trans 'Likes' %}</td><td>{{context.post.like_count}}</td></tr>-->
                        <!--<tr><td><i class="fa fa-comments" aria-hidden="true"></i>{% trans 'Comments' %}</td><td><span class="badge">{{context.post.comment_count}}</span></td></tr>-->
                        <!--{% if context.post.hashtags.count %}-->
                        <!--<tr><td><i class="fa fa-tags" aria-hidden="true"></i>{% trans 'Tags' %}</td><td>{% for h in context.post.hashtags.all %}<span class="badge">{{h.name}}</span>{% endfor %}</td></tr>-->
                        <!--{% endif %}-->
                        <!--{% if context.post.location %}-->
                        <!--<tr><td><i class="fa fa-location-arrow" aria-hidden="true"></i>{% trans 'Location' %}</td><td><span class="badge">{{context.post.location}}</span></td></tr>-->
                        <!--{% endif %}-->
                        <!--{% if context.post.tagged_users.count %}-->
                        <!--<tr><td><i class="fa fa-users" aria-hidden="true"></i>{% trans 'Users in' %}</td><td>{% for u in context.post.tagged_users.all %}<span class="badge">{{u.username}}</span>{% endfor %}</td></tr>-->
                        <!--{% endif %}-->
                        <!--<tr><td><i class="fa fa-clock-o" aria-hidden="true"></i>{% trans 'Time' %}</td><td><span class="badge">{{context.post.created_time|date:'Y M d D'}}</span></td></tr>-->
                        <!--<tr><td colspan="2"><a class="btn btn-info" href="{% url 'create_comment_report' context.post.id %}">درخواست پیمایش نظرات</a></td></tr>-->
                    <!--</tbody>-->
                <!--</table>-->
                {% include 'index/dashboard/widgets/comments_section.html' %}
            </div>
        </div>
        <hr>
        <div class="row">
            {% if context.report%}
            <div class='col-md-6 col-xs-12 col-sm-12'>
            </div>
            <div class='col-md-6 col-xs-12 col-sm-12'>
            </div>
            {% else %}
            <div class='col-md-12 col-xs-12 col-sm-12'>
                <center>گزارشی موجود نیست.</center>
            </div>
            {% endif %}

        </div>
    <!-- /. ROW  -->
    </div>
     <!-- /. PAGE INNER  -->
</div>
         <!-- /. PAGE WRAPPER  -->
{% endblock %}