{% extends 'index/dashboard/admin_base.html' %} 


{% block content %}
{% load i18n %}  
{% load staticfiles %}      
<div id="page-wrapper" >
           {% include 'index/dashboard/widgets/inactive_alert.html' %}
            <div id="page-inner">
                <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             {% blocktrans %}Profile Settings{% endblocktrans %}
                        </div>
                        <div class="panel-body">
                            <div class='col-md-6'>
                                <center>
                                    {% if request.user.userprofile.profile_pic %}
                                        <img src="{{request.user.userprofile.profile_pic.url}}" class="user-image img-responsive">
                                    {% else %}
                                        <img src='{% static "index/assets/img/find_user.png" %}' class="user-image img-responsive">
                                    {% endif %}
                                    <h3>{% blocktrans %}Personal Information{% endblocktrans %}</h3>
                                    <hr>
                                </center>
                                <form role='form' method='POST' action=''>
                                    {% csrf_token %}
                                    <!--div class='row'>
                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Full Name{% endblocktrans %}</label>
                                            </div>
                                        </div>
                                        <div class='col-md-6'>
                                                <input class = "form-control" id = "full-name" type = "text" value = "{{request.user.get_full_name}}">
                                        </div>
                                    </div-->
                                    <div class='row'>
                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Username{% endblocktrans %}</label>
                                            </div>
                                        </div>
                                        <div class='col-md-6'>
                                                <input class = "form-control" id = "username" type = "text" value = "{{request.user.username}}">
                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Email{% endblocktrans %}</label>
                                            </div>
                                        </div>
                                        <div class='col-md-6'>
                                                <input class = "form-control" id = "email" type = "text" value = "{{request.user.email}}">
                                        </div>
                                    </div>

                                    <hr>
                                    <!--div class='row'>
                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Mobile{% endblocktrans %}</label>
                                            </div>
                                        </div>
                                        <div class='col-md-6'>
                                                <input class = "form-control" id = "full-name" type = "text" value = "{{request.user.userprofile.mobile}}">
                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Website{% endblocktrans %}</label>
                                            </div>
                                        </div>
                                        <div class='col-md-6'>
                                                <input class = "form-control" id = "full-name" type = "text" value = "{{request.user.userprofile.website}}">
                                        </div>
                                    </div>                                    
                                <hr>
                                   <center>
                                      <button type = '' class="btn btn-lg btn-default" role="button">    {% blocktrans %}Submit Changes{% endblocktrans %}</button>
                                  </center-->
                              </form>
                            </div>
                            <div class='col-md-6'>
                                <center>
                                    <img src="{{request.user.userprofile.instagram_id.profile_picture}}" class="user-image img-responsive">
                                    <h3>{% blocktrans %}Instagram Information{% endblocktrans %}</h3>
                                    <hr>
                                </center>
                                <div>
                                    <form role='form' method='POST' action=''>
                                    {% csrf_token %}
                                    <fieldset disabled>
                                    <div class='row'>

                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Full Name{% endblocktrans %}</label>
                                            </div>
                                        </div>
                                        <div class='col-md-6'>
                                                <input class = "form-control" id = "full-name" type = "text" value = "{{request.user.userprofile.instagram_id.full_name}}">
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Username{% endblocktrans %}</label>
                                            </div>
                                        </div>
                                        <div class='col-md-6'>
                                                <input class = "form-control" id = "instagram-username" type = "text" value = "{{request.user.userprofile.instagram_id.username}}">
                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Website{% endblocktrans %}</label>
                                            </div>
                                        </div>
                                        <div class='col-md-6'>
                                                <input class = "form-control" id = "website" type = "text" value = "{{request.user.userprofile.instagram_id.website}}">
                                        </div>
                                    </div>

                                    <hr>
                                    
                                    <div class='row'>
                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Bio{% endblocktrans %}</label>
                                            </div>
                                        </div>
                                        <div class='col-md-6'>
                                                <textarea class = "form-control" id = "bio" rows='10' placeholder = "{{request.user.userprofile.instagram_id.bio}}"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                </form>
                                <hr>
                                {% ifnotequal user.username 'demo' %}
                                  <form action='{% url "add_instagram_account" %}' method='POST'>
                                  {% csrf_token %}
                                      <center>
                                        <button type = 'submit' class="btn btn-lg btn-success btn-main" role="button"><i class="fa fa-instagram"></i>    {% blocktrans %}Change your instagram account{% endblocktrans %}</button>
                                      </center>
                                  </form>
                                {% endifnotequal %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
                    </div>
                 <!-- /. ROW  -->
                 <hr />
               
                </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
</div>
{% endblock %}