﻿{% extends 'index/dashboard/admin_base.html' %} 


{% block content %}
{% load i18n %}
    <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h2>{% blocktrans %}Contact Us{% endblocktrans %}</h2>   
                            <h5>{% blocktrans %}We will answer your question within 12 hours{% endblocktrans %}</h5>
                            {% if context.result %}
                                <h2 class='ticket-success'>{% blocktrans %}Your message sent successfully {% endblocktrans %}</h2>
                            {% elif context.error %}
                                <h2 class='ticket-error'>{% blocktrans %}There is an error, please try again {% endblocktrans %}</h2>
                            {% endif %}
                        </center>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center>{% blocktrans %}Send Your Issue{% endblocktrans %}</center>
                        </div>
                        <div class='panel-body'>
                                <form role="form" action='' method='POST' id='ticket_form'>
                                    {% csrf_token %}
                                    <div class='row'>
                                        <fieldset disabled>
                                        <div class='col-md-6 col-xs-12 col-sm-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Full Name{% endblocktrans %}</label>
                                                <input class = "form-control" name = "full-name" type = "text" value = "{{request.user.get_full_name}}">
                                            </div>
                                        </div>
                                        <div class='col-md-6 col-xs-12 col-sm-6'>
                                            <div class="form-group">
                                                <label>{% blocktrans %}Email{% endblocktrans %}</label>
                                                <input class = "form-control" name = "email" type = "text" value = "{{request.user.email}}">
                                            </div>
                                        </div>
                                        </fieldset>
                                    </div>
                                    <div class='row'>
                                        <div class='col-md-6 col-xs-12 col-sm-6'>
                                            <label>{% trans context.form.relevant.label %}</label>
                                        {{context.form.relevant}}
                                        </div>
                                        <div class='col-md-6 col-xs-12 col-sm-6'>
                                            <label>{% trans context.form.periority.label %}</label>
                                            {{context.form.periority}}
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-md-12 col-xs-12 col-sm-12'>
                                            <label for = 'subject'>{% trans context.form.subject.label %}</label>
                                            {{ context.form.subject }}
                                        </div>
                                    </div>
                                    <div class = 'row'>
                                        <div class='col-md-12 col-xs-12 col-sm-12'>
                                            <label for='message'>{% trans context.form.message.label %}</label>
                                            {{context.form.message}}
                                        </div>
                                    </div>
                                    <br>
                                    {{context.form.captcha}}
                                    <button type="submit" class="btn btn-default">{% blocktrans %}Submit Message{% endblocktrans %}</button>
                                    <button type="reset" class="btn btn-primary">{% blocktrans %}Reset Fields{% endblocktrans %}</button>                                   
                                </form>
                        </div>
                    </div><!-- End Form Elements -->
                </div>
            </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>{% trans 'Number' %}</th>
                                            <th>{% trans 'Subject' %}</th>
                                            <th>{% trans 'Periority' %}</th>
                                            <th>{% trans 'Status' %}</th>
                                            <th>{% trans 'Relevant' %}</th>
                                            <th>{% trans 'Created' %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for t in context.tickets %}
                                            <tr>
                                                <td><a href="{{t.get_absolute_url}}">#{{t.id}}</a></td>
                                                <td><a href="{{t.get_absolute_url}}">{{t.subject}}</a></td>
                                                <td>{% trans t.show_periority %}</td>
                                                <td>{% trans t.show_status %}</td>
                                                <td>{% trans t.show_relevant %}</td>                                                
                                                <td>{{ t.created_time }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->


            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

   
{% endblock %}
