{% extends 'index/dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
    <div id="page-wrapper" >
        {% include 'index/dashboard/widgets/inactive_alert.html' %}
        <div id="page-inner">
            <div class="row">
                <div class='col-md-5'>
                    <img src="https://scontent.xx.fbcdn.net/v/t51.2885-15/19933167_879564498868189_2195470961115922432_a.jpg?_nc_cat=109&_nc_ht=scontent.xx&oh=c27f44e35ff1d96a71ddd7fe1cd8d706&oe=5C6B7C8B" class="img-responsive" style='max-height: 180px;'>
                </div>
                <div class='col-md-7'>
                    <table class='table'>
                        <tbody>
                            <tr><h3>daryasary</h3></tr>
                            <tr><td>47 Posts</td><td> 81 followers</td><td>120 following</td></tr>
                            <tr><td><b>Hosein</b></td></tr>
                            <tr><td>در مدرسه هم نيز نرفتي ز خيالش،استاد از او هندسه پرسيد غزل گفت...</td></tr>
                            <tr><td>inprobes.com</td></tr>
                        <!--<tr><td><i class="fa fa-comments" aria-hidden="true"></i>{% trans 'Comments' %}</td><td><span class="badge">{{m.comment_count}}</span></td></tr>-->
                        <!--{% if m.hashtags.count %}-->
                        <!--<tr><td><i class="fa fa-tags" aria-hidden="true"></i>{% trans 'Tags' %}</td><td>{% for h in m.hashtags.all %}<span class="badge">{{h.name}}</span>{% endfor %}</td></tr>-->
                        <!--{% endif %}-->
                        <!--{% if m.location %}-->
                        <!--<tr><td><i class="fa fa-location-arrow" aria-hidden="true"></i>{% trans 'Location' %}</td><td><span class="badge">{{m.location}}</span></td></tr>-->
                        <!--{% endif %}-->
                        <!--{% if m.tagged_users.count %}-->
                        <!--<tr><td><i class="fa fa-users" aria-hidden="true"></i>{% trans 'Users in' %}</td><td>{% for u in m.tagged_users.all %}<span class="badge">{{u.username}}</span>{% endfor %}</td></tr>-->
                        <!--{% endif %}-->
                        <!--<tr><td><i class="fa fa-clock-o" aria-hidden="true"></i>{% trans 'Time' %}</td><td><span class="badge">{{m.created_time|date:'Y M d D'}}</span></td></tr>-->
                        <!--<tr><td colspan="2"><a class="btn btn-info" href="{% url 'post_detail' m.id %}">مشاهده تحلیل‌های این پست</a></td></tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}