{% extends 'slider_base.html' %}
{% load i18n %}

{% block message %}
    <h3>{% blocktrans %}Now You should authorize InProbes to access your Instagram account{% endblocktrans %}</h3>
{% endblock %}

{% block form %}
    <form id='updateForm' method="POST" action="{% url 'add_instagram_account' %}">
        {% csrf_token %}
    </form>
{% endblock %}