<h3>Replace festival creation form here</h3>

<ul>
    <li>Get initial festival data</li>
    <li>Submit data by ajax</li>
    <li>Return packages if festival stored</li>
    <li>Handle payments...</li>
</ul>

<a href="festival/archive">Archive</a>