{% extends 'index/dashboard/admin_base.html' %}

{% load i18n %}
{% block content %}
	<div id="page-wrapper" >
        <div id="page-inner">
            <!--p>LIVE OR STAND BY FESTIVALS SECTION<p!-->
            <div class="row">
            {% for fest in context.progress %}
                {% if context.progress|length > 1 %}
                <div class="col-md-6">
                {% else %}
                <div class="col-md-12">
                {% endif %}
                    <div class="well well-lg">
                        <h3>LIVE FESTIVALS DETAIL {{fest.id}}</h3>
                        <hr>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="row">
            {% for fest in context.ready %}
                {% if context.ready|length > 1 %}
                <div class="col-md-6">
                {% else %}
                <div class="col-md-12">
                {% endif %}
                    <div class="well well-lg">
                        <h3>LIVE FESTIVALS DETAIL {{fest.id}}</h3>
                        <hr>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="row">
            {% for fest in context.late %}
                {% if context.late|length > 1 %}
                <div class="col-md-6">
                {% else %}
                <div class="col-md-12">
                {% endif %}
                    <div class="well well-lg well-comp">
                        <h3>LIVE FESTIVALS DETAIL {{fest.id}}</h3>
                        <hr>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="row">
            {% for fest in context.suspend %}
                {% if context.suspend|length > 1 %}
                <div class="col-md-6">
                {% else %}
                <div class="col-md-12">
                {% endif %}
                    <div class="well well-lg well-comp">
                        <h3>LIVE FESTIVALS DETAIL {{fest.id}}</h3>
                        <hr>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="row">
            {% for fest in context.finished %}
                {% if context.finished|length > 1 %}
                <div class="col-md-6">
                {% else %}
                <div class="col-md-12">
                {% endif %}
                    <div class="well well-lg">
                        <h3>LIVE FESTIVALS DETAIL {{fest.id}}</h3>
                        <hr>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="row">
            {% for fest in context.completed %}
                {% if context.progress|length > 1 %}
                <div class="col-md-6">
                {% else %}
                <div class="col-md-12">
                {% endif %}
                    <div class="well well-lg">
                        <h3>LIVE FESTIVALS DETAIL {{fest.id}}</h3>
                        <hr>
                    </div>
                </div>
            {% endfor %} 
            </div>

            <!--p>ARCHIVES SECTION<p!-->
            {% if context.archive %}    
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans 'Number' %}</th>
                                    <th>{% trans 'Title' %}</th>
                                    <th>{% trans 'Hashtag' %}</th>
                                    <th>{% trans 'Participants' %}</th>
                                    <th>{% trans 'Status'%}</th>
                                    <th>{% trans 'created_at' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fest in context.archive %}
                                    <tr>
                                        <td><a href="#">#{{fest.id}}</a></td>
                                        <td><a href="#">{{fest.title}}</a></td>
                                        <td>{% trans fest.hashtag.name %}</td>
                                        <td>{{fest.medias.count}}</td>
                                        <td>{{fest.get_status_display}}</td>
                                        <td>{{fest.created_at}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}