/*=============================================================
    RTL Style for BinaryAdmin Template
    Authour URI: Hosein Ramezan
    Version: 1.1
    License: MIT
    
    http://opensource.org/licenses/MIT

    To be used in http://inprobes.com
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/


body {
   	direction: rtl;
   	font-family: 'VazirB';
}

.exit-btn-s{
    color: white;
    padding: 15px 50px 5px 50px;
    float: left;
    font-size: 16px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
}
p {

	font-family: Vazir;
}
.nav > li > a > i {
	margin-left: 10px;
}
.dropdown-menu {
    font-size: 14px;
    text-align: right;
    list-style: outside none none;
}
th {
    text-align: right;
}
.pull-left {
    float: right !important;
}
.pull-right {
    float: left !important;
}
.pagination > li > a, .pagination > li > span {
    float: right;
}
.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-brand {
    float: right;
}
#page-inner{
        margin: 10px 0px 10px 20px;
}
.noti-box .icon-box {
    margin: 0 0 10px 0;
}
@media(min-width:768px) {
    #page-wrapper {
       margin: 0 200px 0 0;
    }
    .navbar-header {
        float: right;
    }
    .navbar-c-menu {
        float: left;
        margin-right: -15px;
    }
    .navbar-nav > li {
       float: right;
    }

}
.close{
    float: left;
}
@media(min-width:320){
    .navbar-header {
        float: float;
    }
    .modal-xs { width: 320; }
    p {
    font-size:14px;
}
}
