{% load i18n %}
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{% blocktrans %}Very short on what we do here{% endblocktrans %}</h2>
                    <hr class="light">
                    <p class="text-faded">{% blocktrans %}It does not matter you are a small brand or known big organization, home business or startup ... <b>Inprobes</b> is a secure way to monitor clients in social networks. Powerfull tools in <b>Inprobes</b> makes it posible for businesses to contorl thier users behavior in several times and send contents according to their taste. Also <b>Inprobes</b> lets you to hold festivals/competitions with your prefered #hashtags and specify the winner with provided tools{% endblocktrans %}</p>
                    <a href="{% url 'tour' %}" class="btn btn-default btn-xl">{% blocktrans %}Want to know more ?{% endblocktrans %}</a>
                </div>
            </div>
        </div>
    </section>