{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body %}
{% load custom_tags %}
	    <nav id="mainNav" class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% ifnotequal context.title 'home' %}/{% endifnotequal %}#page-top"><center>
                    <img src="{% static 'index/img/logo/logo-green-full.png' %}" alt='logo' class='img-logo'>
                    </center></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-c-menu">
                    <li>
                        <div style='padding-top: 10px;'>
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% get_current_language as current_lang %}
                        <form action='{% url "set_language" %}' method='POST'>{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            {% for lang in languages %}
                                {% ifnotequal lang.code current_lang %}
                                <input type='hidden' name='language' value='{{lang.code}}'/>
                                <button class='btn btn-primary' type='submit' value='{{lang.code}}'>{{lang.name_local}} <i class="fa fa-globe" aria-hidden="true"></i></button>
                                {% endifnotequal %}
                            {% endfor %}
                        </form>
                        </div>
                    </li>

                    <!--li>
                        <div class="dropdown" style='padding-top: 10px;'>
                            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                                <select name="language">
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                                </select>
                                <input type="submit" value="Change" />
                            </form>
                        </div>
                    </li-->

                    <li>
                        <a href="{% url 'page' slug='terms-of-service' %}">{% trans 'Terms of Service' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'prices' %}">{% trans 'Prices' %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% ifnotequal context.title 'home' %}/{% endifnotequal %}#customer">{% trans 'Customers' %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{% trans 'Contact Us' %}</a>
                    </li>
                    <li>
                        <a  href="{% url 'user_login'%}">{% trans 'Login' %}</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

	{% block content %}{% endblock %}


    {% include 'index/footer.html' %}
{% endblock %}