{% load i18n %}
<aside class="bg-dark" id="customer">
    <div class="container text-center">
        <div class="call-to-action">
            <ul class="list-inline">
                <li class="sticky-info"><h3>{% blocktrans %}Instagram Accounts{% endblocktrans %}: {% trans context.instagram_users %}</h3></li>
                <li class="sticky-info"><h3>{% blocktrans %}Instagram Media{% endblocktrans %}: {% trans context.instagram_media %}</h3></li>
            </ul>
            <a href="{% url 'register' %}" class="btn btn-default btn-xl wow tada">{% blocktrans %}Join us now!{% endblocktrans %}</a>
            <a href="/privacy-policy" class="btn btn-primary btn-xl page-scroll">{% blocktrans %}Privacy Policy{% endblocktrans %}</a>
        </div>
    </div>
</aside>