{% load i18n %}
<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{% blocktrans %} Let's Get In Touch! {% endblocktrans %}</h2>
                    <hr class="primary">
                    <p>{% blocktrans %}Let us to know your feedback of using our service{% endblocktrans %}</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="col-lg-6 text-center">
                        <i class="fa fa-globe fa-3x wow bounceIn"></i>
                        <p>{% blocktrans %}Tehran-Iran{% endblocktrans %}&copy;2016</p>
                    </div>
                    <div class="col-lg-6 text-center">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p><a href="mailto:your-email@your-domain.com">feedback@InProbes.com</a></p>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                    <P><a href="{% url 'page' slug='privacy-policy' %}">{% blocktrans %}Privacy Policy{% endblocktrans %}</a> | <a href="#">{% blocktrans %}FAQ{% endblocktrans %}</a> | <a href="{% url 'page' slug='about-us' %}">{% blocktrans %}About Us{% endblocktrans %}</a></P>
                    <hr class='primary'>
                    <p>
                        <a href="#" class='social-icon'><i class="fa fa-2x fa-facebook"></i></a>
                        <a href="#" class='social-icon'><i class="fa fa-2x fa-instagram"></i></a>
                        <a href="#" class='social-icon'><i class="fa fa-2x fa-paper-plane"></i></a>
                        <a href="#" class='social-icon'><i class="fa fa-2x fa-twitter"></i></a>
                    </p>
                </div>
            </div>
        </div>
</section>