{% load staticfiles %}
{% load i18n %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="{% static 'index/img/logo/logo-white-full.png'%}" class='header-img'>
                
                <h2 class="header-title">{% blocktrans %}Instagram Account Analyzer{% endblocktrans %}</h2>
                <hr>
                <p class='header-p'>{% blocktrans %}Get deeper inside your audiences statistics{% endblocktrans %}</p>
                <a href="{% url 'user_login'%}" class="btn btn-default btn-xl header-btn">{% trans 'Login/Register' %}</a>
                <a href="#about" class="btn btn-primary btn-xl page-scroll header-btn">{% blocktrans %} What are we doing? {% endblocktrans %}</a>
            </div>
        </div>
    </header>