{% extends 'index/base_page.html' %}
{% load staticfiles %}
{% load i18n %}
{% block meta%}
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content="{% trans 'Professional Instagram Analyzer • InProbes' %}" />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% trans 'Professional Instagram Analyzer • InProbes' %}">
{% endblock %}
{% block title %}
    <title>{% trans 'Professional Instagram Analyzer • InProbes' %}</title>
{% endblock %}
{% block content %}

    {% include 'index/header.html' %}

    {% include 'index/about_section.html' %}

    {% include 'index/services.html' %}

    {% include 'index/customer.html' %}

    {% comment %}

    	{% include 'index/customers.html' %}

    {% endcomment %}



{% endblock %}