{% extends 'index/base_page.html' %}
{% load i18n %}
{% block title %}
    <title>{% trans "InProbes • Login" %}</title>
{% endblock %}
{% block meta%}
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content='{% trans "InProbes • Login" %}' />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block content %}
{% load i18n %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1 text-center">
                	<h2 class="section-heading">{{context.banner}}</h2>
                	<br>
                	<form class="form-horizontal" role="form" action='{{request.path}}' method='POST' id='login_form'>
                		{% csrf_token %}
                		<div class="form-group">
                			<div class="input-group margin-bottom-sm col-lg-8 col-lg-offset-2">
                                <span class="input-group-addon"><i class="fa fa-user-circle-o fa-fw"></i></span>
                				<input placeholder="{% trans 'Username' %}" type = 'text' name = 'username' value = '' size = '50' class='form-control'/>
                			</div>
                		</div>
                		<div class='form-group'>
                			<div class="input-group margin-bottom-sm col-lg-8 col-lg-offset-2">
                                <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
                				<input placeholder="{% trans 'Password' %}" type = 'password' name = 'password' value='' size='50' class='form-control'/>
                			</div>
							<div class="col-sm-2 col-xs-2"></div>
                		</div>
                        <a href="{% url 'password_reset' %}"><h5>{% trans 'Forgot password?' %}</h5></a>

                		<br>
                		<button type="submit" class="btn btn-primary btn-block btn-login">{% trans 'Login'%}</button>
                	</form>
                    <h4>{% blocktrans %}Don't have an account yet?{% endblocktrans %} <a href='{% url "register" %}'><b>{% blocktrans %}Register here{% endblocktrans %}</b></a></h4>
                </div>
            </div>
        </div>
    </section>

{% endblock %}