{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	 <title>InProbes - Maintenace</title>
{% endblock%}
{% block body %}
	{% load i18n %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="{% static 'index/img/logo/logo-white-full.png'%}" class='header-img'>
                
                <h2 style='text-transform:uppercase;'>{% blocktrans %}Tool for searching in the depths of audience statistics{% endblocktrans %}</h2>
                <hr>
                <p style='font-size: 25px; font-weight: 600;'>{% blocktrans %}Light, Flexible, Innovative, Scalable and Powerfull{% endblocktrans %}</p>
                <a href="#" class="btn btn-primary btn-xl page-scroll">{% blocktrans %} Comming Soon ... {% endblocktrans %}</a>
            </div>
        </div>
    </header>

{% endblock %}
