{% extends 'index/base_page.html' %}
{% load i18n %}
{% block title %}
    <title>{% trans "InProbes • context.title" %}</title>
{% endblock %}
{% block meta%}
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content='{% trans "InProbes • context.title" %}' />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{{page.header}}</h2>
                    <hr class="green">
                    <br>
                </div>
                <div class="col-lg-8 col-lg-offset-2" style="text-align: justify;">
                    <p>{{page.body|safe}}</p>
                    <div class='text-center'>
                        <h4>{% trans 'Last update' %}: {{Page.updated}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
