{% extends 'index/base_page.html' %}
{% load i18n %}
{% block title %}
    <title>{% trans "InProbes • Prices" %}</title>
{% endblock %}
{% block meta%}
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content='{% trans "InProbes • Prices" %}' />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class='col-md-12 text-center'>
                    <h2>{% trans "Prices" %}</h2>
                    <hr class="green">
                </div>
            </div>
            <div class='row'>
                <div class="col-md-12 col-sm-12- col-xs-12">
                    <div class="col-md-3 col-sm-12- col-xs-12"></div>
                    <div class="col-md-6 col-sm-12- col-xs-12">
                        <div class="well-lg text-center"
                             style="text-align: justify;">
                            <p>{% blocktrans %}All services that you are using right
                                now will be <b>free</b> for ever, but maybe some
                                facilities added to service in future and you should
                                pay to use them if you prefer.{% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12- col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
