{% extends 'index/base_page.html' %}
{% load i18n %}
{% block title %}
    <title>{% trans "InProbes • Register" %}</title>
{% endblock %}
{% block meta%}
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content='{% trans "InProbes • Register" %}' />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1 text-center">
					{% if not context.show_register_form %}
					{% url 'password_reset' as password_reset %}
					{% url 'register' as register %}
					<h3 class="section-heading">{% blocktrans with email=user_form.email.value %}A user with <span style="color:#35AB83">{{email}}</span> already exists. If you missed your account try <a href="{{password_reset}}">password recovery</a> option or create a <a href="{{register}}">new account</a> with another email{% endblocktrans %}</h3>
					{% else %}
							<h2 class="section-heading">{% trans context.banner|safe %}</h2>
								<br>
								<form role='form' class='form-horizontal' action='' method='POST' id='register_form' enctype = 'multipart/form-data' >
									{% csrf_token %}
									<div class='form-group'>
										<div class="input-group margin-bottom-sm col-lg-8 col-lg-offset-2">
											<span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
											{{user_form.fullname}}
											{% if user_form.fullname.errors %}
												{% for error in user_form.fullname.errors %}
												<h5 style='color:#ffea00;'>
													{% trans error %}
												</h5>
												{% endfor %}
											{% endif %}
										</div>
									</div>

									<div class='form-group'>
										<div class="input-group margin-bottom-sm col-lg-8 col-lg-offset-2">
											<span class="input-group-addon"><i class="fa fa-user-circle-o fa-fw"></i></span>
											{{user_form.username}}
											{% if user_form.username.errors %}
												{% for error in user_form.username.errors %}
												<h5 style='color:#ffea00;'>
													{% trans error %}
												</h5>
												{% endfor %}
											{% endif %}
										</div>
									</div>
									<div class='form-group'>
										<div class="input-group margin-bottom-sm col-lg-8 col-lg-offset-2 ">
											<span class="input-group-addon"><i class="fa fa-at fa-fw" aria-hidden="true"></i></span>
											{{user_form.email}}
											{% if user_form.email.errors %}
												{% for error in user_form.email.errors %}
												<h5 style='color:#ffea00;'>
													{% trans error %}
												</h5>
												{% endfor %}
											{% endif %}
										</div>
									</div>
									<div class='form-group'>
										<div class="input-group margin-bottom-sm col-lg-8 col-lg-offset-2">
											<span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
											{{user_form.password}}
											{% if user_form.password.errors %}
												{% for error in user_form.password.errors %}
												<h5 style='color:#ffea00;'>
													{% trans error %}
												</h5>
												{% endfor %}
											{% endif %}
										</div>
									</div>
									<br><br>
									<button class='btn btn-primary btn-block btn-login' type='submit'>{% trans 'REGISTER' %}</button>
								</form>
								<h4>{% blocktrans %}Already have an account?{% endblocktrans %} <a href='{% url "user_login" %}'><b>{% blocktrans %}Login here{% endblocktrans %}</b></a></h4>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}





