{% load i18n %}
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans 'Your way' %}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-instagram wow bounceIn text-primary"></i>
                        <h3>{% trans 'Join Us'%}</h3>
                        <p class="text-muted">{% blocktrans %}Sign in with your instagram account{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>{% trans 'Contorl Likes'%}</h3>
                        <p class="text-muted">{% blocktrans %}Analyze your clients likes to your posts{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comment wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>{% trans 'Gather Comments'%}</h3>
                        <p class="text-muted">{% blocktrans %}Parse inside your post's comments simply{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-arrows wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>{% trans 'Make Relations'%}</h3>
                        <p class="text-muted">{% blocktrans %}Manage your following/follower list here{% endblocktrans %}</p>
                    </div>
                </div>

            </div>
        </div>
    </section>