{% extends 'index/base_page.html' %}
{% load i18n %}
{% block title %}
<title>InProbes - Register</title>
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class='col-md-12 text-center'>
                <h2>{% trans "Register Page" %}</h2>
                <hr class="green">
            </div>
        </div>
        <div class='row'>
            <div class="col-md-12 col-sm-12- col-xs-12">
                <div class="col-md-3 col-sm-12- col-xs-12"></div>
                <div class="col-md-6 col-sm-12- col-xs-12">
                    <div class="well-lg text-center" style="text-align: justify;">
                        <p>{% blocktrans %}Sorry! Site is under construction and Registration for public users is not
                            Available now, Please be pateint we will come back soon :){% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12- col-xs-12"></div>
            </div>
        </div>
</section>
{% endblock %}
