{% extends 'index/base_page.html' %}
{% load staticfiles %}
{% load i18n %}
{% block meta%}
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content="{% trans 'Professional Instagram Analyzer • InProbes' %}" />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block title %}
    <title>{% trans 'Professional Instagram Analyzer • InProbes' %}</title>
{% endblock %}
{% block css %}
  <link rel="stylesheet" href='{% static "index/css/tour.css" %}'>
{% endblock %}

  {% block content %}
    <header class="main" id="header">
        <div class="header-content">
            <div class="header-content-inner">


                <h2 style='text-transform:uppercase;color: #f8fcff;'>{% blocktrans %}What is InProbes?{% endblocktrans %}</h2>
                <hr class="hr-light">
                <p style='font-size: 18px; font-weight: 100; color:#f8fcff;'>{% blocktrans %}InProbes is a lightweight but powerfull service for you to analyze your instagram
                    account and know more about your customers behaviors. With InProbes you can find your most popular posts, your best commented/liked day of week and
                    also we will provide tools for you to hold your festivals through instagram easily. All activities in inprobes inherits from instagram
                    "terms and service".{% endblocktrans %}</p>
            </div>
        </div>
    </header>
    <div class="row row-light row-li">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4 text-center">
                <a href="#user" class="page-scroll"><i class="fa fa-user  fa-5x fa-clr" aria-hidden="true"></i> <p class="fa-clr">{% blocktrans %}Account activity flow analysis{% endblocktrans %}</p></a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4 text-center">
                <a href="#users"  class="page-scroll"><i class="fa fa-users fa-5x fa-clr" aria-hidden="true"></i> <p class="fa-clr">{% blocktrans %}Account follower behavior analysis{% endblocktrans %}</p></a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4 text-center">
                <a href="#festival"  class="page-scroll"><i class="fa fa-slack fa-5x fa-clr" aria-hidden="true"></i> <p class="fa-clr">{% blocktrans %}Hold prefered Festivals, Campaign{% endblocktrans %}</p></a>
            </div>
        </div>
    </div>
    <div class="row row-black row-part-one" id="user">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="text-center" id="fade-title"><h3>Basic Account Analytics</h3></div>
        <div class="col-md-6  col-xs-12 col-sm-12 col-lg-6 content">
            <h3>Informations About:</h3>
            <ul>
                <li>All your posts</li>
                <li>All your relationships in instagram</li>
                <li>All of your comments and averages</li>
                <li>All of your likes and averages</li>
            </ul>
        </div>
        <div class="col-md-6  col-xs-12 col-sm-12 col-lg-6">
            <img src="{% static 'index/img/screen/user-1-en.png' %}" class="img-responsive img-left img-rounded" alt="dashboard">
        </div>
        </div>
    </div>
    <div class="row row-black row-part-one">
        <div class="col-md-12  col-xs-12 col-sm-12 col-lg-12">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 content">
               <h3>Posts Ratio</h3>
                 <ul>
                     <li>Image/Videos ratio</li>
                    <li>Latest comments</li>
                 </ul>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
              <img src="{% static 'index/img/screen/user-2-en.png' %}" class="img-responsive img-left img-rounded" alt="dashboard">
            </div>
        </div>
    </div>
    <div class="row row-black row-part-one">
        <div class="col-md-12  col-xs-12 col-sm-12 col-lg-12">
           <div class="col-md-6  col-xs-12 col-sm-12 col-lg-6 content">
               <h3>Compute the most popular post by:</h3>
               <ul>
                  <li>Most liked posts</li>
                  <li>Most commented posts</li>
                  <li>Most popular Hashtags used</li>
                  <li>Rank Post Due to their scores</li>
               </ul>
            </div>
            <div class="col-md-6  col-xs-12 col-sm-12 col-lg-6">
              <img src="{% static 'index/img/screen/user-3-en.png' %}" class="img-responsive img-left img-rounded" alt="dashboard">
            </div>
       </div>
    </div>
    <div class="row row-light row-part-two" id="users">
        <div class="col-md-12  col-xs-12 col-sm-12 col-lg-12">
            <div class="text-center">
                <h3>Deep Account Analysis</h3>
            </div>
            <div class="col-md-6  col-xs-12 col-sm-12 col-lg-6">
              <img src="{% static 'index/img/screen/users-1-en.png' %}" class="img-responsive img-right" alt="">
            </div>
            <div class="col-md-6 content">
               <h3>Information Analytics</h3>
               <ul>
                  <li>Customers likes chart</li>
                  <li>Customers comments chart</li>
                  <li>Hashtags popularity chart</li>
                  <li>Observe audiences growth</li>
               </ul>
            </div>
        </div>
    </div>
    <div class="row row-light  row-part-two">
        <div class="col-md-12  col-xs-12 col-sm-12 col-lg-12">
            <div class="col-md-6">
              <img src="{% static 'index/img/screen/users-2-en.png' %}" class="img-responsive img-right" alt="">
            </div>
            <div class="col-md-6  col-xs-12 col-sm-12 col-lg-6 content">
               <h3>Find Best Post by:</h3>
               <ul>
                  <li>Followers interaction</li>
                  <li>Followers likes</li>
                  <li>Followers comments</li>
                  <li>None Followers interaction</li>
               </ul>
           </div>
        </div>
    </div>
    <div class="row row-light  row-part-two">
        <div class="col-md-12  col-xs-12 col-sm-12 col-lg-12">
            <div class="col-md-6  col-xs-12 col-sm-12 col-lg-6">
              <img src="{% static 'index/img/screen/users-3-en.png' %}" class="img-responsive img-right" alt="">
            </div>
            <div class="col-md-6  col-xs-12 col-sm-12 col-lg-6 content">
               <h3>Posts analytics for different days of week</h3>
               <ul>
                  <li>Observe the important notes of your followers behavior</li>
                  <li>Show the process of receiving likes during the days of week</li>
                  <li>Show the process of receiving comments during the days of week</li>
                  <li>Your activity statistics during the days of week</li>
               </ul>
           </div>
        </div>
    </div>
    <div class="row row-light" id="festival">
        <div class="col-md-12  col-xs-12 col-sm-12 col-lg-12">
            <div class="text-center"><h3>Hold Preferred Festivals</h3></div>
            <div class="col-md-3  col-xs-12 col-sm-6 col-lg-3 text-center">
                <i class="fa fa-slack  fa-3x fa-clr" aria-hidden="true"></i> <p class="fa-clr">{% blocktrans %}Hold your Festival/Campaign by hashtag{% endblocktrans %}</p>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 text-center">
                <i class="fa fa-list-alt fa-3x fa-clr" aria-hidden="true"></i> <p class="fa-clr">{% blocktrans %}Advertise your Festival/Campaign{% endblocktrans %}</p>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 text-center">
                <i class="fa fa-check-square-o fa-3x fa-clr" aria-hidden="true"></i> <p class="fa-clr">{% blocktrans %}Check out participants in InProbes{% endblocktrans %}</p>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 text-center">
                <i class="fa fa-gift fa-3x fa-clr" aria-hidden="true"></i> <p class="fa-clr">{% blocktrans %}Find the winner{% endblocktrans %}</p>
            </div>
        </div>
    </div>
  {% endblock %}