{% load i18n %}
<div class="row">
    <div class="panel-top">

      <div class="col-md-5 col-sm-10 col-xs-11">
        <div class="sections post-section">
          <center>
            <p class="title-text">پست‌ها</p>
          </center>
          <div class="post-box">
              <div class="col-md-4 col-sm-4 col-xs-4">
              <center>
                <i class="far fa-file-image fa-3x fa-orange"></i>
                <p class="top-design">{{context.type.images}}</p>
              </center>
            </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
              <center>
                <i class="far fa-file-video fa-3x fa-orange"></i>
                <p class="top-design">{{context.type.videos}}</p>
              </center>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <center>
                <i class="fas fa-clone fa-3x fa-orange"></i>
                <p class="top-design">{{context.type.carousel}}</p>
                </center>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-10 col-xs-11">
        <div class="like-section">
            <center>
              <i class="fas fa-heart fa-3x fa-red"></i>
            </center>
            <div class="col-md-6 col-xs-6 col-sm-6">
              <center class="">
                <p class="detail-left">میانگین</p>
                <p class="detail-left">{{context.like.avg|floatformat}}</p>
              </center>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
              <center>
                <p class="detail-right">مجموع</p>
                <p class="detail-right">{{context.like.sum}}</p>
            </center>
            </div>
        </div>
        <div class="comment-section">
              <center>
            <span class="">
              <i class="fas fa-comment fa-3x fa-blue"></i>
            </span>
            </center>
            <div class="col-md-6 col-xs-6 col-sm-6">
              <center>
                <p class="detail-left">میانگین</p>
                <p class="detail-left">{{context.comment.avg|floatformat}}</p>
              </center>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
              <center>
                <p class="detail-right">مجموع</p>
                <p class="detail-right">{{context.comment.sum}}</p>
              </center>
            </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-10 col-xs-11">
        <div class="sections">
          <center>
              <i class="fas fa-users fa-3x fa-green"></i>
              <div class="follow-section">
                <div>
                  <p>دنبال می‌کنید:</p>
                  <p>{{context.relation.following}}</p>
                </div>
                <hr class="hr-cust">
                <div>
                  <p>دنبال کننده:</p>
                  <p>{{context.relation.followers}}</p>
                </div>
            </div>
          </center>
        </div>
      </div>


    </div>
  </div>