{% load staticfiles %}
{% load i18n %}
<div class="chat-panel panel panel-default chat-boder chat-panel-head">
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        {{context.post.comment_count}}
        <i class="fa fa-heart"></i>
        {{context.post.like_count}}
        <i class="fa fa-users"></i>
        {{context.post.tagged_users.count }}
        <i class="fa fa-tags"></i>
        {{ context.post.hashtags.count }}
        {% if context.post.comment_reports.exists %}
            <span class="success-span pull-right">فعال</span>
        {% else %}
            <span class="not-success-span pull-right">غیر فعال</span>
        {% endif %}
    </div>

    <div class="panel-body">
        <ul class="chat-box">
            {% if context.post.comments.count %}
                {% for comment in context.post.comments.all %}
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src={{comment.user.profile_picture}} alt="User"
                                 class="img-circle profile-img"/>
                        </span>
                        <div class="chat-body">
                            <strong style="float: right;">{{comment.user.username}}</strong>
                            <small class=" text-muted">
                                <i class="fa fa-clock-o fa-fw"></i>{{comment.created_at}}
                            </small>
                            <p class="comments-body">{{comment.text}}</p>
                        </div>
                    </li>
                {% endfor %}
            <!--<li class="left clearfix">-->
                <!--<span class="chat-img pull-left">-->
                    <!--<img src='{% static "index/assets/img/1.png" %}' alt="User"-->
                         <!--class="img-circle"/>-->
                <!--</span>-->
                <!--<div class="chat-body">-->
                    <!--<strong style="float: right;">Username</strong>-->
                    <!--<small class=" text-muted">-->
                        <!--<i class="fa fa-clock-o fa-fw"></i>12 mins ago-->
                    <!--</small>-->
                    <!--<p class="comments-body">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Curabitur bibendum ornare dolor, quis ullamcorper ligula-->
                        <!--sodales.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="left clearfix">-->
                <!--<span class="chat-img pull-left">-->
                    <!--<img src='{% static "index/assets/img/1.png" %}' alt="User"-->
                         <!--class="img-circle"/>-->
                <!--</span>-->
                <!--<div class="chat-body">-->
                    <!--<strong style="float: right;">Username</strong>-->
                    <!--<small class=" text-muted">-->
                        <!--<i class="fa fa-clock-o fa-fw"></i>12 mins ago-->
                    <!--</small>-->
                    <!--<p class="comments-body">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Curabitur bibendum ornare dolor, quis ullamcorper ligula-->
                        <!--sodales.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="left clearfix">-->
                <!--<span class="chat-img pull-left">-->
                    <!--<img src='{% static "index/assets/img/1.png" %}' alt="User"-->
                         <!--class="img-circle"/>-->
                <!--</span>-->
                <!--<div class="chat-body">-->
                    <!--<strong style="float: right;">Username</strong>-->
                    <!--<small class=" text-muted">-->
                        <!--<i class="fa fa-clock-o fa-fw"></i>12 mins ago-->
                    <!--</small>-->
                    <!--<p class="comments-body">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Curabitur bibendum ornare dolor, quis ullamcorper ligula-->
                        <!--sodales.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="left clearfix">-->
                <!--<span class="chat-img pull-left">-->
                    <!--<img src='{% static "index/assets/img/1.png" %}' alt="User"-->
                         <!--class="img-circle"/>-->
                <!--</span>-->
                <!--<div class="chat-body">-->
                    <!--<strong style="float: right;">Username</strong>-->
                    <!--<small class=" text-muted">-->
                        <!--<i class="fa fa-clock-o fa-fw"></i>12 mins ago-->
                    <!--</small>-->
                    <!--<p class="comments-body">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Curabitur bibendum ornare dolor, quis ullamcorper ligula-->
                        <!--sodales.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="left clearfix">-->
                <!--<span class="chat-img pull-left">-->
                    <!--<img src='{% static "index/assets/img/1.png" %}' alt="User"-->
                         <!--class="img-circle"/>-->
                <!--</span>-->
                <!--<div class="chat-body">-->
                    <!--<strong style="float: right;">Username</strong>-->
                    <!--<small class=" text-muted">-->
                        <!--<i class="fa fa-clock-o fa-fw"></i>12 mins ago-->
                    <!--</small>-->
                    <!--<p class="comments-body">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Curabitur bibendum ornare dolor, quis ullamcorper ligula-->
                        <!--sodales.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="left clearfix">-->
                <!--<span class="chat-img pull-left">-->
                    <!--<img src='{% static "index/assets/img/1.png" %}' alt="User"-->
                         <!--class="img-circle"/>-->
                <!--</span>-->
                <!--<div class="chat-body">-->
                    <!--<strong style="float: right;">Username</strong>-->
                    <!--<small class=" text-muted">-->
                        <!--<i class="fa fa-clock-o fa-fw"></i>12 mins ago-->
                    <!--</small>-->
                    <!--<p class="comments-body">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Curabitur bibendum ornare dolor, quis ullamcorper ligula-->
                        <!--sodales.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="left clearfix">-->
                <!--<span class="chat-img pull-left">-->
                    <!--<img src='{% static "index/assets/img/1.png" %}' alt="User"-->
                         <!--class="img-circle"/>-->
                <!--</span>-->
                <!--<div class="chat-body">-->
                    <!--<strong>Username</strong>-->
                    <!--<small class=" text-muted">-->
                        <!--<i class="fa fa-clock-o fa-fw"></i>12 mins ago-->
                    <!--</small>-->
                    <!--<p class="comments-body">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Curabitur bibendum ornare dolor, quis ullamcorper ligula-->
                        <!--sodales.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="left clearfix">-->
                <!--<span class="chat-img pull-left">-->
                    <!--<img src='{% static "index/assets/img/1.png" %}' alt="User"-->
                         <!--class="img-circle"/>-->
                <!--</span>-->
                <!--<div class="chat-body">-->
                    <!--<strong>Username</strong>-->
                    <!--<small class=" text-muted">-->
                        <!--<i class="fa fa-clock-o fa-fw"></i>12 mins ago-->
                    <!--</small>-->
                    <!--<p class="comments-body">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Curabitur bibendum ornare dolor, quis ullamcorper ligula-->
                        <!--sodales.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="left clearfix">-->
                <!--<span class="chat-img pull-left">-->
                    <!--<img src='{% static "index/assets/img/1.png" %}' alt="User"-->
                         <!--class="img-circle"/>-->
                <!--</span>-->
                <!--<div class="chat-body">-->
                    <!--<strong>Username</strong>-->
                    <!--<small class=" text-muted">-->
                        <!--<i class="fa fa-clock-o fa-fw"></i>12 mins ago-->
                    <!--</small>-->
                    <!--<p class="comments-body">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Curabitur bibendum ornare dolor, quis ullamcorper ligula-->
                        <!--sodales.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li class="left clearfix">-->
                <!--<span class="chat-img pull-left">-->
                    <!--<img src='{% static "index/assets/img/1.png" %}' alt="User"-->
                         <!--class="img-circle"/>-->
                <!--</span>-->
                <!--<div class="chat-body">-->
                    <!--<strong>Username</strong>-->
                    <!--<small class=" text-muted">-->
                        <!--<i class="fa fa-clock-o fa-fw"></i>12 mins ago-->
                    <!--</small>-->
                    <!--<p class="comments-body">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Curabitur bibendum ornare dolor, quis ullamcorper ligula-->
                        <!--sodales.-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
            {% else %}
            {% if context.post.comment_reports.exists %}
                <li id="post-status">
                    <center>درخواست شما ثبت شد، تحلیل نظرهای این پست به زودی در دسترس خواهد بود</center>
                </li>
            {% else %}
                <li id="post-status">
                    <center>نظرات این پست تحلیل نمی‌شوند. برای تحلیل پست و یا مدیریت
                        کمپین اینستاگرام باید درخواست خود را ثبت کنید
                    </center>
                </li>
                <li>
                    <center>
                        <a id="comment-processor" class="btn btn-main" href="{% url 'create_comment_report' context.post.id %}">درخواست                    پیمایش نظرات این پست</a>
                    </center>
                </li>
            {% endif %}

            {% endif %}
        </ul>
    </div>
</div>
                    
