<div class="create-new">
  <a type="button" href="{% url 'create_hashtag' %}" class="btn-campaign btn-green-campaign">هشتگ جدید</a>
  <!--<a type="button" href="{% url 'create_hashtag' %}" class="btn-campaign btn-green-campaign">مشاهده کمپین‌ یا مسابقه‌های فعال</a>-->
  <!--<a type="button" href="{% url 'create_hashtag' %}" class="btn-campaign btn-green-campaign">کمپین جدید</a>-->
</div>
<div class='row'>
{% for report in context.reports %}
  <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
      <div class="campaign-detail">
        {% if report.active %}
          <span class="label-detail label-active">فعال</span>
        {% else %}
          <span class="label-detail label-inactive">غیر فعال</span>
        {% endif %}
        <p class="camp-h2">{{report.hashtag}}</p>
        <hr class="hr-camp">
        <div class="col-md-4 col-xs-3 col-sm-3 col-lg-4 top-detail">
          <p class="camp-p">پست‌ها   </p>
          <p class="camp-p">{{report.media_count}}</p>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 top-detail">
          <p class="camp-p">مشارکت ‌کنندگان</p>
          <p class="camp-p">{{report.participants|length}}</p>
        </div>
        <div class="col-md-4 col-xs-5 col-sm-5 col-lg-4 top-detail">
          <p class="camp-p">هشتگ‌های همراه</p>
          <p class="camp-p">{{report.relevant_tags.count}}</p>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
          <center>
            <a type="button" href="{% url 'hashtags_hashtag_analytics' report.id %}" class="btn-campaign btn-gradient-campaign">تحلیل کمپین شما</a>
          </center>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
          <center>
            <a type="button" href="{% url 'hashtags_post_list' report.id %}" class="btn-campaign btn-gradient-campaign">مشاهده پست‌ها</a>
          </center>
        </div>
      </div>
    </div>
{% endfor %}
{% if not context.reports.count|divisibleby:2 %}
  <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
    <div class="create-new-campaign">
      <p class="plus-detail"><a href="{% url 'create_hashtag' %}" class="a-detail"><i class="fas fa-plus fa-7x"></i></a></p>
      <div class="desc-campaign">
        <p>همین الان هشتگ مورد نظر خود را از این قسمت تعریف کنید. اینجا می‌توانید کمپین خود را مدیریت کنید و گزارش لحظه‌ای رو بگیرید.</p>
      </div>
    </div>
  </div>
{% endif %}
</div>