<div class="alert alert-danger">
    هشدار: باتوجه به تغییر سیاست‌های اینستاگرام تحلیل‌های حساب‌های کاربری بروز نخواهند شد. در حال طراحی سرویس جدید هستیم و به محض اتمام مراحل آماده سازی شما را مطلع می‌کنیم. برای اطلاعات بیشتر  <a href="http://inprobes.com/blog/post/why-instagram-api-shutdown-immediately/" class="alert-link">این پست را بخوانید</a>.
</div>