{% load i18n %}

<div class="row">

  <div class="col-md-3 col-sm-6 col-xs-6">           
    <div class="panel panel-back noti-box">
      <center>
        <span class="icon-box bg-color-new set-icon">
          <i class="fa fa-picture-o"></i>
        </span>
      </center>
      <div class="text-box" >
        <center>
          <p class="main-text">{% trans "Posts" %}</p>
          <hr class='hr-custom'>
        </center>
        <p class="text-muted">{% trans "Images" %}: {{context.type.images}} <br>{% trans "Videos" %}: {{context.type.videos}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-6">           
    <div class="panel panel-back noti-box">
        <center>
      <span class="icon-box bg-color-green-2 set-icon">
        <i class="fa fa-link"></i>
      </span>
      </center>
      <div class="text-box" >
        <center>
        <p class="main-text">{% trans "Relations"%}</p>
        <hr class='hr-custom'>
        </center>
        <p class="text-muted">{% trans "Followers" %}: {{context.relation.followers}} <br>{% trans "Following"%}: {{context.relation.following}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-6">           
    <div class="panel panel-back noti-box">
        <center>
      <span class="icon-box bg-color-blue set-icon">
        <i class="fa fa-comments-o"></i>
      </span>
      </center>
      <div class="text-box" >
        <center>
        <p class="main-text">{% trans "Comments"%}</p>
        <hr class='hr-custom'>
        </center>
        <p class="text-muted">{% trans "Average"%}: {{context.comment.avg|floatformat}} <br>{% trans "Total"%}: {{context.comment.sum}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-6">           
    <div class="panel panel-back noti-box">
        <center>
      <span class="icon-box bg-color-red-2 set-icon">
        <i class="fa fa-heart"></i>
      </span>
      </center>
      <div class="text-box" >
        <center>
        <p class="main-text">{% trans "Likes"%}</p>
        <hr class='hr-custom'>
        </center>
        <p class="text-muted">{% trans "Average"%}: {{context.like.avg|floatformat}} <br>{% trans "Total"%}: {{context.like.sum}}</p>
      </div>
    </div>
  </div>

</div>