{% load staticfiles %}
{% load i18n %}
<div class="chat-panel panel panel-default chat-boder chat-panel-head" >
    <div class="panel-body">
        <ul class="chat-box">
            {% for tag in context.tags_bar reversed %}
            <li class="left clearfix">
                <div class="chat-body">
                    <p>{{tag.name}}({{tag.internal_media_count}})</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
                    
