body{
    background-color: #0f3427;
}
h3{
    color: white;
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #0f3427 url('../img/loader/30-2.gif') no-repeat center center;
}
.banner{
    padding:250px;
    margin: 0px 250px 0px 250px;
}