/*=============================================================
    RTL Style for BinaryAdmin Template
    Authour URI: Hosein Ramezan
    Version: 1.1
    License: MIT
    
    http://opensource.org/licenses/MIT

    To be used in http://inprobes.com
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
@font-face {
    font-family: 'Vazir';
    src:url('fonts/Vazir.eot?#') format('eot'),    
    url('fonts/Vazir.woff') format('woff'),
    url('fonts/Vazir.ttf') format('truetype'); 
}
@font-face {
    font-family: 'VazirB';
    src: url('fonts/Vazir-Bold.eot?#') format('eot'),    
    url('fonts/Vazir-Bold.woff') format('woff'),
    url('fonts/Vazir-Bold.ttf') format('truetype'); 
}

h1, h2, h3, h4, h5, h6 {
    font-family: VazirB, "Open Sans","Helvetica Neue",Arial,sans-serif;
}

body {
   	direction: rtl;
   	font-family: 'Vazir';
}
.navbar-header{
    float: right;
}
.navbar-right{
    float: left;
}
.dropdown-menu {
    font-size: 14px;
    text-align: right;
    list-style: outside none none;
}
.col-md-4, .col-md-6, .col-md-3{
    float:right;
}
.col-xs-offset-1 {
    margin-right: 8.33333333%;
}
.header-p{
    font-family:Vazir;
}
.header-title{
    font-weight: 500;
}
.sticky-info{
    padding:0px 0px 25px 0px;
    margin-right:0px;
    margin-left:25px;
}
@media(min-width:768px) {
    .navbar-c-menu {
        float: left;
        margin-right: -15px;
}
    .navbar-nav > li {
        float: right;
    }
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: right;
}
}
@media(min-width:1200px) {
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: right;
    }
.col-lg-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
}
}