.main{
    background-color: none;
    background-image:none;
    min-height: 70%;
}
.row-li{
    height: 30%;
    padding-top: 50px;
}
.row-black{
    background-color: #268363;
}
.row-light{
    background-color: #268363;
}
.view{
    height: 50%;
}

.row-part-one{
   height: 100%;
   color: #f8fcff;
}
.row-part-two{
   height: 100%;
   color: #f8fcff;
}
.content{
   padding: 200px 100px;
   /*text-align: justify;*/
}
.img-left {
	padding: 200px 0px 200px 35px;
}
.img-right{
    padding:200px 35px 200px 0px;
}
.fa-clr{
    color: #f8fcff;
}
hr{
    border-color: #f8fcff;
}
p{
    line-height: 28px;
    vertical-align: baseline;
    outline: 0;
    border:0;

}