/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@font-face {
  font-family: Vazir;
  src: url(../font/Vazir.ttf);
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Vazir;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Vazir;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    direction: rtl;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 2px solid #00945d;
}

.footer-container,
.main aside {
    border-top: 2px solid #00945d;
}

.header-container,
.footer-container,
.main aside {
    background: #fff;

}

.logo {
        float: left;
        width: 60px;
        margin-top: 7px;
    }

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
    color: #00945d;
}
.main article h1:hover{
    color: #940037;
}
.main article section figure img {
    max-width: 100%;
}
.main aside {
    color: #222;
    padding: 0px 5% 10px;
    display: block;
}
.footer-container footer {
    color: #00945d;
    padding: 20px 0;
}
footer{
  border-top: 2px #00945d solid;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a{
    color:#940037;
    text-decoration: none;
}
a:hover{
    color:#00945d;
}
aside p a{
    color:#00945d;
}
aside p a:hover{
    color:#940037;
}


/*
======================================================================
CUSTOM CSS STYLES
======================================================================
*/
.inprobes-typo{
  padding-top: 50px;
}
.inprobes-typo-small{
  padding-top: 30px;
}
.inprobes-typo-small img{
  width: 50%;
}
.inprobes-brand{
  margin-bottom:50px;
}
.register-btn {
    height: 60px;
    border: none;
    background-color: #00945d;
    color: #fff;
    font-size: 16px;
    font-family: "Vazir";
    cursor: pointer;
}
.register-btn{
  font-size: 20px;
}
.register-btn:hover{
  background-color: #dbdbdb;
  color: #940037;
}
.services{
  height: 435px;
  width: 80%;
  margin: auto;
}
.services p,h3,h4{
  text-align: center;
}
aside h3{
  margin-bottom: 20px;
  margin-top: 10px;
}
.services-inline{
  padding-top: 5%;
}
.services-items{
  float: left;
  /*width: 21%;*/
  padding: 2%;
  direction: rtl;
}
.services-items h4{
  margin-bottom: 20px;
}
.img-services{
  margin: 0 18%;
}
.input-field{
   direction: rtl;
   /*float: right;*/
   width: 40%;
   height: 10%;
   border: 1px solid #00945d;
   background-color: #fff;
   padding: 1% 2%;
   margin: 0 28% 1% 28%;
   font-size: 17px;
 }
.username{
  margin-top: 3%
}
.btn-login{
  width: 40%;
  height: 40px;
  background-color: #00945d;
  color: #fff;
  margin-top: 2%;
  margin-bottom: 2%;
  border: none;
}
.btn-login:hover{
  background-color: #dbdbdb;;
  color: #940037;
}
.create-account h4 a{
  color: #940037;
}
.create-account h4 a:hover{
  color: #00945d;
}
.restore-pass h4{
  margin-top: 5%;
}
.input-field{
  font-family: "Vazir";
}
.about-accounts{
  height: 200px;
  padding: 0 10%;
}
.about-accounts p{
  text-align: center;
}
.about{
  width: 25%;
  float: right;
  display: inline;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .logo {
        float: left;
        width: 40px;
        margin-top: 7px;
    }
    .main-page{
      height:420px;
    }
    .main aside {
        display: none;
    }
/* ========================
    Main page
    ======================== */
    .inprobes-typo{
      padding-top: 50px;
    }
    .inprobes-typo img{
        max-width: 100%;
    }
    .inprobes-brand{
      margin-bottom:50px;
    }
    .inprobes-brand img{
      max-width: 100%;
    }
    .register-btn {
        width: 281px;
    }
    .services-items{
      width: 100%;
    }
}
@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    .logo {
        float: left;
        width: 60px;
        margin-top: 7px;
    }
    .main-page{
      height:300px;
    }
    .main aside {
        display: none;
    }
/* ========================
    Main page
    ======================== */
    .inprobes-typo{
      padding-top: 0px;
    }
    .inprobes-typo img{
        max-width: 100%;
    }
    .register-btn {
        width: 300px;
    }
    .services-items{
      width: 46%;
    }
}


@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    /*.header-container,*/
    .main aside {
        -webkit-box-shadow: 0 5px 2px #aaa;
           -moz-box-shadow: 0 5px 2px #aaa;
                box-shadow: 0 5px 2px #aaa;
                box-sizing: unset;
    }

/* ============
    WIDE: Menu
   ============ */

    .logo {
        float: left;
        width: 60px;
        margin-top: 7px;
    }
    .main-page{
      height:525px;
    }
/* ========================
    Main page
    ======================== */
    .inprobes-typo{
      padding-top: 50px;
    }
/* ============
    WIDE: Main BLOG
   ============ */

    .main article {
        float: right;
        width: 66%;
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        box-sizing:unset;
        box-shadow: 0 5px 2px #aaa;
        box-sizing: unset;
    }

    .main aside {
        float: left;
        width: 19%;
        display: block;
    }
    .services-items{
      width: 21%;
      float: right;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
        direction: rtl;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    display: block;
}
.page p{
  margin: 5% 15%;
  line-height: 26px;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[logo]:after {
        content: " (" attr(logo) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


///////////////////////////////////////
#dk-footer {
	direction: rtl;
  display: block;
}
#dk-footer .info-bar {
	width: 100%;
	height: 45px;
	background: #6d717a;
	color: #fff;
}
body, table, div, td, th {
	line-height: 22px;
}
#dk-footer .subscribe-bar .menu-right, #dk-footer .subscribe-bar .menu-left {
	float: right;
}
#dk-footer .subscribe-bar .menu-left {
    margin-right: 170px;
}
#dk-footer div[class^="menu-"] > a.title {
    font: 16px Vazir;
    color: #000;
}
#dk-footer div[class^="menu-"] > a.title, .subscribe-bar-form span {
    margin-bottom: 25px;
    font-size: 16px;
    display: block;
}

#dk-footer .subscribe-bar .subscribe-bar-menu a {
    font: 13px/30px Vazir;
    color: #777;
}
#dk-footer .subscribe-bar div ul li {
    margin-bottom: 6px;
}
ul, ol, li {
    margin: 0;
        margin-bottom: 0px;
    padding: 0;
    list-style: none;
    border-width: 0;
}
#dk-footer .subscribe-bar .subscribe-bar-menu a {
    font: 13px/30px Vazir;
    color: #222;
}
#dk-footer .subscribe-bar .subscribe-bar-menu a:hover{
  color: #940037;
  text-decoration: underline;
}
.heart{
  color: #940037;
}
a {
    text-decoration: none;
    outline: 0;
    color: inherit;
}
.wmin #dk-footer .subscribe-bar .subscribe-bar-form {
    width: 540px;
}
#dk-footer .subscribe-bar .subscribe-bar-form {
    float: right;
    width: 350px;
}
#dk-footer .subscribe-bar-form #subscribe-form {
	margin: 20px 0 45px 0;
}
#dk-footer .subscribe-bar .form-groups {
	margin: 15px 0 39px;
}
.wmin #dk-footer .subscribe-bar .subscribe-bar-form .subscribe-email {
    width: 418px;
}
#dk-footer .subscribe-bar .subscribe-bar-form .subscribe-email {
    border-color: #c9d1d7;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #999;
    float: right;
    font: 13px Vazir;
    height: 48px;
    margin: 0;
    padding: 0 14px;
    text-align: right;
    -webkit-transition: all 400ms ease-out 0s;
    -moz-transition: all 400ms ease-out 0s;
    -ms-transition: all 400ms ease-out 0s;
    -o-transition: all 400ms ease-out 0s;
    transition: all 400ms ease-out 0s;
    width: 220px;
    background-color: #ffffde;
}
input#subscribe-emial {
    margin: 15px 0 39px;
}
.subscribe-email, textarea {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    resize: none;
}
.subscribe-email, textarea {
    border: 1px solid #d7d7d7;
        border-top-color: rgb(215, 215, 215);
        border-right-color: rgb(215, 215, 215);
        border-bottom-color: rgb(215, 215, 215);
        border-left-color: rgb(215, 215, 215);
    color: #828282;
    margin: 0;
    outline: medium none;
    width: 150px;
}
input, select, Textarea, label {
    direction: rtl;
    font: 8pt Tahoma;
}
section p{
  margin: 20px 10px;
  line-height: 26px;
  text-align: justify;
}
section a{
  color: #940037;
}
* {
    margin: 0;
    padding: 0;
}
.wmin #dk-footer .subscribe-bar .dk-button-container {
    width: 112px;
}
#dk-footer .subscribe-bar .dk-button-container {
    float: right;
    margin: 0 8px 0 0;
}
.dk-button-container {
    display: inline-block;
    line-height: 0;
    margin: 4px;
    min-height: 38px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    -ms-box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    width: 64px;
    padding-top: 10px;
    text-align: center;
    background-color: #00945d;
    color: #fff;
}
.dk-button-container a :hover{
  background-color: #dbdbdb;
  color: #940037;
}
.dk-button-container:hover{
  background-color: #dbdbdb;
  color: #940037;
}
#dk-footer .subscribe-bar .subscribe-bar-menu {
	width: 640px;
	float: right;
}
#dk-footer .subscribe-bar .social-panel {
	height: 48px;
}
#dk-footer .social-panel .social-linkbox {
    margin-top: 3px;
    color: #00945d;
}
#dk-footer .social-panel .social-linkbox :hover{
  color: #940037;
}
.social-panel .social-linkbox {
    padding: .5rem 0;
}
.right {
    float: right;
}
a {
    text-decoration: none;
    outline: 0;
    color: inherit;
}
#dk-footer .subscribe-bar {
	width: 100%;
	background: #fff;
	float: right;
	padding: 34px 0;
}
#dk-footer .subscribe-bar .subscribe-bar-form {
    float: right;
    /*width: 550px;*/
}
.icon-footer-facebook {
    width: 29px;
    height: 30px;
    background-position: -577px -621px;
}
.icon-footer-twitter {
    width: 28px;
    height: 28px;
    background-position: -453px -621px;
}
.icon-footer-instagram {
    width: 28px;
    height: 28px;
    background-position: -536px -621px;
}
.icon-footer-telegram {
    width: 29px;
    height: 29px;
    background-position: -617px -621px;
}
.social-linkbox li{
  float: left;
  padding: 10px;
}



@media (min-width :320px){
    .price-pack{
        width: 90%;
        margin-right: 2%;
        padding: 10% 2%;
    }
}
@media(min-width:480px){
    .price-pack{
        width: 80%;
        margin-right: 8%;
        padding: 10% 2%;
      }
}
@media (min-width :768px){
    .price-pack{
        border: 1px solid #940037;
        border-radius: 2%;
        width: 29%;
        padding: 5% 1%;
        float: right;
        margin: 1%;
      }

    .buy-btn{
        border: 1px solid #ccc;
        border-radius: 5%;
        padding: 3px 12px;
    }
    .buy-btn:hover{
        background-color: #00945d;
        color: #fff;
    }
    .main-text{
        font-size: 25px;
        font-weight: 600;
        font-family: Vazir;
    }
    .text-muted{
        color: #777;
    }
}
   .price-pack{
        border: 1px solid #940037;
        border-radius: 2%;
        float: right;
      }

    .buy-btn{
        border: 1px solid #ccc;
        border-radius: 5%;
        padding: 3px 12px;
    }
    .buy-btn:hover{
        background-color: #00945d;
        color: #fff;
    }
    .main-text{
        font-size: 25px;
        font-weight: 600;
        font-family: Vazir;
    }
    .text-muted{
        color: #777;
    }
.no-color{
    color:#000;
}