@font-face{
		font-family: myfont;
		src: url("../font/Vazir.ttf");
	}
	body{
		font-family: myfont;
	}
	.back-img{
		background-image: url("../image/background5.png");
		background-position: center;
 	  background-repeat: no-repeat;
 	  background-size: cover;
 	  back-size: 100 100;
	}
	.navbar-brand{
		padding:3px 75px;
	}
	.mid-text{
		text-align:center;
		direction: rtl;
	}
	.t-weight{
		font-size:16px;
	}
	.fold-first{
		height: 100vh;
	}
	.img-pad{
		padding: 0 0 0 25px;
	}
	.dir-right{
		direction:rtl;
	}
	.flo-right{
		float:right;
	}
	.btn-feature{
		background:#940037;
		color: #fff;
		font-size:17px;
		padding:15px 6%;
	}
	.btn-feature:hover {
		background: #e7e7e7;
		color:#940037;
	}
	.responsive {
		max-width: 100%;
		height: auto;
	}
	.navbar-collapse>.navbar-nav{
			float:right;
			direction:rtl;
	}
	.navbar-collapse>.navbar-nav>li{
			float:right;
			direction:rtl;
	}
	.navbar-default{
		background-color: #fff;
	}
	.navbar-collapse >.navbar-nav>li>a{
		color:#00945d;
		font-weight:600;
	}
	.navbar-collapse >.navbar-nav>li>a:hover{
		color:#940037;
	}
	.navbar-default .navbar-nav > .active > a{
		color: #940037;
	}
	.nav-feature{
		border-bottom: 2px solid #00945d;
		height:auto;
		padding: 0px 8%;
	}
	.service{
		margin-bottom:30px;
	}
	.bord-green{
		margin-top:40px;
		border-top:2px solid #00945d;
	}
	.point-ul{
		float:right;
		direction:rtl;
	}
	.point-ul >li{
		list-style: none;
	}
	.point-ul >li>a{
		color:#696969;
		padding:7px;
		text-decoration: none;
	}
	.footer-feature{
		padding-right: 6%;
		font-size:15px;
		font-weight:500;
		line-height:30px;
	}
	.footer-feature > .point-ul{
		margin-bottom: 25px;
	}
	.input-group-prepend{
		margin-bottom:-51px;
		margin-left:-37px;
	}
	.form-control{
		margin-left:30px;
		background:#ffffde;
	}
	.footer{

	}
	.social{
		margin:30px 0px;
	}
	.social>li{
		float:right;
	}
	.social>li>a>i:hover{
		color:#940037;
	}
	.point-ul>li>a:hover{
		color:#940037;
	}
	.social-div{
		margin-right: 8%;
	}
	.btn-color{
		background:#00945d;
		color:#fff;
	}
	.btn-color:hover{
		background:#e7e7e7;
		color:#940037;
	}
	.fa-feature{
		color:#940037;
	}
	.social-div > ul{
		padding: 0;
	}
	/******blog*********/
	.tag-post{
		border: 1px solid #e7e7e7;
		border-radius: 2px;
		padding: 1%;
	}
.post-blog{
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	padding: 1% 2%;
	margin-bottom: 3%;
}
.input-feature{
	width: 80%;
	padding: 1%;
	margin: 3% 0 ;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
}
.btn-input{
	padding: 1% 2%;
	margin: 2% 0 ;
	background: #00945d;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
}
.fa-input{
	color: #fff;
}
.btn-input:hover{
	background: #940037;
}
.post-blog > a{
		font-size: 13px;
		float: left;
		color: #00945d;
		font-weight: bold;
}
.post-blog > a:hover{
	color: #940037;
	text-decoration: none;

}
.tag-post > p > a{
	color: #696969;
}
.tag-post > p > a:hover{
	color: #940037;
}
.tag-post > h4{
	color: #00945d;
}
.post-blog > h4{
	color: #00945d;
}
.search-sec{
	text-align: center;
}
.post-blog {
	box-shadow:0px 0px 6px #e7e7e7;
}
.tag-post{
	box-shadow:0px 0px 6px #e7e7e7;
}
.last-m{
	padding: 1% 2%;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	box-shadow:0px 0px 6px #e7e7e7;
}
.last-m > h4 {
	padding-bottom: 7%;
}
.last-m > p > a {
	color: #696969;
}
.last-m > p > a:hover{
	color: #940037;
}
 /*****************************service****/
 .nav.nav-justified > li > a { position: relative; }
 .nav.nav-justified > li > a:hover,
 .nav.nav-justified > li > a:focus { background-color: transparent; }
 .nav.nav-justified > li > a > .quote {
     position: absolute;
     left: 0px;
     top: 0px;
     opacity: 0;
     width: 80px;
     height: 30px;
     padding: 5px;
     background-image: linear-gradient(to right,#00945d, #940037);
     border-radius: 3px;
     color: #fff;
 }
 .nav.nav-justified > li.active > a > .quote { opacity: 1; }
 .nav.nav-justified > li > a > img {  }
 .nav.nav-justified > li > a > img {
     max-width: 100%;
     opacity: .3;
     -webkit-transform: scale(.8,.8);
             transform: scale(.8,.8);
     -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
             transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 .nav.nav-justified > li.active > a > img,
 .nav.nav-justified > li:hover > a > img,
 .nav.nav-justified > li:focus > a > img {
     opacity: 1;
     -webkit-transform: none;
             transform: none;
     -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
             transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 .tab-pane .tab-inner { padding: 30px 0 20px; }

 @media (min-width: 768px) {
     .nav.nav-justified > li > a > .quote {
         left: auto;
         top: auto;
         right: 55px;
         bottom: -20px;
     }
 }
.service-img{
	margin-bottom: 40px;
	margin-top: 10px;
	width: 90%;
	height: auto;
}
.btn-submit{
	width: 70%;
	padding: 2% 0;
	margin-top: 10%;
	background: #00945d;
	font-size: 18px;
	color: #fff;
	border:none;
}
.btn-submit:hover{
	background: #e7e7e7;
	color: #940037;
}
.input-pad{
	padding: 3% 5%;
}
.form-login{
	padding: 5% 0;
}
.login-feat{
	padding: 3% 0;
}
.login-a{
	color: #00945d;
}
.login-a:hover{
	color: #940037;
	text-decoration: none;
}
.mt-3{
	margin-top: 3%;
}
.mt-10{
	margin-top: 10%;
}
.f-16{
	font-size: 16px;
}
.f-b{
	font-weight: bold;
}
.f-12{
	font-size: 12px;
}
.t-blog{
	color: #00945d;
}
.t-blog:hover{
	color: #940037;
	text-decoration: none;
}
.price-feat{
		direction: rtl;
		min-width: 25vw;
		width: auto;
		padding: 7%;
		border: 1px solid #940037;
		border-radius: 5px;
		min-height: 80vh;
		float: right;
		margin: 1% 0;
}
.price-feat > h2 , h3 , h4 {
	text-align: center;
}
.price-feat > ul > li {
	color: #696969;
	margin-top: 2%;
}
.price-feat > div{
	min-height: 60vh;
	height: auto;
}
.buy-btn{
	background: #940037;
	color: #fff;
	padding: 3% 8%;
	border: none;
	margin-bottom: 10px;
}
.buy-btn:hover{
	background: #00945d;
	color: #e7e7e7;
}
.price-fee{
	 padding:2% 0;
	 border-radius:20%;
}
.align-fold{
	padding: 20vh 0;
}
.hr-feat1{
	color: #00945d;
	width: 70%;
	border: 1px solid #00945d;
	float: left;
	margin-bottom: 2px;
	margin-top: 0px;
}
.hr-feat2{
	color: #00945d;
	width: 60%;
	border: 1px solid #00945d;
	float: left;
	margin-top: 10px;
	margin-bottom: 0px;
}
.hr-feat3{
	color: #00945d;
	width: 70%;
	border: 1px solid #00945d;
	margin-bottom: 10px;
	margin-top: 0px;
}
.hr-feat4{
	color: #00945d;
	width: 60%;
	border: 1px solid #00945d;
	margin-top: 2px;
	margin-bottom: 0px;
}
.about-us{
	padding: 6% 10%;
	width: 100%;
	height: auto;
	font-size: 18px;
}
.about-us > p{
	direction: rtl;
	text-align: justify;
}
.mb-3{
	margin-bottom: 3%;
}
#nav-tabs > li.active > a > span{
    min-width: 80px;
    width: auto;
}