{% extends 'index/base.html' %}
{% load i18n %}

{% block css %}
	<style>
		body > section.mt-3 > div > div > div > div.col-md-8.col-xs-12.col-sm-12 > div > figure > img{
			display: block;
            max-width: 100%;
            height: auto;
		}
	</style>
{% endblock %}


{% block content %}
<section class="mt-3">
	<br>
	<div class="container">
		<div class="row">
			<div class="flo-right dir-right blog-page">
				{% block blog_main %}{% endblock %}
				{% include 'blog/blog_side_bar.html' %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
