{% extends 'blog/base.html' %}
{% load i18n %}
{% block title %}
    <title>اینپروبز • {{post.title}}</title>
{% endblock %}
{% block meta%}
    <meta name="description" content="{{post.seo_abs|truncatewords:60|safe}}">
    <meta property="og:title" content='اینپروبز • {{post.title}}' />
    <meta property="og:description" content="{{post.seo_abs|truncatewords:60|safe}}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}

{% block blog_main %}
<div class="col-md-8 col-xs-12 col-sm-12">
	<div class="post-blog ">
		<h3><a class="t-blog" href="{{post.get_absolute_url}}">{{post.title| title}}</a></h3>
		<br>
		<p class="f-b f-12">نوشته شده توسط:
			{{post.author.display_name}}
			||{{post.created_at}}|| دسته بندی: {% for c in post.cat.all %}<a href="{{c.get_absolute_url}}">{{c.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		<p class="f-16">{{post.body|safe}}</p>
		<br>
		<br>
		<p class="f-b f-12">برچسب ها:
			{% for t in post.tag.all %} <a href="{{t.get_absolute_url}}">{{t.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
		</p>
	</div>
</div>
{% endblock %}