<div class="col-md-4 col-xs-12 col-sm-12">
	<div class="tag-post mb-3">
		<h4>برچسب ها</h4>
		<p>{% for c in tags %}<a href="{{c.get_absolute_url}}">{{c.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		<br>
		<h4>فیلتر مطالب</h4>
		<p>{% for c in categories %}<a href="{{c.get_absolute_url}}">{{c.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
	</div>
	<div class="last-m mt-3">
		<h4>آخرین مقالات</h4>
		{% for post in posts %}
			<p><a href="{{post.get_absolute_url}}">{{post.title}}</a></p>
			{% if not forloop.last %}<hr> {% endif %}
		{% endfor %}
	</div>
</div>