{% extends 'blog/base.html' %}
{% load i18n %}

{% block title %}
<title>اینپروبز • بلاگ</title>
{% endblock %}
{% block meta%}
<meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
<meta property="og:title" content='اینپروبز • بلاگ'/>
<meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}"/>
<meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png"/>
<meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}

{% block blog_main %}
<div class="col-md-8 col-xs-12 col-sm-12">
	{% for post in posts %}
	<div class="post-blog ">
		<h3><a class="t-blog" href="{{post.get_absolute_url}}">{{post.title| title}}</a></h3>
		<br>
		<p class="f-b f-12">نوشته شده توسط:
			{{post.author.display_name}}
			||{{post.created_at}}|| دسته بندی: {% for c in post.cat.all %}<a href="{{c.get_absolute_url}}">{{c.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		<p class="f-16">{{post.body|truncatewords:70|safe}}</p>
		<br>
		<a href="{{post.get_absolute_url}}">ادامه مطلب</a>
		<br>
		<p class="f-b f-12">برچسب ها:
			{% for t in post.tag.all %} <a href="{{t.get_absolute_url}}">{{t.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
		</p>
	</div>
	{% endfor %}

	<!--<div style="text-align:center;">-->
		<!--<nav aria-label="...">-->
			<!--<ul class="pagination">-->
				<!--<li class="page-item">-->
					<!--<a class="page-link" href="#" tabindex="-1">Previous</a>-->
				<!--</li>-->
				<!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
				<!--<li class="page-item active">-->
					<!--<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
				<!--</li>-->
				<!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
				<!--<li class="page-item">-->
					<!--<a class="page-link" href="#">Next</a>-->
				<!--</li>-->
			<!--</ul>-->
		<!--</nav>-->
	<!--</div>-->

</div>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
  function validateSubscribeEmail() {

  var email= document.getElementById("subscribe-email").value;
  var csrftoken = Cookies.get('csrftoken');
  $.ajax({
          type:"GET",
          url:'/account/newsletter/subscribe/',
          data:{email:email},
          success:function(responsedata){
            document.getElementById("subscribe-message").innerHTML = responsedata.message;
          }
       })
  }
  </script>
{% endblock %}