{% load i18n %}
<footer id="dk-footer" role="contentinfo">
    <div class="subscribe-bar">
        <div class="wrapper">
            <div class="inner-wraper clearfix">
                <div class="subscribe-bar-menu clearfix">
                    <div class="menu-right">
                      <!-- <a href="/Page/How-To-Order" class="title">خدمات اینپروبز</a> -->
                      <ul>
                        <li><a target="_blank" title="سرویس ها" href={% url 'page' slug="services" %}>سرویس ها</a></li>
                        <li><a target="_blank" title=" تعرفه ها" href={% url 'page' slug="prices" %}> تعرفه ها</a></li>
                        <li><a target="_blank" title="دریافت دمو" href={% url 'page' slug="demo" %}>دریافت دمو</a></li>
                        <li><a target="_blank" title="بلاگ" href={% url 'page' slug="blog" %}>بلاگ</a></li>
                      </ul>
                    </div>
                    <div class="menu-left">
                        <!-- <p<class="title">خدمات مشتریان</p> -->
                        <ul>
                          <li><a target="_blank" title="پاسخ به پرسش های متداول" href={% url 'page' slug="faq" %}>سوالات متداول</a></li>
                          <li><a target="_blank" title="تماس با ما" href={% url 'page' slug="contact-us" %}>تماس با ما</a></li>
                          <li><a target="_blank" title="شرایط استفاده" href={% url 'page' slug="terms-of-service" %}>شرایط استفاده</a></li>
                          <li><a target="_blank" title="حریم خصوصی" href={% url 'page' slug="privacy-policy" %}    >   حریم خصوصی</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subscribe-bar-form">
                  <span id="subscribe-message" class="title">عضو خبرنامه اینپروبز شوید</span>
                  <div id="subscribe-form">
                      <div class="form-groups clearfix">
                        <input name="subscribe-email" class="subscribe-email" id="subscribe-email" placeholder="آدرس ایمیل خود را وارد کنید" type="text">
                        <div class="dk-button-container">
                            <a class="dk-button blue dk-validateSubscribeEmail" onclick="validateSubscribeEmail()" style="cursor:pointer">
                                <div class="dk-button-label clearfix">
                                    <div class="dk-button-labelname">عضویت</div>
                                </div>
                            </a>
                        </div>
                      </div>
                  </div>
                  <div class="social-panel clearfix">
                    <ul class="right social-linkbox">
                        <li><a target="_blank" title="فیسبوک اینپروبز" href="https://www.facebook.com/inprobes"><i class="fa fa-facebook-square fa-2x icon icon-footer-facebook "></i></a></li>
                        <li><a target="_blank" title="توییتر اینپروبز" href="https://www.twitter.com/inprobes"><i class="icon icon-footer-twitter fa fa-twitter-square fa-2x"></i></a></li>
                        <li><a target="_blank" title="اینستاگرام اینپروبز" href="https://www.instagram.com/inprobes"><i class="icon icon-footer-instagram fa fa-instagram fa-2x "></i></a></li>
                        <li><a target="_blank" title="تلگرام اینپروبز" href="https://www.telegram.me/inprobes"><i class="icon icon-footer-telegram fa fa-telegram fa-2x "></i></a></li>
                    </ul>
                  </div>
                </div>
                <center>
                  <span class="credit-text"> ساخته شد ه با <i class="fa fa-heart fa-lg  social-icon-heart heart" aria-hidden="true"></i> در تهران</span>
                </center>
            </div>
        </div>
    </div>
</footer>