{% load staticfiles %}
<div class="header-container">
    <header class="wrapper clearfix">
        <img src='{% static "index/image/logo.png" %}' class="logo"alt="inprobes">
        <nav>
          <ul>
            <li><a href='{% url "home" %}'>خانه</a></li>
            <li><a href="#services">سرویس ها</a></li>
            <li><a href="#">دمو</a></li>
            <li><a href='{% url "user_login" %}'>ورود</a></li>
            <li><a href='{% url "blog_post_list" %}'>بلاگ</a></li>
          </ul>
        </nav>
    </header>
</div>