{% extends 'index/dashboard/admin_base.html' %}

{% load i18n %}
{% block content %}
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if messages %}
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12" style="margin-top: 5%">
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <p>{% trans 'Title' %}: {{context.purchase.festival.title}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>{% trans 'Hashtag' %}: {{context.purchase.festival.hashtag}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{% trans 'Description' %}: {{context.purchase.festival.description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{% trans 'Amount' %}: </p> {{context.purchase.payment.amount}}
                        </div>
                    </div>

                    <div class="row">
                        {% if context.purchase.payment.is_paid %}
                            <div class="col-md-12 text-center"><p>{% blocktrans %}Transaction was successfull and your autorize code is {{context.purchase.payment.ref_id}} {% endblocktrans%}</p></div>
                        {% else %}
                            <div class="col-md-6">Select your gateway:</div>
                            {% for gateway in context.gateways %}
                                <div class="col-md-2 text-center">
                                    <a href="{% url 'connect_to_gateway' invoice_number=context.purchase.payment.invoice_number gateway=gateway.id %}">
                                        <img src="{{gateway.logo.url}}" class="img-responsive bank-logo">
                                        {{gateway.title}}
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




