{% load i18n %}
<div class="row">
	<div class="panel-top">
		<div class="col-md-4 col-sm-10 col-xs-11">
			<div class="sections">
				<div class="col-md-6 col-sm-10 col-xs-11">
					<center>
						<img src="{{account.profile_picture_url}}" class="img-responsive user-image">
					</center>
				</div>

				<div class="col-md-6 col-sm-10 col-xs-11">
					<center>
						<div class="follow-section">
							<div style="margin-top:60px;">
								{{account.name}}@<br>{{account.biography}}
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-10 col-xs-11">
			<div class="sections post-section">
				<center>
					<p class="title-text">{% trans 'Posts' %}</p>
				</center>
				<div class="post-box">
					<div class="col-md-4 col-sm-4 col-xs-4">
						<center>
							<i class="far fa-file-image fa-3x fa-orange"></i>
							<p class="top-design">{{types.image|default:"0"}}</p>
						</center>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
						<center>
							<i class="far fa-file-video fa-3x fa-orange"></i>
							<p class="top-design">{{types.video|default:"0" }}</p>
						</center>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
						<center>
							<i class="fas fa-clone fa-3x fa-orange"></i>
							<p class="top-design">{{types.carousel|default:"0" }}</p>
						</center>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-10 col-xs-11">
			<div class="like-section">
				<center>
					<i class="fas fa-heart fa-3x fa-red"></i>
				</center>
				<div class="col-md-6 col-xs-6 col-sm-6">
					<center class="">
						<p class="detail-left">{% trans 'Average' %}</p>
						<p class="detail-left">{{like.avg|floatformat|default:"0"}}</p>
					</center>
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					<center>
						<p class="detail-right">{% trans 'Total' %}</p>
						<p class="detail-right">{{like.sum|default:"0"}}</p>
					</center>
				</div>
			</div>
			<div class="comment-section">
				<center>
            <span class="">
              <i class="fas fa-comment fa-3x fa-blue"></i>
            </span>
				</center>
				<div class="col-md-6 col-xs-6 col-sm-6">
					<center>
						<p class="detail-left">{% trans 'Average' %}</p>
						<p class="detail-left">{{comment.avg|floatformat|default:"0"}}</p>
					</center>
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					<center>
						<p class="detail-right">{% trans 'Total' %}</p>
						<p class="detail-right">{{comment.sum|default:"0"}}</p>
					</center>
				</div>
			</div>
		</div>

		<div class="col-md-2 col-sm-10 col-xs-11">
			<div class="sections">
				<center>
					<i class="fas fa-users fa-3x fa-green"></i>
					<div class="follow-section">
						<div>
							<p>{% trans 'Following' %}:</p>
							<p>{{account.follows_count}}</p>
						</div>
						<hr class="hr-cust">
						<div>
							<p>{% trans 'Followers' %}:</p>
							<p>{{account.followers_count}}</p>
						</div>
					</div>
				</center>
			</div>
		</div>

	</div>
</div>