{% load i18n %}
<div class="create-new">
  <a type="button" href="{% url 'create_comment_step_1' %}" class="btn-campaign btn-green-campaign">{% trans 'New campaign' %}</a>
</div>
<div class='row'>
{% for campaign in campaigns %}
  <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
      <div class="campaign-detail">
        <!--{% if campaign.active %}-->
          <!--<span class="label-detail label-active">{% trans 'active' %}</span>-->
        <!--{% else %}-->
          <!--<span class="label-detail label-inactive">{% trans 'ended' %}</span>-->
        <!--{% endif %}-->
        <img src="{{campaign.media.media_url}}" class="user-image img-responsive">
        <hr class="hr-camp">
        <div class="col-md-4 col-xs-3 col-sm-3 col-lg-4 top-detail">
          <p class="camp-p">{% trans 'Comments' %} </p>
          <p class="camp-p">{{campaign.media.comments_count|default:0}}</p>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 top-detail">
          <p class="camp-p">{% trans 'Participants' %}</p>
          <p class="camp-p">{{campaign.participants|length}}</p>
        </div>
        <div class="col-md-4 col-xs-5 col-sm-5 col-lg-4 top-detail">
          <p class="camp-p">{% trans 'Other hashtags' %}</p>
          <p class="camp-p">{{campaign.relevant_tags.count|default:0}}</p>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12s">
          <center>
            <a type="button" href="#" class="btn-campaign btn-gradient-campaign">Campaign analytics</a>
          </center>
        </div>
      </div>
    </div>
{% endfor %}
</div>