{% load i18n %}
{% load staticfiles %}
<nav class="navbar-default navbar-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="main-menu">
			<li class="text-center">
				{% if request.user.userprofile.profile_pic %}
				<img src='{{request.user.userprofile.profile_pic.url}}' class="user-image img-responsive"/>
				{# elif request.user.userprofile.instagram_id #}
				<!--<img src="{{request.user.userprofile.instagram_id.profile_picture}}" class="user-image img-responsive">-->
				{% else %}
				<img src='{% static "index/assets/img/find_user.png" %}' class="user-image img-responsive"/>
				{% endif %}
			</li>
			<li class='text-center'>
				<!--<h4 style="color: white;">{{request.user.get_full_name|title}}</h4>-->
				{# if request.user.userprofile.instagram_id #}
				<!--<h5 style="color: white;">{{request.user.userprofile.instagram_id.username}} <i class="fab fa-instagram" aria-hidden="true"></i></h5>-->
				{# else #}
				<h5 style="color: white;">@{{request.user.username}}</h5>
				{# endif #}
				<h5 style="color: #00945d;"> {% trans 'panel' %} {{profile.get_level_display}}</h5>
			</li>
			<li>
				<a class="{% ifequal nav_bar_side 'dashboard' %}active-menu{% endifequal %}" href="{% url 'dashboard' %}">
					<i class="fas fa-tachometer-alt fa-2x"></i>{% trans 'Dashboard' %}
				</a>
			</li>
			{% if profile.confirm and profile.parsed %}

			<!--<li>-->
			<!--<a class="{% ifequal nav_bar_side 'post_list' %}active-menu{% endifequal %}" href="{% url 'post_list'%}">-->
			<!--<i class="fa fa-th-large fa-2x" aria-hidden="true"></i>{% trans 'Posts'%}-->
			<!--</a>-->
			<!--</li>-->

			<li class="{% ifequal nav_bar_side 'hashtags' %}active{% endifequal %}">
				<a href="#">
					<i class="fas fa-hashtag fa-2x" aria-hidden="true"></i>{% trans 'Campaign'%}
				</a>
				<ul class="nav nav-second-level collapse">
					<li>
						<a class="{% ifequal nav_bar_side 'hashtags' %}active-menu{% endifequal %}" href="{% url 'hashtag_campaign'%}">{% trans 'Hashtag campaign'%}</a>
					</li>
					<li>
						<a class="{% ifequal nav_bar_side 'comments' %}active-menu{% endifequal %}" href="{% url 'comment_campaign'%}">{% trans 'Comment campaign'%}</a>
					</li>
				</ul>
			</li>

			<!--<li>-->
			<!--<a class="{% ifequal nav_bar_side 'financial' %}active-menu{%endifequal%}" href='{% url "financial" %}'>-->
			<!--<i class="fa fa-credit-card fa-2x"></i> {% trans "Financial"%}-->
			<!--</a>-->
			<!--</li>	-->

			{% endif %}
			<li>
				<a class="{% ifequal nav_bar_side 'support'%}active-menu{%endifequal%}" href='{% url "support" %}'>
					<i class="fa fa-envelope fa-2x"></i> {% trans "Support" %}
				</a>
			</li>
			<li>
				<a class="{% ifequal nav_bar_side 'settings' %}active-menu{%endifequal%}" href='{% url "profile_settings" %}'>
					<i class="fa fa-laptop fa-2x"></i> {% trans "Settings"%}
				</a>
			</li>
		</ul>
	</div>
</nav>