{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}
<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <center>
            <img src="{% static 'index/assets/img/inprobes-typo-full.png' %}" alt='logo' width='170'>
            </center>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-c-menu">
            <li>
                <div style='padding: 15px;'>
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% get_current_language as current_lang %}
                    <!--<form action='{% url "set_language" %}' method='POST'>{% csrf_token %}-->
                        <!--<input name="next" type="hidden" value="{{ redirect_to }}" />-->
                        <!--{% for lang in languages %}-->
                            <!--{% ifnotequal lang.code current_lang %}-->
                            <!--<input type='hidden' name='language' value='{{lang.code}}'/>-->
                            <!--<button class='btn btn-general' type='submit' value='{{lang.code}}'>{{lang.name_local}} <i class="fa fa-globe" aria-hidden="true"></i></button>-->
                            <!--{% endifnotequal %}-->
                        <!--{% endfor %}-->
                    <!--</form>-->
                    <a href="{% url 'user_logout' %}" class="btn btn-danger logout-btn square-btn-adjust">{% trans 'Sign out' %}</a>

                </div>
            </li>
        </ul>
    </div>
</nav>
