{% load i18n %}
{% load l10n %}
<div class="panel panel-default">
    <div class="panel-heading">
       <center>{% blocktrans %}The Most Popular Posts(by likes){% endblocktrans %}</center>
    </div>
    <div class="panel-body">
        {% for media in context.table %}
            <div class="col-md-3 col-sm-4 col-xs-6 post-tile">
                <center>
                    <a data-toggle="modal" data-target="#{{media.images.id}}">
                        <img src="{{media.images.thumbnail}}" class="img-rounded img-responsive">
                    </a>
                    <i class="fa fa-heart"></i> {{media.like_count}} |
                    <i class="fa fa-comments"></i> {{media.comment_count}}
                </center>
            </div>
            <div class="modal fade" id="{{media.images.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class='col-md-7'>
                                    <img src="{{media.images.low_resolution}}" class="img-responsive">
                                </div>
                                <div class='col-md-5'>
                                    <table class='table'>
                                        <tbody>
                                        <tr><td><i class="fa fa-heart" aria-hidden="true"></i>{% trans 'Likes' %}</td><td><span class="badge">{{media.like_count}}</span></td></tr>
                                        <tr><td><i class="fa fa-comments" aria-hidden="true"></i>{% trans 'Comments' %}</td><td><span class="badge">{{media.comment_count}}</span></td></tr>
                                            <tr><td><i class="fa fa-tags" aria-hidden="true"></i>{% trans 'Tags' %}</td><td><span class="badge">12</span></td></tr>
                                            {% if media.location %}
                                        <tr><td><i class="fa fa-location-arrow" aria-hidden="true"></i>{% trans 'Location' %}</td><td><span class="badge">{{media.location}}</span></td></tr>
                                            {% endif %}
                                        <tr><td><i class="fa fa-users" aria-hidden="true"></i>{% trans 'Users in' %}</td><td><span class="badge">**</span></td></tr>
                                        <tr><td><i class="fa fa-clock-o" aria-hidden="true"></i>{% trans 'Time' %}</td><td><span class="badge">{{media.created_time|date:'Y M d D'}}</span></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr>
                            <p>{{media.caption.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>