{% load i18n %}
<!-- POST FREQUENCY ON WEEKDAYS -->

<div class="panel panel-default">
	<div class='panel-heading text-center'>
		{% blocktrans %}Posts analytics in different days of week{% endblocktrans %}
	</div>
	<div class='panel-body'>  
		<div class='row'> 
			<!-- FIRST CHART-->
			<div class='col-md-4 col-sm-4 col-xs-4'>
        		<div id="morris-donut-chart-3"></div>
        		<h3 class='text-center'>{% trans "Posts" %}</h3>
			</div>  
			<!-- END OF FIRST CHART-->              
		
			<!-- SECOND CHART-->
			<div class='col-md-4 col-sm-4 col-xs-4'>
        		<div id="morris-donut-chart-4"></div>
        		<h3 class='text-center'>{% trans "Likes" %}</h3>
			</div>
			<!-- END OF SECOND CHART-->

			<!-- SECOND CHART-->
			<div class='col-md-4 col-sm-4 col-xs-4'>
        		<div id="morris-donut-chart-5"></div>
        		<h3 class='text-center'>{% trans "Comments" %}</h3>
			</div>
			<!-- END OF SECOND CHART-->
		</div>
		
		<div class='row'>
			<div class='col-md-12 col-sm-12 col-xs-12'> 
				<hr class="panel-hr">
				<div class="table-responsive">
					<div class='table table-striped table-bordered table-hover'>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>{% trans "weekday"%}</th>
									<th>{% trans "Posts" %}</th>
									<th>{% blocktrans %} Likes<em>(Average)</em> {% endblocktrans %}</th>
									<th>{% blocktrans %} Comments<em>(Average)</em> {% endblocktrans %}</th>
								</tr>
							</thead>
							<tbody>
								{% for day in context.wk_posts|dictsort:'number' %}
									<tr>
										{% with lengt=day.media|length %}
										<td>{% trans day.name %}</td>
										<td class="{% ifequal lengt context.wk_notes.max_post.avg %}success{% endifequal %}{% ifequal lengt context.wk_notes.min_post.avg %}danger{%endifequal%}">{{lengt}}</td>
										{% endwith %}
										<td class='{% ifequal day.like_avg context.wk_notes.max_like.avg %}success{%endifequal%}{% ifequal day.like_avg context.wk_notes.min_like.avg %}danger{%endifequal %}'>{{day.like_count}}<em>({{day.like_avg|floatformat|default:'0'}})</em></td>
										<td class='{% ifequal day.comment_avg context.wk_notes.max_comment.avg %}success{%endifequal%}{% ifequal day.comment_avg context.wk_notes.min_comment.avg %}danger{%endifequal %}'>{{day.comment_count}}<em>({{day.comment_avg|floatformat|default:'0'}})</em></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- INCLUDE WEEKDAYS POSTS NOTIFICATIONS -->
		{% include "index/dashboard/widgets/wk_notifications.html" %}
	</div>
</div>


<!-- POST FREQUENCY ON TIME LAPS -->
<div class="panel panel-default">
	<div class='panel-heading text-center'>
		{% blocktrans %}Posts analytics in different period of times in day{% endblocktrans %}
	</div>
	<div class='panel-body'>
		<div class='row'> 
			<!-- FIRST CHART-->
			<div class='col-md-4 col-sm-4 col-xs-4'>
        		<div id="morris-donut-chart-6"></div>
        		<h3 class='text-center'>{% trans "Posts" %}</h3>
			</div>  
			<!-- END OF FIRST CHART-->              
		
			<!-- SECOND CHART-->
			<div class='col-md-4 col-sm-4 col-xs-4'>
        		<div id="morris-donut-chart-7"></div>
        		<h3 class='text-center'>{% trans "Likes" %}</h3>
			</div>
			<!-- END OF SECOND CHART-->

			<!-- SECOND CHART-->
			<div class='col-md-4 col-sm-4 col-xs-4'>
        		<div id="morris-donut-chart-8"></div>
        		<h3 class='text-center'>{% trans "Comments" %}</h3>
			</div>
			<!-- END OF SECOND CHART-->
		</div>
		
		<div class='row'>
			<div class='col-md-12 col-sm-12 col-xs-12'> 
				<hr class="panel-hr">
				<div class="table-responsive">
					<div class='table table-striped table-bordered table-hover'>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>{% trans "Time Period"%}</th>
									<th>{% trans "Posts" %}</th>
									<th>{% blocktrans %} Likes<em>(Average)</em> {% endblocktrans %}</th>
									<th>{% blocktrans %} Comments<em>(Average)</em> {% endblocktrans %}</th>
								</tr>
							</thead>
							<tbody>
								{% for t in context.ptime %}
									<tr>
										{% with lengt=t.media|length %}
										<td>{% trans t.range %}</td>
										<td class='{% ifequal context.pt_notes.max_post.avg lengt %}success{% endifequal %}{% ifequal context.pt_notes.min_post.avg lengt %} danger {% endifequal %}'>{{lengt}}</td>
										{% endwith %}
										<td class='{% ifequal t.like_avg context.pt_notes.max_like.avg %}success{% endifequal %}{% ifequal t.like_avg context.pt_notes.min_like.avg %}danger{% endifequal %}'>{{t.like_count}}<em>({{t.like_avg|floatformat|default:'0'}})</em></td></td>
										<td class='{% ifequal t.comment_avg context.pt_notes.max_comment.avg %}success{% endifequal %}{% ifequal t.comment_avg context.pt_notes.min_comment.avg %}danger{% endifequal %}'>{{t.comment_count}}<em>({{t.comment_avg|floatformat|default:'0'}})</em></td></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- INCLUDE WEEKDAYS POSTS NOTIFICATIONS -->
		{% include "index/dashboard/widgets/pt_notifications.html" %}
	</div>
</div>

