<div class="panel panel-default">
    <div class="panel-heading">
       کاربران تگ شده
    </div>
    <div class="panel-body">
        {% if context.tagged_users %}
            {% for tagged_user in context.tagged_users reversed %}
                <div class="col-md-3 col-sm-3 col-xs-6 clear-bottom">
                    <div class="col-md-6">
                        <img src="{{tagged_user.profile_picture}}" class="img-circle img-responsive">
                    </div>
                    <div class="col-md-6">
                        <p class="tiny-p">{{tagged_user.username}}@</p>
                        <p class="tiny-p">در {{tagged_user.tagged_count}} پست</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p>شما کاربری را در پست‌های خود تگ نکردید.</p>
            </div>
        {% endif %}
    </div>
</div>