{% extends 'index/base_page.html' %}
{% load i18n %}
{% block meta%}
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content="{% trans 'Professional Instagram Analyzer • InProbes' %}" />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block title %}
    <title>{% trans 'Professional Instagram Analyzer • InProbes' %}</title>
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading">Page unavailable!</h1>
                    <p>Sorry, but the requested page is unavailable due to a
    server hiccup.</p>
                    <p>Our engineers have been notified, so check back later.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
