{% load analytical %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% analytical_head_top %}
    {% load staticfiles %}
    {% load i18n %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta%}{% endblock %}
    {% block title %}{% endblock %}
    <!-- favicon.ico setting -->
    <link rel="shortcut icon" href="{% static 'index/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'index/favicon.ico' %}" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href='{% static "index/css/bootstrap.min.css" %}' type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='{% static "index/font-awesome/css/font-awesome.min.css"%}' type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href='{% static "index/css/animate.min.css"%}' type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href='{% static "index/css/creative.css" %}' type="text/css">
    {% block css %}{% endblock %}
    <!-- RTL setting -->
    {% get_current_language_bidi as bidi %}
    {% if bidi %}
    <link href='{% static "index/css/RTL.css" %}' rel="stylesheet" />
    {% endif %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% analytical_head_bottom %}
</head>
<body id="page-top" class='{% ifnotequal context.title "home" %}post-page{%endifnotequal%}'>
    {% analytical_body_top %}
    {% block body %}{% endblock %}

    {# here we have to seprate footer called footer and footer2 #}



    <!-- jQuery -->
    <script src='{% static "index/js/jquery.js" %}'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "index/js/bootstrap.min.js"%}'></script>

    <!-- Plugin JavaScript -->
    <script src='{% static "index/js/jquery.easing.min.js"%}'></script>
    <script src='{% static "index/js/jquery.fittext.js" %}'></script>
    <script src='{% static "index/js/wow.min.js"%}'></script>

    <!-- Custom Theme JavaScript -->
    <script src='{% static "index/js/creative.js"%}'></script>

    {% analytical_body_bottom %}
</body>
</html>