@font-face {
  font-family: Vazir;
  src: url(../font/Vazir.ttf);
}
body{
	font-family: Vazir;
}
.navbar-brand{
	padding:3px 45px;
}
.mid-text{
	text-align:center;
}
.t-weight{
	font-size:16px;
}
.img-pad{
	padding: 0 0 0 25px;
}
.dir-right{
	direction:rtl;
}
.flo-right{
	float:right;
}
.btn-feature{
	background:#00945d;
	color: #fff;
	font-size:14px;
	padding:10px 25px;
}
.btn-feature:hover {
	background: #e7e7e7;
	color:#940037;
}
.responsive {
	max-width: 100%;
	height: auto;
}
.navbar-collapse>.navbar-nav{
		float:right;
		direction:rtl;

	}
.navbar-collapse>.navbar-nav>li{
		float:right;
		direction:rtl;

}
.navbar-collapse >.navbar-nav>li>a{
	color:#00945d;
	font-weight:600;
}
.navbar-collapse >.navbar-nav>li>a:hover{
	color:#940037;
}
.nav-feature{
	border-bottom: 2px solid #00945d;
	height:auto;
}
.service{
	margin-bottom:30px;
}
.bord-green{
	margin-top:40px;
	border-top:2px solid #00945d;
}
.point-ul{
	float:right;
	direction:rtl;
}
.point-ul >li{
	list-style: none;
}
.point-ul >li>a{
	color:#696969;
	padding:7px;
	text-decoration: none;
}
.footer-feature{
	font-size:15px;
	font-weight:500;
	line-height:30px;
}
.footer-feature > .point-ul{
	margin-bottom: 25px;
}
.input-group-prepend{
	margin-bottom:-51px;
	margin-left:-37px;
}
.form-control{
	margin-left:30px;
	background:#ffffde;
}
.footer{

}
.social{
	margin:30px 0px;
}
.social>li{
	float:right;
}
.social>li>a>i:hover{
	color:#940037;
}
.point-ul>li>a:hover{
	color:#940037;
}
.social-div{
}
.btn-color{
	background:#00945d;
	color:#fff;
}
.btn-color:hover{
	background:#e7e7e7;
	color:#940037;

}
.fa-feature{
	color:#940037;
}
.social-div > ul{
	padding: 0;
}
/****************/
