{% extends 'index/base.html' %}
{% load i18n %}
{% block title %}
    <title>{% trans 'Professional Instagram Analyzer • InProbes' %}</title>
{% endblock %}
{% block meta%}
    <meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
    <meta property="og:title" content="{% trans 'Professional Instagram Analyzer • InProbes' %}" />
    <meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}" />
    <meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png" />
    <meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <center>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading">{% blocktrans %}Page not found!{% endblocktrans %}</h1>
                    <p style="text-align: center;">{% blocktrans %}Sorry, but the requested page could not be found.{% endblocktrans %}</p>
                </div>
                </center>
            </div>
        </div>
    </section>
{% endblock %}
