{% extends 'dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
<div id="page-inner">
	<div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 comment-form">
		<div id="checkResult">
			<img src="{{post.media_url}}" class="img-responsive">
			<p>{% blocktrans %}All comments for selected post will be recorded. If your campaign has extra descriptions please fill in the below
				box{% endblocktrans %}</p>
			<form role="form" id="campaignForm" method="POST" action="">
				{% csrf_token %}
				<input type="hidden" name="post" value="{{post.id}}">
				<div class="form-group">
                    <label>Extra descriptions</label>
                    <textarea name="description" class="form-control" rows="3"></textarea>
                </div>
				<button type="submit" class="btn-campaign btn-gradient-campaign"> {% trans 'Submit campaign' %}</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}