{% extends 'dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
<div id="page-inner">
	{% ifequal profile.level 'L' %}
	<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
			<div class="base-box">
				<div class="desc-campaign">
					<div class="base-account">
						<h3>کاربر گرامی</h3>
						<p> در این سطح از دسترسی امکان ایجاد کمپین وجود ندارد. لطفا برای اینکه بتوانید کمپین دلخواه خود را بسازید و مدیریت کنید پنل خود را ارتقا دهید.</p>
					</div>
					<a href="{% url 'financial' %}" class="btn btn-campaign">ارتقا به پنل حرفه‌ای</a>
				</div>
			</div>
		</div>
	</div>
	{% else %}
		{% include 'dashboard/widgets/comment_cards.html' %}
	{% endifequal %}
</div>
{% endblock %}