{% extends 'dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
<div id="page-inner">
	<div class="row">
		{% for post in posts %}
		<div class="col-md-3 col-xs-4">
			<a class="thumbnail" href="{% url 'create_comment_step_2' post.id %}">
				<img src="{{post.media_url}}" class="img-responsive">
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}