@font-face {
  font-family: Vazir;
  src: url(font/Vazir.ttf);
}
body {
    margin: 0;
    padding: 0;
    font: 12pt "Vazir";
    /*background-color: #000;*/
    direction: rtl;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 29.7cm;
    min-height: 21cm;
    /*margin: 1cm auto;*/
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {

}
.row-inprobes{
  text-align: center;
  width: 100%;
  padding-top: 2cm;
  height: 130px;
}
.row-inprobes-detail{
  text-align: center;
  width: 100%;
  padding-top: 2cm;
  height: 200px;
}
.row-inprobes-detail>p{
  font-size: 20px;
}
.p-inprobes{
  font-weight: bold;
  font-size: 22px;
}
.row-top{
  text-align: center;
  background-color: #e7e7e7;
  width: 100%;
  height: 130px;
}
.row-top>h2{
  text-align: center;
  position: relative;
  top: 1.25cm;
}
.detail{
  float: right;
  position: relative;
  list-style: none;
}
.detail-other{
  float: right;
  position: relative;
  list-style: none;
}
.detail>li{
  text-align: center;
  padding: 12px 56px;;
  font-size: 20px;
  font-family: 'Vazir';
}
.detail-other>li{
  text-align: center;
  padding: 12px 36px;;
  font-size: 20px;
  font-family: 'Vazir';
}

.row{
  top: 200px;
  margin: 0 130px;
}
.row-10img{
  top: 200px;
  margin: 0 95px;
}
.row>h2{
  text-align: center;
}
.img-feature{
  width: 850px;
  height: 450px;
}
.row-img{
  float: left;
  display: inline;
  list-style: none;
}
.row-img-1{
  float: left;
  display: inline;
  list-style: none;
  margin-top: 65px;
  width: 28cm;
}
.img-detail{
  width: 4.70cm;
  height: auto;
  float: left;
}
.img-detail>h4{
  padding-right: 0.65cm;
}
.img-detail>p{
  font-size: 17px;
  padding-right: 0.45cm;
}
.img-detail-1{
  width: 8cm;
  height: auto;
  float: left;
}
.img-detail-1>h4{
  text-align: center;
}
.img-detail-1>p{
  text-align: center;
  font-size: 19px;
  word-spacing: 0.3cm;
}
.img-page{
  width: 3.8cm;
  height: 3.8cm;
}

.img-page-1{
  padding:0.3cm 0.2cm;
  width: 9cm;
  height: 9cm;
}
.logo{
  width: 29.7cm;
  top: 200px;
}
.logo-page-img{
  width: 29.7cm;
  padding-top:14cm;
}
.logo-page-img>p{
  margin-right: 2.10cm;
  margin-top: -1.10cm;
}
.logo-page-img>.logo-img{
  width: 1cm;
  height: auto;
  margin-top: 1.7cm;
  margin-right: 1cm;
}
.logo>p{
  margin-right: 2.10cm;
  margin-top: -1.10cm;
}
.logo-img{
  width: 1cm;
  height: auto;
  margin-top: 1cm;
  margin-right: 1cm;
}

@page { size: A4 landscape }{
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
