
/*=============================================================
    Authour URI: www.binarycart.com
    Version: 1.1
    License: MIT
    
    http://opensource.org/licenses/MIT

    100% To use For Personal And Commercial Use.
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
@font-face {
    font-family: 'Vazir';
    src:url('fonts/Vazir.eot?#') format('eot'),    
    url('fonts/Vazir.woff') format('woff'),
    url('fonts/Vazir.ttf') format('truetype'); 
}
@font-face {
    font-family: 'VazirB';
    src: url('fonts/Vazir-Bold.eot?#') format('eot'),    
    url('fonts/Vazir-Bold.woff') format('woff'),
    url('fonts/Vazir-Bold.ttf') format('truetype'); 
}


body {
    font-family: vazir,'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
.boder-primary {
    border:1px solid #00945d;
}
.boder-alternate {
    border:1px solid #832646;
}
h2 {
    color: #000;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    /*padding-top:20px; */
}
hr{
    margin: 3% 0%;
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
    color:white;
    text-decoration:none;
}
.packages{
    border: 1px solid #940037;
    background: #fff;
}
.buy-btn-tiny{
    background: #00945d;
    color: #fff;
    width:30%;
}
.buy-btn-tiny{
    background: #00945d;
    color: #fff;
}
.buy-btn:hover{
    color: #fff;
    background: #00945d;
}
.hide-btn{
    background: none;
    border: none;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
.noti-box {
min-height: 100px;
padding: 20px;
}

.noti-box .icon-box {
display: block;

margin: 0 15px 10px 0;
width: 85px;
height: 85px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
    padding:7%;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
.bg-color-green {
background-color: #00CE6F;
color: #fff;
}
.bg-color-green-2 {
background-color: #7AB900;
color: #fff;
}
.bg-color-blue {
background-color: #467BE9;
color: #fff;
}
.bg-color-red {
background-color: #DB0630;
color: #fff;
}
.bg-color-red-2 {
background-color: #EA2D53;
color: #fff;
}
.bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
    height: 422px;
    overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px solid #d5d5d5;
}
/* .chat-box li.left .chat-body {
margin-left: 90px;
}*/
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}
.card{
    border: 1px solid #6d6d6d;
    height: 250px;
}
/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:150px;
max-width:150px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
    background: #202020;
    width: 200px;
    text-align: center;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
}
.active-menu {
    background-color:#00945d!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#46955d;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#46955d;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-cls-top {
	background:#202020;
	border-bottom:none;
	
}


.navbar-default {
border:0px solid black;

}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #00945d;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    Custom CSS    
    =============================================*/
.hr-custom{
    margin-top: 0px;
    margin-bottom: 0px;
    color:red;
}
.notice-h3{
    margin-bottom: 0px;
    margin-top: 0px;
}
.bg-color-note1{
    background-color: #00945d;
    color: #fff;
}
.baner-light{
    background-color: #00c77d;
}
.bg-color-note2{
    background-color: #9068be;
    color: #fff;
}
.bg-color-note3{
    background-color: #940037;
    color: #fff;
}
.bg-color-note4{
    background-color: #00945d;
    color: #fff;
}
.bg-color-note4-reverse {
    background-color: #fff;
    color: #000;
    border: 3px solid #00945d;
}
.bg-color-primary{
    background-color: #00945d;
    color: #fff;
}
.bg-color-alternate{
    background-color: #832646;
    color: #fff;
}
.bg-color-new{
    background-color: #ff8c2d;
    color: #fff;
}
.bg-color-note-primary{
    background-color: #fff;
    color: #00945d;
}
.bg-color-note-alternate{
    background-color: #fff;
    color: #832646;
}
.back-footer-new {
    background-color: #00945d;
    border-top: 0px solid #fff;
}
.exit-btn-s{
    color: white;
    padding: 15px 50px 5px 50px;
    float: right;
    font-size: 16px;
}
img.emoji {  
  // Override any img styles to ensure Emojis are displayed inline
  margin: 0px !important;
  display: inline !important;
}
.btn-general {
    border-color: #00945d;
    color: #fff;
    background-color: #00945d;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    border: 0px none;
    // border-radius: 300px;
    font-weight: 700;
}
.dropdown-toggle.btn-general:focus, .open > .dropdown-toggle.btn-general:hover {
    color: #FFF;
    background-color: #204D74;
    border-color: #122B40;
}

.ticket-img{
    width: 50px;
    height: 50px;
}
.ticket-response {
    background-color: #D1C9C9;
}
.ticket-response p{
    float: left;
}
.ticket-response > strong{
    float: left;
}

.ticket-success {
    color: #25BF25;
}
.ticket-error{
    color: #f00;
}
.panel-hr{
    border-color: rgb(179, 16, 16);
    height: 20px;
    border-width: 2px;
}
.logout-btn{
    // border-radius: 100px;
    background-color: #c01a16;
    border-radius: 4px;
}
.logout-btn:hover{
    background-color: #991411;
}
.collapse-title{
    padding: 2%;
}
.clear-bottom{
    margin-bottom: 15px;
}
.bank-logo{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height:50px;
    max-width:50px;
    margin:auto;
}
.well {
    background-color: #fff;
    border: 1px solid #00945d;
    border-radius: 0px;
}
.well-comp {
    border-color: #832646;
}
.clear-banner{
    margin-top: 10px;
    margin-bottom: 20px;
}
.
promote-banner{
    padding: 25px;
    border-radius: 4px;
}
.post-tile{
    margin-top:1%;
}
.gradient-bottom-left{
    background: linear-gradient(135deg, #940037, #00945d);
}
.gradient-top-left{
    background: linear-gradient(45deg, #00945d, #940037);
}
.wd-mdl-btn{
    min-width:100%;
}
.span-tag{
    background-color: gray;
    border-radius:5%;
    margin:7px;
}
.tiny-p{
    font-size:12px;
}
.success-span{
    background-color: #00945d;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}
.not-success-span{
    background-color: #c9302c;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}
.comments-body{
    font-size:14px;
}
.profile-img{
    max-width: 40px;
}
.panel-top{
  direction: rtl;
}
.sections{
  height: 200px;
  background: radial-gradient(#fff,#f0f0f0);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 2%;
  direction: rtl;
}
.like-section{
  height: 95px;
  background: radial-gradient(#fff,#f0f0f0);
  margin-bottom: 10px;
      padding: 6px 0px;
  border-radius: 2%;
  direction: rtl;
}
.comment-section{
  height: 95px;
  background: radial-gradient(#fff,#f0f0f0);
  margin-bottom: 10px;
  padding: 6px 0px;
  border-radius: 2%;
  direction: rtl;
}
.follow-section{
  margin-top: 10px;
}
.title-text{
  font-size: 19px;
  font-weight: bold;
}
.fa-orange{
  color: #ff7500;;
}
.fa-blue{
  color: #4747ec;
}
.fa-red{
  color: #f90909;
}
.fa-green{
  color: #0cd80c;
}
.top-design{
  padding-top: 30px;
}
.detail-right{
  margin-top: -10px;
  margin-left: -20px;
}
.detail-left{
  margin-top: -10px;
  margin-right: -20px;
}
.hr-cust{
  margin: 6px 10px;
  border-top: 2px solid #333;
}
.post-box{
  margin-top: 40px;
}
.btn-gradient-campaign{
  background: linear-gradient(36deg ,#940037, #00945d);
  margin-top: 2px;
}
.btn-campaign:hover{
  color: #940037;
  background: #bdbbbb;
}
.btn-campaign:visited{
  text-decoration: none;
  color: #fff;
}
.campaign-detail{
  height: 400px;
  margin: 5% 0 5% 0;
  border-radius: 4px;
  background: radial-gradient(#fff,#e7e7e7);
}
.create-new-campaign{
  height: 350px;
  margin: 5% 0 5% 0;
  border-radius: 4px;
  background: radial-gradient(#fff,#e7e7e7);
}
.label-detail{
  float: left;
  font-family: Vazir;
  display: inline;
  font-size: 16px;
  padding: 2px 13px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  border-radius: .25em;
  margin: 3% 5%;
}
.label-active{
  background: #25d10c;
}
.label-inactive{
  background: red;
}
.camp-p{
  font-size: 16px;
  padding: 10px;
  text-align: center;
  vertical-align: baseline;
  font-weight: 500;
  direction: rtl;
}
.camp-h2{
  text-align: center;
  margin-right: 5%;
  font-size: 35px;
  font-weight: 500;
  padding: 40px 100px 10px 0;
  vertical-align: baseline;
}
.top-detail{
  margin-top: 4%;
  margin-bottom: 2%;
}
.hr-camp{
  width: 85%;
  border-top: 1px solid #333;
  margin: 0 auto;
}
.plus-detail{
  text-align: center;
  padding-top: 9%;
  margin-bottom: 5%;
}
.a-detail{
  color: #940037;
}
.a-detail:hover{
  color: #00945d;
}
.desc-campaign{
  font-size: 18px;
  font-family: Vazir;
  font-weight: 500;
  text-align: center;
  height: auto;
  margin: 2% 10%;
  padding: 1% 5%;
}
.base-box{
  height: 350px;
  margin: 0 5%;
  border-radius: 4px;
  background: radial-gradient(#fff,#e7e7e7);
}
.base-account{
  margin-top: 13%;
  font-size: 20px;
}
.filter{
    background-color: gray;
}


.btn-custom{
    background:#e7e7e7;
    color: #333;
    border: 0.5px solid #c6c5c5;
}
.active{
    background: #25d10c;
    color: #e7e7e7;
}
.btn-custom:hover{
    background: #00945d;
    color: #f0f0f0;
}
.btn-filter{
    background: linear-gradient(36deg , #00945d , #940037);
    color: #fff;
    border: none;
    width:110px;
    margin: 0 3%;
}
.btn-filter:hover {
  color: #940037;
  background: #bdbbbb;
}
.filter-top{
margin-top: 20px;
margin-right: 55px;
}
.analyze-hashtag{
    float: left;
    margin-left:55px;
}
.input-p{
  direction: rtl;
}
.create-hashtag-box{
  margin: 7% 0 0 0;
  align-items: center;
  padding: 30px 20px;
}
@media (min-width:768px){
  .create-hashtag-box{
    margin: 7% 0 0 25%;
  }
}
.btn-analyze-hashtag{
  background: #00945d;
  color: #fff;
}
input[type=search] {
	text-align: right;
	cursor: pointer;
	display: block;
	width: 100%;
}
.result-search{
  margin-top: 10%;
}
.btn-campaign{
  color: #fff;
  font-family: Vazir;
  font-size: 18px;
  display: inline-block;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: #00945d;
  width: 200px;
}
.btn-gradient-campaign{
  background: linear-gradient(36deg ,#940037, #00945d);
}
.btn-campaign:hover{
  color: #940037;
  background: #bdbbbb;
}
.btn-green-campaign{
  width: auto;
}
.camp-result{
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  direction: rtl;
  margin-bottom: 2%;
}
.date-camp{
  float: right;
  direction: rtl;
  font-size: 16px;
  font-weight: 400;
  padding-right: 55px;

}
.analyze-page{
  margin: 50px 50px;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none;
}
.reverse{
    color:#940037;
}
.reverse:hover{
    color:#940037;
}
.inline-box{
    display: inline;
    padding-left: 5%;
}
.comment-form{
    margin: 0% 25%;
}
.banner-body{
    margin-top: 80px;
}
/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
        margin: 0 0 0 200px;
        padding: 15px 30px;
        min-height: 1200px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 200px;
    }

   .navbar {
 border-radius: 0px; 
    }
    .navbar-c-menu {
    float: right;
    margin-right: -15px;
    }
   .btn-main{
    background-color: #00945d;
    color: #fff;
    border-color: #00945d;
    }
    .btn-main:hover{
        background-color: #164e3b;
    }
    .btn-general:hover{
        background-color: #164e3b;
        color: #f8fcff;
    }
}
@media (max-width: @screen-xs-min) {
  .modal-xs { width: @modal-xs; }
}
