<!DOCTYPE html>
{% load analytical %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% analytical_head_top %}
	{% load staticfiles %}
	{% load i18n %}
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}">
	<meta property="og:title" content="{% trans 'Professional Instagram Analyzer • InProbes' %}"/>
	<meta property="og:description" content="{% blocktrans %}Analyze your Instagram account like professionals, manage Instagram campaigns and get dipper inside your audiences statistics{% endblocktrans %}"/>
	<meta property="og:image" content="https://inprobes.com/static/index/img/logo/social.png"/>
	<meta name="keywords" content="Professional Instagram account analyzer, hold or manage campaigns with specific hashtags, audiences statistics">
	<title>InProbes • {{request.user|title}}</title>

	<link rel="shortcut icon" href="{% static 'index/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'index/favicon.ico' %}" type="image/x-icon">
	<link href='{% static "index/assets/css/bootstrap.css" %}' rel="stylesheet"/>
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link href='{% static "index/assets/js/morris/morris-0.4.3.min.css" %}' rel="stylesheet"/>
	<link href='{% static "index/assets/css/custom.css" %}' rel="stylesheet"/>
	{% block css %}{% endblock %}
	{% get_current_language_bidi as bidi %}
	{% if bidi %}
	<link href='{% static "index/assets/css/RTL.css" %}' rel="stylesheet"/>
	{% endif %}
	{% analytical_head_bottom %}
</head>
<body>
{% analytical_body_top %}
<div id="wrapper">
	{% include 'dashboard/widgets/nav_top.html' %}
	{% include 'dashboard/widgets/nav_side.html' %}
	<div id="page-wrapper">
		{% include 'dashboard/widgets/messages_section.html' %}
		{% block content %}{% endblock %}
	</div>
</div>
<script src='{% static "index/assets/js/jquery-1.10.2.js" %}'></script>
<script src='{% static  "index/assets/js/bootstrap.min.js" %}'></script>
<script src='{% static  "index/assets/js/jquery.metisMenu.js" %}'></script>
<script src='{% static "index/assets/js/morris/raphael-2.1.0.min.js" %}'></script>
<script src='{% static "index/assets/js/morris/morris.js" %}'></script>
<script src='{% static "index/assets/js/emoji.js" %}'></script>
<script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
<script src='{% static "index/assets/js/custom.js" %}'></script>
{% block charts %}{% endblock %}
{% block script %}{% endblock %}
{% analytical_body_bottom %}
</body>
</html>
