{% extends 'dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
<div id="page-inner">
	{% include 'dashboard/widgets/account_stat.html' %}
	<hr>
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="panel panel-primary text-center no-boder bg-color-note1" style="height: 433px;">
				<div class="panel-body banner-body">
					<div class='row'>
						<h3>Monitor #Hashtag</h3>
						<p>Define your #hashtag and monitor all posts published by this hashtag<br>Ask your followers to tag your account in their posts and views posts here<br>Process data on categorized posts and view the results in the panel</p>
					</div>
					<br>
					<br>
					<div class='row'>
						<a href="{% url 'create_hashtag' %}"  class="btn btn-danger btn-lg">Create Campaign</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12 col-xs-12">
			{% include 'dashboard/widgets/charts/line_chart.html' %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			{% include 'dashboard/widgets/charts/most_popular_posts_table.html' %}
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="panel panel-primary text-center no-boder bg-color-note1" style="height: 433px;">
				<div class="panel-body banner-body">
					<div class='row'>
						<h3>Process Comments</h3>
						<p>Define your preferred post and ask your customers to comment on it<br>Read and process comments easily</p>
					</div>
					<br>
					<br>
					<div class='row'>
						<a href="{% url 'create_comment_step_1' %}" class="btn btn-danger btn-lg">Create Campaign</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block charts %}
{% load staticfiles %}
<script type="text/javascript">
	var linedata = [{% for media in chart %}{m: '{{media.timestamp|date:"M-d"|safe}}', l: {{media.like_count|safe}}, c: {{media.comments_count|safe}}}{% if not forloop.last %},{% endif %}{% endfor %}];
</script>
<script src='{% static "index/assets/js/dashboard-charts.js" %}'></script>

{% endblock %}
