{% extends 'dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
<div id="page-inner">
	<div class='row'>
		<div class='col-md-12 col-sm-12 col-xs-12'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h3 class='text-center'>{{context.ticket.subject}}</h3>
				</div>
				<div class='panel-body'>
					<div class='col-md-4'>{% trans 'Periority' %}: {% trans context.ticket.show_periority %}</div>
					<div class='col-md-4'>{% trans 'Status' %}: {% trans context.ticket.show_status %}</div>
					<div class='col-md-4'>{% trans 'Relevant' %}: {% trans context.ticket.show_relevant %}</div>
					<hr>
					<ul class="chat-box">
						<li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            {% if request.user.userprofile.profile_pic %}
                                                <img src='{{request.user.userprofile.profile_pic.url}}' alt="User" class="img-circle ticket-img"/>
                                            {% elif request.user.userprofile.insta_id.profile_picture %}
                                                <img src='{% static "index/assets/img/find_user.png" %}' alt="User" class="img-circle ticket-img"/>
                                            {% else %}
                                                <img src="{{request.user.userprofile.instagram_id.profile_picture}}" alt="User" class="img-circle ticket-img">
                            
                                            {% endif %}
                                        </span>
							<div class="chat-body">
								<strong>{{context.ticket.user}}</strong>
								<small class="pull-right text-muted">
									<i class="fa fa-clock-o fa-fw"></i>{{context.ticket.created_time}}
								</small>
								<p>
									{{context.ticket.message}}
								</p>
							</div>
						</li>
						{% for response in context.responses %}
						{% ifequal response.user context.ticket.user %}
						<li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            {% if request.user.userprofile.profile_pic %}
                                                <img src='{{request.user.userprofile.profile_pic.url}}' alt="User" class="img-circle ticket-img"/>
                                            {% elif request.user.userprofile.insta_id.profile_picture %}
                                                <img src='{% static "index/assets/img/find_user.png" %}' alt="User" class="img-circle ticket-img"/>
                                            {% else %}
                                                <img src="{{request.user.userprofile.instagram_id.profile_picture}}" alt="User" class="img-circle ticket-img">
                                            {% endif %}
                                        </span>
							<div class="chat-body">
								<strong>{{response.user}}</strong>
								<small class="pull-right text-muted">
									<i class="fa fa-clock-o fa-fw"></i>{{response.date}}
								</small>
								<p>
									{{response.text|safe}}
								</p>
							</div>
						</li>
						{% else %}
						<li class="right clearfix ticket-response">
                                        <span class="chat-img pull-right">
                                            <img src='{% static "index/assets/img/Instagram-1.jpg" %}' class="img-circle ticket-img">
                                        </span>
							<div class="chat-body">
								<strong class='pull-right'>{{response.user}}</strong>
								<small class="pull-left text-muted">
									<i class="fa fa-clock-o fa-fw"></i>{{response.date}}
								</small>
								<br>
								<p class='pull-right'>
									{{response.text|safe}}
								</p>
							</div>
						</li>
						{% endifequal %}
						{% endfor %}

					</ul>


					{% if context.result %}
					<h2 class='ticket-success text-center'>{% blocktrans %}Your message sent successfully {% endblocktrans %}</h2>
					{% elif context.error %}
					<h2 class='ticket-error text-center'>{% blocktrans %}There is an error, please try again {% endblocktrans %}</h2>
					{% endif %}


					<form role='form' action='' method='POST'>
						{% csrf_token %}
						<div class='row'>
							<div class='col-md-12 col-sm-12 col-xs-12'>
								<label for='text'>{% trans 'Response' %}</label>
								{{context.response_form.text}}
							</div>
						</div>
						<br>
						{{context.response_form.captcha}}
						<button type="submit" class="btn btn-default">{% blocktrans %}Submit Message{% endblocktrans %}</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- /. PAGE INNER  -->
</div>


{% endblock %}
