{% extends 'dashboard/admin_base.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
<div id="page-inner">
	<div class="col-md-3 col-xs-12 col-sm-12 col-lg-6"></div>
	<div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 create-hashtag-box">
		<div class="input-group hashtag-content">
			<input type="text" name="hashtag" size="30" id="monitorHashtag" class="form-control input-p" placeholder="{% trans 'Enter your preferred hashtag, without trailing `#`' %}" required>
			<span class="input-group-btn">
                <button id="checkHashtag" class="btn btn-secondary btn-analyze-hashtag" data-loading-text="<i class='fa fa-spinner fa-spin '></i> {% trans 'Fetching data' %}" type="button">{% trans 'Check hashtag' %}</button>
              </span>
		</div>
		<!-----result-search----->
		<div class="result-search" id="checkResult">
			<form role="form" id="campaignForm" style="display:none;" method="POST" action="">
				{% csrf_token %}
				<div class="form-group">
					<label>{% blocktrans %}Campaign hashtag{% endblocktrans %}</label>
					<input class="form-control" name="hashtagName" id="hashtagName" disabled>
					<p class="help-block">{% blocktrans %}Hashtag which your participants should use during campaign.{% endblocktrans %}</p>
				</div>
				<div class="form-group">
					<label>{% blocktrans %}Should users tag your account?{% endblocktrans %}</label>
					<div class="radio inline-box">
						<label>
							<input type="radio" name="tagUser" id="tagUser1" value="yes" checked="">{% trans 'Yes' %}
						</label>
					</div>
					<div class="radio inline-box">
						<label>
							<input type="radio" name="tagUser" id="tagUser2" value="no">{% trans 'No' %}
						</label>
					</div>
				</div>
				<div class="form-group">
					<label>{% blocktrans %}How should best post being selected?{% endblocktrans %}</label>
					<div class="radio inline-box">
						<label>
							<input type="radio" name="rate"  value="1" checked="">{% trans 'Like' %}
						</label>
					</div>
					<div class="radio inline-box">
						<label>
							<input type="radio" name="rate"  value="2">{% trans 'Comment' %}
						</label>
					</div>
					<div class="radio inline-box">
						<label>
							<input type="radio" name="rate"  value="3">{% trans 'both(like+Comment)' %}
						</label>
					</div>
				</div>
				<button type="submit" class="btn-campaign btn-gradient-campaign"> {% trans 'Submit campaign' %}</button>
			</form>
		</div>
	</div>
	<div class="col-md-3 col-xs-12 col-sm-12 col-lg-6"></div>
</div>
{% endblock %}

{% block script %}
<script>
    $('#checkHashtag').click(function(event) {
        event.preventDefault();
        var $this = $(this);
        $this.button('loading');
        $.ajax({
           url: '/dashboard/hashtag/create',
           data: {
              hashtag: $('#monitorHashtag').val()
           },
           success: function(data) {
              console.log(data);
	          $this.button('reset');
	          $('#campaignForm').css('display', 'gride');
              document.getElementById("hashtagName").value = data.name;
              $('#campaignForm').append($('<input>').attr({type: 'hidden', id: 'hashtagId', name: 'hashtagId', value: data.data[0].id}));
           },
           error: function(data) {
           $this.button('reset');
              console.log(data.responseText)
              $('#checkResult').html('<p class="camp-result"></p>');
              $('#checkResult p').append(data.responseText);
           },
           type: 'GET'
        });

    });


</script>
{% endblock %}