{% extends 'index/dashboard/admin_base.html' %}

{% block content %}
{% load i18n %}
         <div id="page-wrapper" >
            <div id="page-inner">
                <div class='text-center'>
                    {% for message in messages %}
                        <h4>{{ message }}</h4>
                    {% endfor %}

                    {% if not profile.has_instagram %}
                        <form action='{% url "update_token" %}' method='GET'>
                            {% csrf_token %}
                            <button type = 'submit' class="btn btn-lg btn-success btn-main" role="button"><i class="fa fa-instagram" style="margin-left: 8px;"></i>{% blocktrans %} Sign in with your Instagram account here{% endblocktrans %}</button>
                        </form>
                    {% elif not profile.confirm %}
                        <form action='{% url "complete_registration"%}' method='POST'>
                            {% csrf_token %}
                            <h5>{% blocktrans %}If you don't received email, click link below please{% endblocktrans %}</h5>
                            <button type = 'submit' class="btn btn-lg btn-success btn-main" role="button"><i class="fa fa-envelope" style="margin-left: 8px;"></i>{% blocktrans %} Send Conformation Email Again{% endblocktrans %}</button>
                        </form>
                        <a href="{% url 'festival_form' %}" class="btn btn-success btn-main btn-lg">Create your Festival now!</a>
                    {% elif profile.parsed %}
                        <a clashref="{% url 'dashboard' %}" class="btn btn-lg btn-success btn-main">Click here to view your Dashboard</a>
                    {% endif %}
                </div>
             </div>
         </div>
{% endblock %}
