    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% load i18n %}{% autoescape off %}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>InProbes</title>
      <style type="text/css">
      body {
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       margin:0 !important;
       width: 100% !important;
       -webkit-text-size-adjust: 100% !important;
       -ms-text-size-adjust: 100% !important;
       -webkit-font-smoothing: antialiased !important;
     }
     .tableContent img {
       border: 0 !important;
       display: block !important;
       outline: none !important;
     }
     a{
      color:#382F2E;
    }

    p, h1{
      color:#382F2E;
      margin:0;
    }
 p{
      text-align:left;
      color:#999999;
      font-size:14px;
      font-weight:normal;
      line-height:19px;
    }

    a.link1{
      color:#f8fcff;
    }
    a.link2{
      font-size:16px;
      text-decoration:none;
      color:#268363;
    }

    h2{
      text-align:left;
       color:#222222;
       font-size:19px;
      font-weight:normal;
    }
    div,p,ul,h1{
      margin:0;
    }

    .bgBody{
      background: #ffffff;
    }
    .bgItem{
      background: #ffffff;
    }

@media only screen and (max-width:480px)

{

table[class="MainContainer"], td[class="cell"]
	{
		width: 100% !important;
		height:auto !important;
	}
td[class="specbundle"]
	{
		width:100% !important;
		float:left !important;
		font-size:13px !important;
		line-height:17px !important;
		display:block !important;
		padding-bottom:15px !important;
	}

td[class="spechide"]
	{
		display:none !important;
	}
	    img[class="banner"]
	{
	          width: 100% !important;
	          height: auto !important;
	}
		td[class="left_pad"]
	{
			padding-left:15px !important;
			padding-right:15px !important;
	}

}

@media only screen and (max-width:540px)

{

table[class="MainContainer"], td[class="cell"]
	{
		width: 100% !important;
		height:auto !important;
	}
td[class="specbundle"]
	{
		width:100% !important;
		float:left !important;
		font-size:13px !important;
		line-height:17px !important;
		display:block !important;
		padding-bottom:15px !important;
	}

td[class="spechide"]
	{
		display:none !important;
	}
	    img[class="banner"]
	{
	          width: 100% !important;
	          height: auto !important;
	}
	.font {
		font-size:18px !important;
		line-height:22px !important;

		}
		.font1 {
		font-size:18px !important;
		line-height:22px !important;
		}
}

    </style>
<script type="colorScheme" class="swatch active">
{
    "name":"Default",
    "bgBody":"ffffff",
    "link":"382F2E",
    "color":"999999",
    "bgItem":"ffffff",
    "title":"222222"
}
</script>
  </head>
  <body paddingwidth="0" paddingheight="0"   style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
    <table bgcolor="#f8fcff" width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent" align="center"  style='font-family:Arial,serif;'>
  <tbody>
    <tr>
      <td><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#268363" class="MainContainer">
  <tbody>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" width="40">&nbsp;</td>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <!-- =============================== Header ====================================== -->
    <tr>
    	<!--<td height='75' class="spechide" style=" padding-top:50px; padding-left:60px;"><img src="images/logo-white.png" width='400' height='150' alt='' data-default="placeholder" data-max-width="560" alt=""/> </td>-->

        <!-- =============================== Body ====================================== -->
    </tr>
   <br>
    <tr>
      <td class='movableContentContainer ' valign='top'>
      	<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="35"></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" class="specbundle"><div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">
                                  <p style='text-align:center;margin:0;font-family:Arial,Georgia,Time,sans-serif;font-size:36px;color:#f8fcff;'><span class="font">{% blocktrans %}<a style='text-align:center;margin:0;font-family:Arial,Georgia,Time,sans-serif;font-size:36px;color:#f8fcff;text-decoration:none;' href="http://inprobes.com">{{ site_name }}</a> </span> {% endblocktrans %}</p>
                                </div>
                              </div></td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
  </tbody>
</table>
        </div>
        <br>
          <br>

        <div class="movableContent" style="border: 0px; padding-top: 0px; background-color:#268363; color:#f8fcff;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

                          <tr><td height='15'> </td></tr>

                          <tr>
                            <td align='left'>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" align='center'>
                                  <p style="font-family:Arial,serif; line-height:25px; font-size:16px; color:#f8fcff; padding: 15px; text-align:justify;">
                                    {% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
                                      <br>
                                      {% trans "Please click on the following button and choose a new password:" %}
                                  </p>
                                </div>
                              </div>
                            </td>
                          </tr>

                          <tr><td height='55'></td></tr>

                          <tr>
                            <td align='center'>
                              <table>
                                <tr>
                                  <td align='center' bgcolor='#1A54BA' style='background:#f8fcff; padding:15px 18px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;'>
                                    <div class="contentEditableContainer contentTextEditable">
                                      <div class="contentEditable" align='center'>
                                        <a target='_blank' href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class='link2' style='font-family:Arial; color:#268363;'>{% blocktrans %}Reset Password{% endblocktrans %}</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>


                          <tr>
                            <td align='left'>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" align='center'>
                                  <p style="font-family:Arial,serif; line-height:25px; font-size:16px; color:#f8fcff; padding: 15px; text-align:justify;">
                                    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
                                      <br>
                                      {% trans "Thanks for using our site!" %}
                                      {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
                                  </p>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr><td height='20'></td></tr>
                        </table>
        </div>
          <table>
              <tbody>
                <tr>
                  <td height='10'>
                </tr>
                <tr>
                  <td  style='border-bottom:1px solid #f8fcff; width:700px;'></td>
                </tr>
          </table>
        <div class="movableContent" style=" border: 0px; padding-top: 0px; padding-left:55px;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tr><td height='25'></td></tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr  style="padding-left:60px;">
                    <div>
                  <!--<td valign='top' width='52'>-->
                                                <!--<div class="contentEditableContainer contentFacebookEditable">-->
                                                  <!--<div class="contentEditable">-->
                                                    <!--<a target='_blank' href="#facebook"><img src="images/facebook.png" width='52' height='53' alt='facebook icon' data-default="placeholder" data-max-width="52" data-customIcon="true"></a>-->
                                                  <!--</div>-->
                                                <!--</div>-->
                                              <!--</td>-->
                  <!--<td valign='top' width='52'>-->
                                                <!--<div class="contentEditableContainer contentTwitterEditable">-->
                                                  <!--<div class="contentEditable">-->
                                                    <!--<a target='_blank' href="#twitter"><img src="images/twitter.png" width='52' height='53' alt='twitter icon' data-default="placeholder" data-max-width="52" data-customIcon="true"></a>-->
                                                  <!--</div>-->
                                                <!--</div>-->
                                              <!--</td>-->
                    <!--<td valign='top' width='52'>-->
                                                <!--<div class="contentEditableContainer contentTwitterEditable">-->
                                                  <!--<div class="contentEditable">-->
                                                    <!--<a target='_blank' href="#instagram"><img src="images/instagram.png" width='52' height='53' alt='twitter icon' data-default="placeholder" data-max-width="52" data-customIcon="true"></a>-->
                                                  <!--</div>-->
                                                <!--</div>-->
                                              <!--</td>-->
                     <!--<td valign='top' width='52'>-->
                                                <!--<div class="contentEditableContainer contentFacebookEditable">-->
                                                  <!--<div class="contentEditable">-->
                                                    <!--<a target='_blank' href="#telegram"><img src="images/telegram.png" width='52' height='53' alt='facebook icon' data-default="placeholder" data-max-width="52" data-customIcon="true"></a>-->
                                                  <!--</div>-->
                                                <!--</div>-->
                                              <!--</td>-->
                    </div>
                </tr>
              <tbody>
                <tr>

                  <td valign="top" width="30" class="specbundle">&nbsp;</td>
                  <td valign="top" class="specbundle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                  </tbody>

                </table>
                </table>

                </tbody>
                </table>
                  <td valign="top" width="40">&nbsp;</td>
                </tr>
              </tbody>
            </table>

{% endautoescape %}
    </body>
</html>
