{% extends 'index/base_page.html' %}

{% block content %}
{% load i18n %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1 text-center">
                <h2 class="section-heading">{% for message in context.messages %}{% trans message %}{%endfor%}</h2>
                <br>
                <form class="form-horizontal" role="form" action='{{request.path}}' method='POST' id='login_form'>
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group margin-bottom-sm col-lg-8 col-lg-offset-2">
                            <span class="input-group-addon"><i class="fa fa-user-circle-o fa-fw"></i>| <i class="fa fa-at" aria-hidden="true"></i></span>
                            <input type='text' name='email' size='50' class='form-control' placeholder="{% trans 'Username or Email' %}"/>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block btn-login">{% trans 'Recover'%}</button>
                </form>
                <h4>{% blocktrans %}Don't have an account yet?{% endblocktrans %} <a href='{% url "register" %}'><b>{% blocktrans %}Register here{% endblocktrans %}</b></a></h4>
            </div>
        </div>
    </div>
</section>

{% endblock %}