<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" href='{% static "index/css/bootstrap.min.css" %}'>
		<link type="text/css" rel="stylesheet" href="{% static 'account/main.css' %}"/>
		<title></title>
	</head>
	<body>
		<form class="form-place" action="" method="POST">
			{% csrf_token %}
			 {{form.subject}}<br>
			 <!--<textarea class="area-place" name="body">-->
			 <!--</textarea>-->
			 {{form.body}}
				<div class="btn-group">
					<button type="submit" class="btn btn-success btn-style">Send Message</button>
				</div>
			<div>
				<div class="btn-group">
  				<button type="button" class="btn btn-danger btn-style">Send Test</button>
			</div></div>
		</form>
	</body>
</html>