{% extends 'index/dashboard/admin_base.html' %}

{% load i18n %}
{% block content %}
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="panel panel-default">
                <div class="panel-header">
                    <center><h3>اطلاعات خرید شما</h3></center>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>{% trans 'Title' %}: {{context.purchase.package.title}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>{% trans 'Final price' %}: {{context.purchase.payment.amount}} تومان</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>{% trans 'Description' %}: {{context.purchase.package.description|safe}}</p>
                        </div>
                        {% if context.purchase.payment.is_paid %}
                        <div class="col-md-6">
                            <p>{% trans 'Payment status' %}: <span class="success-span">{% trans 'Payment was successful' %}</span></p>
                        </div>
                            <div class="col-md-12 text-center"><p>{% blocktrans %}Transaction was successful and your authorize code is {% endblocktrans%} {{context.purchase.payment.ref_id}}</p></div>
                        {% else %}
                            <div class="col-md-6">
                                <p>{% trans 'Payment status' %}: <span class="not-success-span">{% trans 'Payment is not done' %}</span></p>
                            </div>
                            <div class="col-md-6">{% trans 'Select your gateway' %}:</div>
                            {% for gateway in context.gateways %}
                                <div class="col-md-2 text-center">
                                    <a href="{% url 'connect_to_gateway' invoice_number=context.purchase.payment.invoice_number gid=gateway.id %}">
                                        <img src="{{gateway.logo.url}}" class="img-responsive bank-logo">
                                        {{gateway.title}}
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




