﻿{% extends 'index/dashboard/admin_base.html' %}

    {% block content %}
    {% load i18n %}
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h2>{% blocktrans %}Charts{% endblocktrans %}</h2>   
                            <h5>{% blocktrans %}Last update{% endblocktrans %} : {{request.user.userprofile.instagram_id.last_update}} <a formmethod="post" type='submit' class="btn btn-default" role="button" href='{% url "get_media" %}?next={{request.path}}'><i class="fa fa-instagram"></i>
 {% blocktrans %}UPDATE NOW{% endblocktrans %}</a>
                            </h5>
                        </center>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
             
                <div class="row"> 
                    
                      
                               <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bar Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-bar-chart-2"></div>
                        </div>
                    </div>            
                </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Area Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-area-chart-2"></div>
                        </div>
                    </div>            
                </div> 
                
           </div>
                 <!-- /. ROW  -->
                <div class="row">                     
                      
                <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Donut Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart-2"></div>
                        </div>
                    </div>            
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Line Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-line-chart-2"></div>
                        </div>
                    </div>            
                </div> 
                
           </div>
                 <!-- /. ROW  -->
                 <!-- /. ROW  -->
                <div class="row">                     
                      
                <div class="col-md-3 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Donut Chart 2 Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart-3"></div>
                        </div>
                    </div>            
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Donut Chart 3 Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart-4"></div>
                        </div>
                    </div>            
                </div> 
                <div class="col-md-3 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Donut Chart 4 Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart-5"></div>
                        </div>
                    </div>            
                </div> 
                <div class="col-md-3 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Donut Chart 5 Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart-6"></div>
                        </div>
                    </div>            
                </div> 
           </div>
                 <!-- /. ROW  -->
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->

{% endblock %}

{% block charts %}

    {% load staticfiles %}
    <script type="text/javascript">
        var bardata = [{
                    y: '2006',
                    a: 100,
                    b: 90
                }, {
                    y: '2007',
                    a: 75,
                    b: 65
                }, {
                    y: '2008',
                    a: 50,
                    b: 40
                }, {
                    y: '2009',
                    a: 75,
                    b: 65
                }, {
                    y: '2010',
                    a: 50,
                    b: 40
                }, {
                    y: '2011',
                    a: 75,
                    b: 65
                }, {
                    y: '2012',
                    a: 100,
                    b: 90
                }]
    </script>
    <script src='{% static "index/assets/js/charts.js" %}'></script>

{% endblock %}