<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <link href='{% static "report/css/style.css" %}' rel=stylesheet>
    <!--<link rel="stylesheet" href='{% static "report/font-awesome-4.7.0/css/font-awesome.min.css" %}'>-->
</head>
<body>
  <!--<div class="book">-->
    <!-------first-page--->
    <div class="page">
      <div class="subpage">
        <div class="row-inprobes">
          <embed src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/inp-doc-ptich-brand.png" alt="inprobes" class="inprobes">
        </div>
        <br>
        <br>
        <br>
        <div class="row-inprobes-detail">
          <h2>گزارش  مرتبط با هشتگ های استفاده شده در اینستاگرام</h2>
          <h1>#بینظیره</h1>
          <br>
          <p>تاریخ شروع  :  1 مهر 1396</p>
          <p>تاریخ پایان : 10 آبان 1396</p>
          <br>
          <p class="p-inprobes">نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!------posts-3chart--->
        <!---1---->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <ul class="detail-other">
              <li>تعداد پست ها</li>
              <li>464</li>
            </ul>
            <ul class="detail-other">
              <li>فاصله زمانی  استفاده </li>
              <li>3 ماه و 10 روز </li>
            </ul>
            <ul class="detail-other">
              <li>شلوغ ترین ماه استفاده</li>
              <li>بهمن</li>
            </ul>
            <ul class="detail-other">
              <li>تغییرات استفاده</li>
              <li>777</li>
            </ul>
          </div>
          <div class="row">
            <h2>تعداد پست ها</h2>
            <embed class="img-feature" src="file://{{time_change_post_path}}"/>
            <!--<img class="img-feature" src="chart5.png" alt="inprobes">-->
          </div>
        <div class="logo">
          <!--<embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes"/>-->
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!-----2---->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <ul class="detail-other">
              <li>تعداد پست ها</li>
              <li>464</li>
            </ul>
            <ul class="detail-other">
              <li>فاصله زمانی  استفاده </li>
              <li>3 ماه و 10 روز </li>
            </ul>
            <ul class="detail-other">
              <li>شلوغ ترین ماه استفاده</li>
              <li>بهمن</li>
            </ul>
            <ul class="detail-other">
              <li>تغییرات استفاده</li>
              <li>777</li>
            </ul>
        </div>
        <div class="row">
          <h2>فراوانی عکس و ویدیو</h2>
          <img class="img-feature" src="chart6.png" alt="inprobes">
        </div>
        <div class="logo">
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes"/>
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!-----3---->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <ul class="detail-other">
              <li>تعداد پست ها</li>
              <li>464</li>
            </ul>
            <ul class="detail-other">
              <li>فاصله زمانی  استفاده </li>
              <li>3 ماه و 10 روز </li>
            </ul>
            <ul class="detail-other">
              <li>شلوغ ترین ماه استفاده</li>
              <li>بهمن</li>
            </ul>
            <ul class="detail-other">
              <li>تغییرات استفاده</li>
              <li>777</li>
            </ul>
        </div>
        <div class="row">
          <h2>نمودار رشد تعداد</h2>
          <img class="img-feature" src="chart61.png" alt="inprobes">
        </div>
        <div class="logo">
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!------ilke and comment-2chart--->
        <!-----1--->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <ul class="detail">
              <li>مجموع لایک ها</li>
              <li>83k</li>
            </ul>
            <ul class="detail">
              <li>مجموع کامنت ها</li>
              <li>20k </li>
            </ul>
            <ul class="detail">
              <li>میانگین لایک</li>
              <li>3k</li>
            </ul>
            <ul class="detail">
              <li>میانگین کامنت</li>
              <li>1k</li>
            </ul>
        </div>
        <div class="row">
          <h2>نمودار میزان مشارکت</h2>
          <img class="img-feature" src="chart5.png" alt="inprobes">
        </div>
        <div class="logo">
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!-----2--->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <ul class="detail">
              <li>مجموع لایک ها</li>
              <li>83k</li>
            </ul>
            <ul class="detail">
              <li>مجموع کامنت ها</li>
              <li>20k </li>
            </ul>
            <ul class="detail">
              <li>میانگین لایک</li>
              <li>3k</li>
            </ul>
            <ul class="detail">
              <li>میانگین کامنت</li>
              <li>1k</li>
            </ul>
        </div>
        <div class="row">
          <h2>نمودار نرخ مشارکت</h2>
          <img class="img-feature" src="chart6.png" alt="inprobes">
        </div>
        <div class="logo">
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!-------location----->
        <!---1---->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <h2>لوکیشن های استفاده کننده از هشتگ مورد نظر</h2>
          </div>
        <div class="row">
          <h2>نمودار فراوانی مکان ها</h2>
          <img class="img-feature" src="chart61.png" alt="inprobes">
        </div>
        <div class="logo">
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!-------hashtag-3chart----->
        <!---1---->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <ul class="detail-other">
              <li>تعداد هشتگ همراه</li>
              <li>83k</li>
            </ul>
            <ul class="detail-other">
              <li>بیشترین استفاده</li>
              <li>20k </li>
            </ul>
            <ul class="detail-other">
              <li>کمترین استفاده</li>
              <li>3k</li>
            </ul>
            <ul class="detail-other">
              <li>میانگین استفاده</li>
              <li>1k</li>
            </ul>
        </div>
        <div class="row">
          <h2>نمودار فراوانی سایر هشتگ ها در پست ها با هشتگ مورد نظر </h2>
          <img class="img-feature" src="chart61.png" alt="inprobes">
        </div>
        <div class="logo">
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!---2---->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <ul class="detail-other">
              <li>تعداد هشتگ همراه</li>
              <li>83k</li>
            </ul>
            <ul class="detail-other">
              <li>بیشترین استفاده</li>
              <li>20k </li>
            </ul>
            <ul class="detail-other">
              <li>کمترین استفاده</li>
              <li>3k</li>
            </ul>
            <ul class="detail-other">
              <li>میانگین استفاده</li>
              <li>1k</li>
            </ul>
        </div>
        <div class="row">
          <h2>نمودار فراوانی سایر هشتگ ها در مقیاس جهانی</h2>
          <img class="img-feature" src="chart6.png" alt="inprobes">
        </div>
        <div class="logo">
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!---3---->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <ul class="detail-other">
              <li>تعداد هشتگ همراه</li>
              <li>83k</li>
            </ul>
            <ul class="detail-other">
              <li>بیشترین استفاده</li>
              <li>20k </li>
            </ul>
            <ul class="detail-other">
              <li>کمترین استفاده</li>
              <li>3k</li>
            </ul>
            <ul class="detail-other">
              <li>میانگین استفاده</li>
              <li>1k</li>
            </ul>
        </div>
        <div class="row">
          <h2>word-graphy</h2>
          <img class="img-feature" src="chart5.png" alt="inprobes">
        </div>
        <div class="logo">
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!-------account-3chart---->
        <!---1---->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <ul class="detail-other">
              <li>مجموع ارسال کننده</li>
              <li>83k</li>
            </ul>
            <ul class="detail-other">
              <li>بیشترین ارسال کننده</li>
              <li>20k </li>
            </ul>
            <ul class="detail-other">
              <li>کمترین ارسال کننده</li>
              <li>3k</li>
            </ul>
            <ul class="detail-other">
              <li>میانگین ارسال کننده</li>
              <li>1k</li>
            </ul>
        </div>
        <div class="row">
          <h2>نمودار فراوانی افراد ارسال کننده</h2>
          <img class="img-feature" src="chart61.png" alt="inprobes">
        </div>
        <div class="logo">
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
        <!----2------>
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <h2>اکانت های برتر</h2>
        </div>
        <div class="row-10img">
          <ul class="row-img">
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
          </ul>
        </div>
<!------------->
        <div class="row-10img">
          <ul class="row-img">
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
          </ul>
        </div>
          <div class="logo-page-img">
            <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
            <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
          </div>
      </div>
    </div>
    <!----------3------->
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <h2>محبوب ترین اکانت ها</h2>
        </div>
        <div class="row">
          <ul class="row-img-1">
            <li class="img-detail-1">
              <img class="img-page-1" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>2k <i class="fa fa-users" aria-hidden="true"></i></p>
            </li>
            <li class="img-detail-1">
              <img class="img-page-1" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>2k <i class="fa fa-users" aria-hidden="true"></i></p>
            </li>
            <li class="img-detail-1">
              <img class="img-page-1" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>2k <i class="fa fa-users" aria-hidden="true"></i></p>
            </li>
          </ul>
        </div>
        <div class="logo">
          <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
          <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
        </div>
      </div>
    </div>
    <!----best posts-1------>
    <div class="page">
        <div class="subpage">
          <div class="row-top">
            <h2>محبوب ترین پست ها</h2>
        </div>
        <div class="row-10img">
          <ul class="row-img">
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
          </ul>
        </div>
    <!------------->
        <div class="row-10img">
          <ul class="row-img">
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>       5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
            <li class="img-detail">
              <img class="img-page" src="chart61.png" alt="inprobes">
              <h4>@daryasary</h4>
              <p>3k &nbsp &nbsp <i class="fa fa-comment" aria-hidden="true"></i>  5k<i class="fa fa-heart" aria-hidden="true"></i> </p>
            </li>
          </ul>
        </div>
          <div class="logo-page-img">
            <!--<img class="logo-img" alt="inprobes" src="logo.png">-->
          <embed class="logo-img" alt="inprobes" src="file:///home/hosein/PycharmProjects/inp/main/static/report/images/logo/logo.png" alt="inprobes" class="inprobes">
            <p>نمونه آزمایشی نسخه بتا، طراحی و توسعه:‌ تیم اینپروبز</p>
          </div>
      </div>
    </div>
<!------------------>
    <div class="page">
      <div class="subpage">
      </div>
    </div>
<!------------------>
  <!--</div>-->
</body>
</html>
