{% extends 'index/dashboard/admin_base.html' %}

{% load i18n %}
{% block content %}
			<div id="page-wrapper" >
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-6">
                          <div class="well well-lg text-center" style="margin:5%">
                              <h3>Capmaign</h3>
                              <p>Advertising campaigns have effective role in development of brands. Imagine you are planning to progress your brand and your hashtags are publishing between audience. Now you need to know this hashtags how much have been used by users and audience and how successful in this campaigns. InProbes tools help you to get statistics moment your advertising campaign performance and to be during their growth.</p>
                              <br><br>
                              <a href='/festival.html' type="button" class="btn btn-success btn-main btn-lg" data-toggle="modal" data-target="#FestivalPackagesModal">CREATE NEW CAMPAIGN BUTTON</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="well well-lg text-center" style="margin:5%">
                              <h3>Festival</h3>
                              <p>Certainly at every festival and competition what makes the audience trust are the exact and honest progress of their organizers. Think you are going to hold Instagram festival. This festival have special complications for example control time of holding festival; the audience favorites of each post that is in festival; find winner; the momentary control likes of each post… My offer for you is the powerful and statistics tools “InProbes” that it can get this information exact; simple and automatic and show the s condition of participants.</p>
                              <br><br>
                              <a href="{% url 'festival_form' %}" class="btn btn-success btn-main btn-lg">CREATE NEW FESTIVAL BUTTON</a>
                            </div>
                        </div>
	                </div>
	            </div>
	        </div>
{% endblock %}